<div class="info_title">
  Especie introducida
</div>
<div class="info_content">
  
  <% unless especie_introducida.ESP_INT_TIPO.blank? %>
    <div>
      <strong>Tipo de especies:</strong>
      <%= especie_introducida.ESP_INT_TIPO %>
    </div>
  <% end %>

  <% unless especie_introducida.ESP_INT_ESPECIE.blank? %>
    <div>
      <strong>Especies:</strong>
      <%= especie_introducida.ESP_INT_ESPECIE %>
    </div>
  <% end %>

  <% if especie_introducida.ESP_INT_TIPO == "Flora" and not especie_introducida.ESP_INT_EXT_PLANTACION.blank? %>
    <div>
      <strong>Extensión de la plantación (flora):</strong>
      <%= especie_introducida.ESP_INT_EXT_PLANTACION %> ha
    </div>
  <% end %>

  <% if especie_introducida.ESP_INT_TIPO == "Fauna" and not especie_introducida.ESP_INT_EXT_POBLACION.blank? %>
    <div>
      <strong>Población estimada (fauna):</strong>
      <%= especie_introducida.ESP_INT_EXT_POBLACION %> ind/lugar
    </div>
  <% end %>

</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Editar', edit_admin_area_protegida_especie_introducida_path(@area_protegida, especie_introducida.amenaza), :class => "editar_edit", :remote => true %>
    <%= link_to 'Eliminar', admin_area_protegida_especie_introducida_path(@area_protegida, especie_introducida), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
  </div>
<% end %>
