<div class="especie_introducida_nested_form">
  <div class="field">
    <%= f.label :ESP_INT_TIPO, "Tipo de especies" %>
    <%= f.select :ESP_INT_TIPO, ["Flora", "Fauna"], {}, :class => "especies_introducidas_form_tipo_select" %>
  </div>

  <div class="field">
    <%= f.label :ESP_INT_ESPECIE, "Especies" %>
    <%= f.text_area :ESP_INT_ESPECIE %>
    <span class="help-inline">No puede quedar en blanco</span> 
  </div>

  <div class="field flora_plantacion_wrapper">
    <%= f.label :ESP_INT_EXT_PLANTACION, "Extensión de la plantación (flora)" %>
    <%= f.number_field :ESP_INT_EXT_PLANTACION, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor o igual a 0.
      </span> 
  </div>

  <div class="field fauna_plantacion_wrapper" style="display: none;">
    <%= f.label :ESP_INT_EXT_POBLACION, "Población estimada (fauna)" %>
    <%= f.number_field :ESP_INT_EXT_POBLACION, :placeholder => "(ind/lugar)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor o igual a 0.
      </span> 
  </div>
  <div>
    <%= f.link_to_remove "Especie introducida", :class => "delete_destroy" %>
  </div>

  <%= javascript_tag do %>
    $(function (){
      window.Helpers.EspeciesIntroducidasFormHelper.init();
    });
  <% end %>
</div>
