<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">
	  <%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
  		<div></div>
  		<% amenaza.especies_introducidas.each do |especie_introducida| %>
    		<div class="info_content">
      		<%= render 'admin/especie_introducidas/especie_introducida', especie_introducida: especie_introducida%>
    		</div>
  		<% end %>
  </div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir especies introducidas', new_admin_area_protegida_especie_introducida_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
