<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Especies introducidas</h3>

<%= render 'index', amenazas: @amenazas, show_links: true %>

<br>
<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir Amenaza: Especie introducida', new_admin_area_protegida_especie_introducida_path(@area_protegida), :class => "crear_nuevo" %>


