<div class="is_comunidad">

<div class="align_center">
  <h4><%= comunidad.COM_NOMBRE %></h4>
</div>

<% unless comunidad.COM_FECHA_LEVANTAMIENTO.blank? %>
    <div>
      <b>Levantada a la fecha:</b>
      <%= l comunidad.COM_FECHA_LEVANTAMIENTO, format: :long %>
    </div>
<% end %>

<div class="info_title">Responsable del registro:</div>
<div class="info_content"><%= comunidad.responsable_registro %></div>

<div class="info_title">Identificación de la Comunidad:</div>
<div class="info_content">
  <p>
    <b>Nombre de la Comunidad:</b>
    <%= comunidad.COM_NOMBRE %>
  </p>
  <% unless comunidad.COM_GRUPO_ETNICO_PREDOMINANTE.blank? %>
    <p>
      <b>Grupo étnico predominante:</b>
      <%= comunidad.COM_GRUPO_ETNICO_PREDOMINANTE %>
    </p>
  <% end %>
  <% unless comunidad.COM_TIPO_ORGA_SOCIAL.blank? %>
    <p>
      <b>Tipo de organización Social:</b>
      <%= comunidad.COM_TIPO_ORGA_SOCIAL %>
    </p>
  <% end %>

  <% unless comunidad.COM_LIDER_COMUNITARIO.blank? %>
    <p>
      <b>Líder Comunitario:</b>
      <%= comunidad.COM_LIDER_COMUNITARIO %>
    </p>
  <% end %>

  <% unless comunidad.COM_SUPERFICIE_APROX.blank? %>
    <p>
      <b>Superficie estimada que ocupa la comunidad:</b>
      <%= comunidad.COM_SUPERFICIE_APROX %> ha
    </p>
  <% end %>
</div>
<div class="info_title">Ubicación:</div>
<div class="info_content">
  <% unless comunidad.coordenada_norte.blank? %>
    <p>
      <b>Coordenadas UTM Norte:</b>
      <%= comunidad.coordenada_norte %>
    </p>
  <% end %>
  <% unless comunidad.coordenada_este.blank? %>
    <p>
      <b>Coordenadas UTM Este:</b>
      <%= comunidad.coordenada_este %>
    </p>
  <% end %>
  <% unless comunidad.altitud_minima.blank? and comunidad.altitud_maxima.blank? %>
    <p>
      <b>Altitud:</b>
      <% unless comunidad.altitud_maxima.blank? %>
        <%= comunidad.altitud_maxima %> msnm <small>(máx)</small>
      <% end %>
      <% unless comunidad.altitud_minima.blank? %>
        <%= comunidad.altitud_minima %> msnm <small>(min)</small>
      <% end %>
    </p>
  <% end %>
</div>

<div class="info_title">Jurisdicción:</div>
<div class="info_content">
  <p>
    <b>Provincia:</b>
    <%= comunidad.area_protegida.provincia or raw("<small>(No definido)</small>") %>
  </p>
  <p>
    <b>Cantón:</b>
    <%= comunidad.area_protegida.canton or raw("<small>(No definido)</small>") %>
  </p>
  <p>
    <b>Parroquia:</b>
    <%= comunidad.area_protegida.parroquia or raw("<small>(No definido)</small>") %>
  </p>
</div>

<div class="info_title">Localización respecto al Área Protegida:</div>
<div class="info_content">
  <%= comunidad.COM_LOCALIZACION %>
</div>

<% unless comunidad.COM_NUM_INDIVIDUOS.blank? and comunidad.COM_NUM_FAMILIAS.blank? %>
  <div class="info_title">Población aproximada:</div>
  <div class="info_content">
    <% unless comunidad.COM_NUM_FAMILIAS.blank? %>
      <p>
        <b>Número de familias:</b>
        <%= comunidad.COM_NUM_FAMILIAS %>
      </p>
    <% end %>
    <% unless comunidad.COM_NUM_INDIVIDUOS.blank? %>
      <p>
        <b>Número de individuos:</b>
        <%= comunidad.COM_NUM_INDIVIDUOS %>
      </p>
    <% end %>
  </div>
<% end %>

<% unless comunidad.COM_ACTIVIDADES.length == 0 %>
  <div class="info_title">Actividades Económicas Principales:</div>
  <div class="info_content">
    <% comunidad.COM_ACTIVIDADES.each do |actividad| %>
      <div><%= actividad %></div>
    <% end %>
    <% if comunidad.has_actividades_otros? and not comunidad.actividades_otros.blank? %>
      <div style="text-indent:1em;"><%= comunidad.actividades_otros %></div>
    <% end -%>
  </div>
<% end %>

<div class="info_title">Participación en Conservación:</div>
<div class="info_content">
  <p>
    <b>Pertenece a socio bosque:</b>
    <%= comunidad.pertenece_a_socio_bosque? ? "Sí" : "No" %>
  </p>

  <% if comunidad.pertenece_a_socio_bosque %>
    <p>
      <b>Hectáreas en socio bosque:</b>
      <%= comunidad.COM_HEC_SOCIOBOSQUE %> ha
    </p>
  <% end %>
</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to "Editar", edit_admin_area_protegida_comunidad_path(@area_protegida, comunidad), :class => "editar_edit", :remote => true %>
    <%= link_to "Eliminar", admin_area_protegida_comunidad_path(@area_protegida, comunidad), method: :delete, data: { confirm: "¿Estás seguro? Esta acción es irreversible" }, class: "delete_destroy", :remote => true %>
  </div>
<% end %>

</div>