<div class="has_container">
<%= form_for([:admin, @area_protegida, @comunidad], :remote => true) do |f| %>

  <div class="info_title">Información General</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :AREA_ID, "Área protegida" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
      <%= f.hidden_field :AREA_ID %>
    </div>
    <div class="field">
      <%= f.label :COM_FECHA_LEVANTAMIENTO, "Levantada a la fecha" %>
      <%= f.text_field :COM_FECHA_LEVANTAMIENTO, :class => "datepicker", :required => true %>
       <span class="help-inline">Comprueba que la fecha de levantamiento se haya especificado y que no sea mayor a la fecha actual.</span>
    </div>
  </div>

  <div class="info_title"><%= f.label :responsable_registro, "Responsable de Registro" %></div>
  <div class="info_content">
    <div class="field">
      <%= f.text_field :responsable_registro, :required => true %>
      <%= form_helper_not_blank %>
    </div>
  </div>

  <div class="info_title">Identificación de la Comunidad</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :COM_NOMBRE, "Nombre de la comunidad" %>
      <%= f.text_field :COM_NOMBRE, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :COM_GRUPO_ETNICO_PREDOMINANTE, "Grupo étnico predominante" %>
      <%= f.text_field :COM_GRUPO_ETNICO_PREDOMINANTE, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :COM_TIPO_ORGA_SOCIAL, "Tipo de organización Social" %>
      <%= f.text_field :COM_TIPO_ORGA_SOCIAL, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :COM_LIDER_COMUNITARIO, "Líder comunitario" %>
      <%= f.text_field :COM_LIDER_COMUNITARIO, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :COM_SUPERFICIE_APROX, "Superficie estimada que ocupa la comunidad" %>
      <%= f.number_field :COM_SUPERFICIE_APROX, :required => true, :placeholder => "(en hectáreas)", :step => "any", :min => 1 %>
      <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>
    </div>
  </div>

  <div class="info_title">Ubicación</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :coordenada_norte, "Coordenada UTM Norte" %>
      <%= f.number_field :coordenada_norte, :step => "any", :placeholder => "(en metros UTM)" %>
    </div>
    <div class="field">
      <%= f.label :coordenada_este, "Coordenada UTM Este" %>
      <%= f.number_field :coordenada_este, :step => "any", :placeholder => "(en metros UTM)" %>
    </div>
    <div>
      <%= f.label :altitud_maxima, "Altura" %>
      <%= f.number_field :altitud_maxima, :step => "any", :placeholder => "Altura máxima (msnm)" %>
      <%= f.number_field :altitud_minima, :step => "any", :placeholder => "Altura mínima (msnm)" %>
    </div>
  </div>

  <div class="info_title">Jurisdicción</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :provincia, "Provincia" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.provincia %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
    <div class="field">
      <%= f.label :canton, "Cantón" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.canton %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
    <div class="field">
      <%= f.label :canton, "Parroquia" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.parroquia %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
  </div>

  <div class="info_title"><%= f.label :COM_LOCALIZACION, "Localización respecto al Área Protegida" %></div>
  <div class="info_content">
    <div class="field">
      <%= f.select :COM_LOCALIZACION, ["Dentro","Fuera"] %>
    </div>
  </div>

  <div class="info_title">Población aproximada</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :COM_NUM_FAMILIAS, "Número de familias" %>
      <%= f.number_field :COM_NUM_FAMILIAS, :required => true, :min => 0, :max => 999 %>
      <%= form_helper_not_blank %> <span class="help-inline">Debe ser mayor o igual a 0.</span>
    </div>
    <div class="field">
      <%= f.label :COM_NUM_INDIVIDUOS, "Número de individuos" %>
      <%= f.number_field :COM_NUM_INDIVIDUOS, :required => true, :min => 0, :max => 999 %>
      <%= form_helper_not_blank %> <span class="help-inline">Debe ser mayor o igual a 0.</span>
    </div>
  </div>

  <div class="info_title">Actividades económicas principales</div>
  <div class="info_content">
    <div class="field">
      <div><small>(Presione SHIFT o CTRL para marcar varias)</small></div>
      <!-- <%= f.label :COM_ACTIVIDADES %> -->
      <%
        actividades = [
          "Agricultura",
          "Ganadería",
          "Minería",
          "Turismo",
          "Caza",
          "Pesca",
          "Recolección",
          "Otros"
        ]
      %>
      <%= f.select :actividades, actividades, {}, {:multiple => true, :class => "actividades_select"} %>
      <span class="help-inline">Se debe escoger al menos una actividad</span>
    </div>
    <div class="field actividades_otros_hidden_field">
      <%= f.label :actividades_otros, "Otros" %>
      <%= f.text_field :actividades_otros, :placeholder => "Detallar otras actividades" %>
    </div>
  </div>

  <div class="info_title">Participación en Conservación</div>
  <div class="info_content">
    <div class="field">
      <%= f.check_box :pertenece_a_socio_bosque, :class => "pertenece_a_socio_bosque_check_box" %>
      Pertenece a Socio Bosque
			<p></p>
    </div>
    <div class="field pertenece_a_socio_bosque_check_box_div">
      <%= f.label :COM_HEC_SOCIOBOSQUE, "Hectáreas en Socio Bosque" %>
      <%= f.number_field :COM_HEC_SOCIOBOSQUE, :step => "any" %>
      <%= form_helper_not_blank %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit :disable_with => "Enviando.." %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(function (){
    window.Helpers.ComunidadFormHelper.init();
  })
<% end %>

<%= link_to 'Cancelar', admin_area_protegida_comunidads_path(@area_protegida), :class => "cancel_button", :remote => true %>
</div>