<% comunidades.each do |comunidad| %>
  <%= render 'admin/comunidads/comunidad', comunidad: comunidad %>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Añadir Comunidad', new_admin_area_protegida_comunidad_path(@area_protegida), :class => "crear_nuevo", :remote => true %>
  </div>
<% end %>
