<%= form_for([:admin, @area_protegida, @informacion_geografica], :remote => true) do |f| %>
<!-- 
  <div class="field">
    <%= f.label :AMENAZA_ID, "Amenaza" %><br />
    <%= f.number_field :AMENAZA_ID %>
  </div>
  <div class="field">
    <%= f.label :TUR_ID, "Sitio Turístico" %><br />
    <%= f.number_field :TUR_ID %>
  </div> -->
  <div class="field">
    <%= f.label :AREA_ID, "Área" %>
    <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
    <%= f.hidden_field :AREA_ID %>
  </div>
  <div class="info_title">Jurisdicción</div>
  <div class="info_content">
    <!-- <div class="field">
      <%= f.label :GEO_REGION, "Región Natural" %>
      <%= f.text_field :GEO_REGION, :required => true %>
      <span class="help-inline">No puede quedar en blanco</span>
    </div> -->
    <div class="field">
      <%= f.label :GEO_PROVINCIAS, "Provincias" %>
      <%= f.text_field :GEO_PROVINCIAS, :required => true, :placeholder => "Ingresar las provincias separadas por punto y coma" %>
      <span class="help-inline">No puede quedar en blanco</span>
    </div>
    <div class="field">
      <%= f.label :GEO_CANTONES, "Cantones" %>
      <%= f.text_field :GEO_CANTONES, :required => true, :placeholder => "Ingresar los cantones separados por punto y coma" %>
      <span class="help-inline">No puede quedar en blanco</span>
    </div>
    <div class="field">
      <%= f.label :GEO_PARROQUIAS, "Parroquias" %>
      <%= f.text_field :GEO_PARROQUIAS, :required => true, :placeholder => "Ingresar las parroquias separadas por punto y coma" %>
      <span class="help-inline">No puede quedar en blanco</span>
    </div>
  </div>

  <div class="info_title">Ubicación Geográfica</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :GEO_DATUM, "Datum" %>
      <%= f.text_field :GEO_DATUM %>
      <span class="help-inline">Debe ser único</span>
    </div>
    <div class="field">
      <%= f.label :GEO_COORDENADAS_UTM_N_MIN, "Coordenadas UTM-N MIN" %>
      <%= f.text_field :GEO_COORDENADAS_UTM_N_MIN, :min => 1, :placeholder => "(en metros UTM)" %>
      <span class="help-inline">Debe ser único</span>
    </div>
    <div class="field">
      <%= f.label :GEO_COORDENADAS_UTM_E_MIN, "Coordenadas UTM-E MIN" %>
      <%= f.text_field :GEO_COORDENADAS_UTM_E_MIN, :min => 1, :placeholder => "(en metros UTM)" %>
      <span class="help-inline">Debe ser único</span>
    </div>
    <div class="field">
      <%= f.label :GEO_COORDENADAS_UTM_N_MAX, "Coordenadas UTM-N MAX" %>
      <%= f.text_field :GEO_COORDENADAS_UTM_N_MAX, :min => 1, :placeholder => "(en metros UTM)" %>
      <span class="help-inline">Debe ser único</span>
    </div>
    <div class="field">
      <%= f.label :GEO_COORDENADAS_UTM_E_MAX, "Coordenadas UTM-E MAX" %>
      <%= f.text_field :GEO_COORDENADAS_UTM_E_MAX, :min => 1, :placeholder => "(en metros UTM)" %>
      <span class="help-inline">Debe ser único</span>
    </div>
  </div>

  <div class="info_title">Rango Altitudinal</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :GEO_DESDE, "Desde" %>
      <%= f.number_field :GEO_DESDE, :required => true, :step => "any", :max => 99999, :min => 1, :placeholder => "(en msnm)" %>
      <span class="help-inline">No puede quedar en blanco y debe ser único</span>
    </div>
    <div class="field">
      <%= f.label :GEO_HASTA, "Hasta" %>
      <%= f.number_field :GEO_HASTA, :required => true, :step => "any", :max => 99999, :min => 1, :placeholder => "(en msnm)" %>
      <span class="help-inline">No puede quedar en blanco y debe ser único</span>
    </div>
  </div>

  <div class="info_title">Límites</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :GEO_LIM_NORTE, "Norte" %>
      <%= f.text_field :GEO_LIM_NORTE %>
    </div>
    <div class="field">
      <%= f.label :GEO_LIM_SUR, "Sur" %>
      <%= f.text_field :GEO_LIM_SUR %>
    </div>
    <div class="field">
      <%= f.label :GEO_LIM_ESTE, "Este" %>
      <%= f.text_field :GEO_LIM_ESTE %>
    </div>
    <div class="field">
      <%= f.label :GEO_LIM_OESTE, "Oeste" %>
      <%= f.text_field :GEO_LIM_OESTE %>
    </div>
  </div>

  <div class="field">
    <%= f.label :GEO_SUPERFICIE, "Superficie en Hectáreas" %>
    <%= f.number_field :GEO_SUPERFICIE, :required => true, :min => 1, :step => "any" %>
    <span class="help-inline">Debe ser un número mayor a cero</span>
  </div>
  <div class="actions">
    <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Información Geográfica", :disable_with => "Enviando.." %>
  </div>
<% end %>

<%= link_to 'Cancelar', admin_area_protegida_informacion_geograficas_path, :class => "cancel_button", :remote => true %>
