
<% informaciones_geograficas.each do |informacion_geografica| %>
  <%= render 'admin/informacion_geograficas/informacion_geografica', informacion_geografica: informacion_geografica %>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Añadir información geográfica', new_admin_area_protegida_informacion_geografica_path(@area_protegida), :class => "crear_nuevo", :remote => true  %>
  </div>
<% end %>