<table>
  <tr>
    <th>Región</th>
    <th>Provincias</th>
    <th>Cantones</th>
    <th>Parroquias</th>
    <th>Datum</th>
    <th>Coordenadas utm n min</th>
    <th>Coordenadas utm e min</th>
    <th>Coordenadas utm n max</th>
    <th>Coordenadas utm e max</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Límite Norte</th>
    <th>Límite Sur</th>
    <th>Límite Este</th>
    <th>Límite Oeste</th>
    <th>Superfice en Hectáreas</th>
    <th></th>
  </tr>

<% @informacion_geograficas.each do |informacion_geografica| %>
  <tr>
    <td><%= informacion_geografica.GEO_REGION %></td>
    <td><%= informacion_geografica.GEO_PROVINCIAS %></td>
    <td><%= informacion_geografica.GEO_CANTONES %></td>
    <td><%= informacion_geografica.GEO_PARROQUIAS %></td>
    <td><%= informacion_geografica.GEO_DATUM %></td>
    <td><%= informacion_geografica.GEO_COORDENADAS_UTM_N_MIN %></td>
    <td><%= informacion_geografica.GEO_COORDENADAS_UTM_E_MIN %></td>
    <td><%= informacion_geografica.GEO_COORDENADAS_UTM_N_MAX %></td>
    <td><%= informacion_geografica.GEO_COORDENADAS_UTM_E_MAX %></td>
    <td><%= informacion_geografica.GEO_DESDE %></td>
    <td><%= informacion_geografica.GEO_HASTA %></td>
    <td><%= informacion_geografica.GEO_LIM_NORTE %></td>
    <td><%= informacion_geografica.GEO_LIM_SUR %></td>
    <td><%= informacion_geografica.GEO_LIM_ESTE %></td>
    <td><%= informacion_geografica.GEO_LIM_OESTE %></td>
    <td><%= informacion_geografica.GEO_SUPERFICIE %></td>
    <td><%= link_to 'editar', edit_admin_area_protegida_informacion_geografica_path(area_protegida, informacion_geografica), :class => "editar_edit" %>
    <%= link_to 'eliminar', admin_area_protegida_informacion_geografica_path(area_protegida, informacion_geografica), method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete_destroy" %></td>
  </tr>
<% end %>
</table>
