<div class="info_container has_container">
  <div class="info_title">
    <b>Jurisdicción:</b>
  </div>
  <div class="info_content">
<!--     <p>
      <b>Región Natural:</b>
      <%=informacion_geografica.GEO_REGION%>
    </p> -->
    <p>
      <b>Provincias:</b>
      <%=informacion_geografica.GEO_PROVINCIAS%>
    </p>
    <p>
      <b>Cantones:</b>
      <%=informacion_geografica.GEO_CANTONES%>
    </p>
    <p>
    <b>Parroquias:</b>
      <%=informacion_geografica.GEO_PARROQUIAS%>
    </p>
  </div>

  <%unless informacion_geografica.GEO_DATUM.blank? and informacion_geografica.GEO_COORDENADAS_UTM_N_MIN.blank? and informacion_geografica.GEO_COORDENADAS_UTM_E_MIN.blank? and informacion_geografica.GEO_COORDENADAS_UTM_N_MAX.blank? and informacion_geografica.GEO_COORDENADAS_UTM_E_MAX.blank? %>

  <div class="info_title">
    <b>Ubicación Geográfica:</b>
  </div>
  <div class="info_content">
    
    <% unless informacion_geografica.GEO_DATUM.blank? %>
      <p>
        <b>Datum:</b>
        <%= informacion_geografica.GEO_DATUM %>
      </p>
    <%end%>
        
    <%unless informacion_geografica.GEO_COORDENADAS_UTM_N_MIN.blank?%>
      <p>
        <b>Coordenadas UTM-N MIN:</b>
        <%=informacion_geografica.GEO_COORDENADAS_UTM_N_MIN%>
      </p>
    <%end%>

    <%unless informacion_geografica.GEO_COORDENADAS_UTM_E_MIN.blank?%>
      <p>
        <b>Coordenadas UTM-E MIN:</b>
        <%=informacion_geografica.GEO_COORDENADAS_UTM_E_MIN%>
      </p>
    <%end%>

    <%unless informacion_geografica.GEO_COORDENADAS_UTM_N_MAX.blank?%>
      <p>
        <b>Coordenadas UTM-N MAX:</b>
        <%=informacion_geografica.GEO_COORDENADAS_UTM_N_MAX%>
      </p>
    <%end%>

    <%unless informacion_geografica.GEO_COORDENADAS_UTM_E_MAX.blank?%>
      <p>
        <b>Coordenadas UTM-E MAX:</b>
        <%=informacion_geografica.GEO_COORDENADAS_UTM_E_MAX%>
      </p>
    <%end%>
  </div>
  <%end%>

  <div class="info_title">Rango Altitudinal:</div>
  <div class="info_content">
    <p>
      <b>Desde:</b>
      <%=informacion_geografica.GEO_DESDE%>
    </p>
    <p>
      <b>Hasta:</b>
      <%=informacion_geografica.GEO_HASTA%>
    </p>
  </div>

  <% unless informacion_geografica.GEO_LIM_NORTE.blank? and informacion_geografica.GEO_LIM_SUR.blank? and informacion_geografica.GEO_LIM_ESTE.blank? and informacion_geografica.GEO_LIM_OESTE.blank? %>
    <div class="info_title">Límites</div>
    <div class="info_content">
      <% unless informacion_geografica.GEO_LIM_NORTE.blank? %>
        <p>
          <b>Norte:</b>
          <%=informacion_geografica.GEO_LIM_NORTE %>
        </p>
      <% end %>
      <% unless informacion_geografica.GEO_LIM_SUR.blank? %>
        <p>
          <b>Sur:</b>
          <%=informacion_geografica.GEO_LIM_SUR%>
        </p>
      <% end %>
      <% unless informacion_geografica.GEO_LIM_ESTE.blank? %>
        <p>
          <b>Este:</b>
          <%=informacion_geografica.GEO_LIM_ESTE%>
        </p>
      <% end %>
      <% unless informacion_geografica.GEO_LIM_OESTE.blank? %>
        <p>
          <b>Este:</b>
            <%=informacion_geografica.GEO_LIM_OESTE%>
        </p>
      <% end %>
    </div>
  <% end %>

     <p>
      <b>Superficie en Hectáreas:</b>
        <%=informacion_geografica.GEO_SUPERFICIE%>
    </p>

  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_informacion_geografica_path(@area_protegida, informacion_geografica), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_informacion_geografica_path(@area_protegida, informacion_geografica), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
</div>