<h1>Editando Información Geográfica</h1>

<%= render 'form' %>

<%= link_to 'mostrar', admin_area_protegida_informacion_geografica_path %> |
<%= link_to 'regresar', admin_area_protegida_informacion_geograficas_path %>
