<%= javascript_tag do %>
  window.location = '/admin/areas_protegidas';
<% end -%>

<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Información Geográfica</h3>

<%
  #render 'informaciones_geograficas', informacion_geograficas: @informacion_geograficas, area_protegida: @area_protegida
%>

<% @informacion_geograficas.each do |informacion_geografica| %>
  <div style="max-width: 400px; display: inline-block">
    <%= render 'informacion_geografica', informacion_geografica: informacion_geografica %>
  </div>
<% end %>

<br />

<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir información geográfica', new_admin_area_protegida_informacion_geografica_path, :class => "crear_nuevo"  %> 
