<h2><%= @informacion_geografica.area_protegida.AREA_NOMBRE %></h2>

<%= render 'informacion_geografica', informacion_geografica: @informacion_geografica %>

<%= link_to 'Editar', edit_admin_area_protegida_informacion_geografica_path(@area_protegida, @informacion_geografica) %> |
<%= link_to 'Regresar', admin_area_protegida_informacion_geograficas_path %>
