<div class="">

  <h2>Inicia sesión</h2>

  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :username, "Nombre de usuario" %>
      <%= text_field_tag :username, params[:username], :required => true %>
    </div>
    <div class="field">
      <%= label_tag :password, "Contraseña" %>
      <%= password_field_tag :password, "", :required => true %>
    </div>
    <div class="actions">
      <%= submit_tag "Iniciar sesión", :disable_with => "Entrando.." %>
    </div>
  <% end %>
</div>
  