
  <div class="field">
    <%= f.label :MIN_ILE_AREA, "Extensión o Área afectada (ha)" %>
    <%= f.number_field :MIN_ILE_AREA, :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
  </div>
  <div class="field">
    <%= f.label :MIN_ILE_NUM_PERSONAS, "Número de personas involucradas" %>
    <%= f.number_field :MIN_ILE_NUM_PERSONAS %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>  
  </div>
  <div class="field">
    <%= f.label :MIN_ILE_TIPO, "Tipo de actividad" %>
    <%= f.select :MIN_ILE_TIPO, ["Metálica", "No Metálica"] %>
  </div>
<!--   <div class="field">
    <%= f.label :MIN_ILE_PRACTICA, "Práctica de la actividad minera (presione SHIFT o CTRL para seleccionar varias)" %>
    <%= f.select :MIN_ILE_PRACTICA, ["Cielo Abierto","Aluvial","Subterránea"], {}, {:multiple => true} %>
  </div> -->
<div class="info_title">Práctica de la actividad minera</div>
  <div class="info_content">
    <div class="field">
      <div><small>(Presione SHIFT o CTRL para marcar varias)</small></div>
      <%
        practica = [
          "Cielo Abierto",
          "Aluvial",
          "Subterránea"
        ]
      %>
      <%= f.select :practica, practica, {}, {:multiple => true} %>
      <span class="help-inline">Se debe escoger al menos una práctica</span>
    </div>
  </div>



  <div>
    <%= f.link_to_remove "Minería Ilegal", :class => "delete_destroy" %>
  </div>
