<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">  
  	<%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
  	<div></div>
  	<% amenaza.minerias_ilegales.each do |mineria_ilegal| %>
    	<div class="info_content">
      		<%= render 'admin/mineria_ilegals/mineria_ilegal', mineria_ilegal: mineria_ilegal%>
    	</div>
  	<% end %>
	</div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir minería ilegal', new_admin_area_protegida_mineria_ilegal_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
