<div class="info_title">
  Minería Ilegal
</div>
<div class="info_content">
  <div>
    <strong>Extensión o Área afectada:</strong>
    <%= mineria_ilegal.MIN_ILE_AREA %> ha
  </div>

  <% unless mineria_ilegal.MIN_ILE_NUM_PERSONAS.blank? %>
    <div>
      <strong>Número de personas involucradas:</strong>
      <%= mineria_ilegal.MIN_ILE_NUM_PERSONAS %>
    </div>
  <% end %>

  <% unless mineria_ilegal.MIN_ILE_TIPO.blank? %>
    <div>
      <strong>Tipo de actividad:</strong>
      <%= mineria_ilegal.MIN_ILE_TIPO %>
    </div>
  <% end %>

  
  <% unless mineria_ilegal.MIN_ILE_PRACTICA.length == 0 %>
    <div class="info_title">Práctica de la actividad minera:</div>
    <div class="info_content">
      <% mineria_ilegal.MIN_ILE_PRACTICA.each do |practica| %>
        <div><%= practica %></div>
      <% end %>
    </div>
  <% end %>

</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Editar', edit_admin_area_protegida_mineria_ilegal_path(@area_protegida, mineria_ilegal.amenaza), :class => "editar_edit", :remote => true %>
    <%= link_to 'Eliminar', admin_area_protegida_mineria_ilegal_path(@area_protegida, mineria_ilegal), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
  </div>
<% end %>