<%= form_for([:admin, @area_protegida, @informacion_turistica], html: { id: "form_for_informacion_turistica"}, :remote => true) do |f| %>

  <div class="field">
    <%= f.label :AREA_ID, "Área protegida" %>
    <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
    <%= f.hidden_field :AREA_ID %>
  </div>

  <div class="field">
    <%= f.label :INFO_TUR_SITIOS_REP, "Sitio Turístico Representativo" %>
    <%= f.text_field :INFO_TUR_SITIOS_REP, :required => true %>
    <%= form_helper_not_blank %>
  </div>

  <div class="field">
    <%= f.label :detalles, "Infraestructura" %>
    <%= form_helper_not_blank %>
  </div>
  <%= render 'form_detalles', obj: f.object %>

  <div class="field">
    <%= f.hidden_field :detalles %>
  </div>

  <div class="field">
    <%= f.label :INFO_TUR_SITIO_ACCESO, "Sitios de acceso turístico autorizados" %>
    <%= f.text_field :INFO_TUR_SITIO_ACCESO, :required => true %>
    <%= form_helper_not_blank %>
  </div>
  <div class="field">
    <%= f.label :INFO_TUR_NUM_ANUAL_VISITANTES, "Número anual de visitantes" %>
    <%= f.number_field :INFO_TUR_NUM_ANUAL_VISITANTES, :min => 1 %>
  </div>
  <div class="actions">
    <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Información Turística", :disable_with => "Enviando.." %>
  </div>
<% end %>

<%= link_to "Cancelar", admin_area_protegida_informacion_turisticas_path(@area_protegida), :class => "cancel_button", :remote => true %>

<%= javascript_tag do %>
  $( function () {
    window.Informacion_turistica.init();
  });
<% end %>
