<%
	types = [
		"Alojamiento",
		"Centro Administrativo",
		"Otros Senderos",
		"Puntos de Control",
		"Senderos Autoguiados",
		"Señaléctica"
	].sort
%>

<div class="info_content">
	<% types.each do |type| %>
	  <div>
			<input type="checkbox" class="infraestructura" <%= obj.detalles.include?(type) ? "checked='checked'" : "" %>>
			<span><%= type %></span>
		</div>
	<% end %>
</div>

