<% informaciones_turisticas.each do |informacion_turistica| %>
  <%= render 'admin/informacion_turisticas/informacion_turistica', informacion_turistica: informacion_turistica %>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Añadir información turística', new_admin_area_protegida_informacion_turistica_path(@area_protegida), :class => "crear_nuevo", :remote => true %>
  </div>
<% end %>