<table>
  <tr>
    <th>Sitios Turísticos Representativos</th>
    <th>Infraestructura</th>
    <th>Sitios de acceso turístico autorizados</th>
    <th>Número Anual de Visitantes</th>
    <th></th>
  </tr>

<% @informacion_turisticas.each do |informacion_turistica| %>
  <tr>
    <td>
      <%= informacion_turistica.INFO_TUR_SITIOS_REP  %>
    </td>
    <td>
      <%= render 'informacion_turistica_detalles', detalles: informacion_turistica.detalles %>
    </td>
    <td>
      <%= informacion_turistica.INFO_TUR_SITIO_ACCESO  %>
    </td>
    <td>
      <%= informacion_turistica.INFO_TUR_NUM_ANUAL_VISITANTES %>
    </td>
    <td>
      <%= link_to 'Editar', edit_admin_area_protegida_informacion_turistica_path(@area_protegida, informacion_turistica), :class => "editar_edit" %>
      <%= link_to 'Eliminar', admin_area_protegida_informacion_turistica_path(@area_protegida, informacion_turistica), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy" %>
    </td>
  </tr>
<% end %>
</table>