<div class="has_container">
  <div>
    <p>
      <b>Sitios turísticos representativos:</b>
      <%= informacion_turistica.INFO_TUR_SITIOS_REP %>
    </p>
    <p>
      <div class="info_title">Infraestructura:</div>
      <div class="info_content">
        <%= render('admin/informacion_turisticas/informacion_turistica_detalles', detalles: informacion_turistica.detalles) if informacion_turistica.detalles %>
      </div>
    </p>
  	<p>
      <b>Sitios de acceso turístico autorizados:</b>
      <%=informacion_turistica.INFO_TUR_SITIO_ACCESO%>
    </p>
    <% unless informacion_turistica.INFO_TUR_NUM_ANUAL_VISITANTES.blank? %>
      <p>
        <b>Número anual de visitantes:</b>
        <%= informacion_turistica.INFO_TUR_NUM_ANUAL_VISITANTES %>
      </p>
    <% end %>
  </div>
  
  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_informacion_turistica_path(@area_protegida, informacion_turistica), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_informacion_turistica_path(@area_protegida, informacion_turistica), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
  
</div>