<%= javascript_tag do %>
  window.location = '/admin/areas_protegidas';
<% end -%>

<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Información Turística</h3>

<%= render 'informaciones_turisticas', informacion_turisticas: @informacion_turisticas, area_protegida: @area_protegida %>

<br />

<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir información turística', new_admin_area_protegida_informacion_turistica_path, :class => "crear_nuevo"  %>
