<p id="notice"><%= notice %></p>

<p>
  <b>Area id:</b>
  <%= @informacion_turistica.AREA_ID %>
</p>

<p>
  <b>Info tur sitios rep:</b>
  <%= @informacion_turistica.INFO_TUR_SITIOS_REP %>
</p>

<p>
  <b>Info tur infraestructura:</b>
  <%= @informacion_turistica.INFO_TUR_INFRAESTRUCTURA %>
</p>

<p>
  <b>Info tur sitio acceso:</b>
  <%= @informacion_turistica.INFO_TUR_SITIO_ACCESO %>
</p>

<p>
  <b>Info tur num anual visitantes:</b>
  <%= @informacion_turistica.INFO_TUR_NUM_ANUAL_VISITANTES %>
</p>


<%= link_to 'editar', edit_admin_area_protegida_informacion_turistica_path(@area_protegida, @informacion_turistica) %>  |
<%= link_to 'atrás',  admin_area_protegida_informacion_turisticas_path%>
