<%= form_for([:admin, @area_protegida, @informacion_administrativa], :remote => true) do |f| %>
  <div class="field">
    <%= f.label :AREA_ID, "Área Protegida" %>
    <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
    <%= f.hidden_field :AREA_ID %>
  </div>
<!--   <div class="field">
    <%= f.label :PERSON_ID %><br />
    <%= f.number_field :PERSON_ID %>
  </div> -->
  <div class="info_title"><%= f.label :administrador_actual, "Administrador actual" %></div>
  <div class="info_content">
    <div class="field">
      <%= f.text_field :administrador_actual, :required => true %>
      <%= form_helper_not_blank %>
    </div>
  </div>

  <div class="info_title"><%= f.label :ADMIN_FECHA_INICIO, "Fecha de inicio de la administración" %></div>
  <div class="info_content">
    <div class="field">
      <%= f.text_field :ADMIN_FECHA_INICIO, :class => "datepicker" %>
      <span class="help-inline">
        Verifica que no esté en blanco y que no sea mayor a la fecha actual.
      </span>
    </div>
  </div>

  <div class="info_title"><%= f.label :ADMIN_PLAN_MANEJO, "Plan de manejo" %></div>
  <div class="info_content">
    <div class="field">
      <%= f.select :ADMIN_PLAN_MANEJO,options_for_select(["Si", "No","Si y en actualización", "No, pero en elaboración"], @informacion_administrativa.ADMIN_PLAN_MANEJO) %>
    </div>
  </div>

  <div class="info_title"><%= f.label :ADMIN_FECHA_PLAN, "Fecha de Última Actualización de Plan de Manejo" %></div>
  <div class="info_content">
    <div class="field">
      <%= f.text_field :ADMIN_FECHA_PLAN, :class => "datepicker" %>
      <span class="help-inline">
        Verifica que no esté en blanco y que no sea mayor a la fecha actual.
      </span>
    </div>
  </div>

  <div class="info_title">Personal asignado</div>
  <div class="info_content">
    <div class="info_title">Guardaparques</div>
    <div class="info_content">
      <div class="field">
        <%= f.label :ADMIN_GUARDA_N, "Cantidad de Guardaparques de Nómina" %>
        <%= f.number_field :ADMIN_GUARDA_N, :min => 1 %>
        <%= form_helper_gt_0 %>
      </div>
      <div class="field">
        <%= f.label :ADMIN_GUARDA_O, "Cantidad de Guardaparques Ocasionales" %>
        <%= f.number_field :ADMIN_GUARDA_O, :min => 1 %>
        <%= form_helper_gt_0 %>
      </div>
    </div>

    <div class="info_title">Técnicos</div>
    <div class="info_content">
      <div class="field">
        <%= f.label :ADMIN_TECNICO_N, "Cantidad de Técnicos de Nómina" %>
        <%= f.number_field :ADMIN_TECNICO_N, :min => 1 %>
        <%= form_helper_gt_0 %>
      </div>
      <div class="field">
        <%= f.label :ADMIN_TECNICO_O, "Cantidad de Técnicos Ocasionales" %>
        <%= f.number_field :ADMIN_TECNICO_O, :min => 1 %>
        <%= form_helper_gt_0 %>
      </div>
    </div>

    <div class="info_title">Administrativos</div>
    <div class="info_content">
      <div class="field">
        <%= f.label :ADMIN_ADMIN_N, "Cantidad de Administrativos de Nómina" %>
        <%= f.number_field :ADMIN_ADMIN_N, :min => 1 %>
        <%= form_helper_gt_0 %>
      </div>
      <div class="field">
        <%= f.label :ADMIN_ADMIN_O, "Cantidad de Administrativos Ocasionales" %>
        <%= f.number_field :ADMIN_ADMIN_O, :min => 1 %>
        <%= form_helper_gt_0 %>
      </div>
    </div>
  </div>

  <div class="info_title"><%= f.label :presupuesto_anual, "Presupuesto anual" %></div>
  <div class="info_content">
    <div class="field">
      <%= f.number_field :presupuesto_anual, :step => "any" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Información Administrativa", :disable_with => "Enviando.." %>
  </div>
<% end %>

<%= link_to 'Cancelar', admin_area_protegida_informacion_administrativas_path(@area_protegida), :class => "cancel_button", :remote => true %>
