<% informaciones_administrativas.each do |informacion_administrativa| %>
  <%= render 'admin/informacion_administrativas/informacion_administrativa', informacion_administrativa: informacion_administrativa %>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Añadir información administrativa', new_admin_area_protegida_informacion_administrativa_path(@area_protegida), :class => "crear_nuevo", :remote => true  %>
  </div>
<% end %>