<div class="has_container">
  <div class="info_title">Administrador actual:</div>
  <div class="info_content">
    <%= informacion_administrativa.administrador_actual %>
  </div>

  <div class="info_title">Fecha de inicio de la administración:</div>
  <div class="info_content">
    <%=informacion_administrativa.ADMIN_FECHA_INICIO%>
  </div>

  <div class="info_title">Plan de manejo:</div>
  <div class="info_content">
    <%= informacion_administrativa.ADMIN_PLAN_MANEJO %>
  </div>

  <div class="info_title">Fecha de Última Actualización de Plan de Manejo:</div>
  <div class="info_content">
    <%=informacion_administrativa.ADMIN_FECHA_PLAN%>
  </div>

  <% unless informacion_administrativa.ADMIN_GUARDA_N.blank? and informacion_administrativa.ADMIN_GUARDA_O.blank? and informacion_administrativa.ADMIN_TECNICO_N.blank? and informacion_administrativa.ADMIN_TECNICO_O.blank? and informacion_administrativa.ADMIN_ADMIN_N.blank? and informacion_administrativa.ADMIN_ADMIN_O.blank? %>
    <div class="info_title">Personal asignado:</div>
    <div class="info_content">
      <div class="info_title">Guardaparques:</div>
      <div class="info_content">
        <% unless informacion_administrativa.ADMIN_GUARDA_N.blank? %>
          <p>
            <b>Cantidad de Guardaparques de Nómina:</b>
            <%= informacion_administrativa.ADMIN_GUARDA_N %>
          </p>
        <% end %>

        <% unless informacion_administrativa.ADMIN_GUARDA_O.blank? %>
          <p>
            <b>Cantidad de Guardaparques Ocasionales:</b>
            <%= informacion_administrativa.ADMIN_GUARDA_O %>
          </p>
        <% end %>
      </div>

      <div class="info_title">Técnicos:</div>
      <div class="info_content">
        <% unless informacion_administrativa.ADMIN_TECNICO_N.blank? %>
          <p>
            <b>Cantidad de Técnicos de Nómina:</b>
            <%= informacion_administrativa.ADMIN_TECNICO_N %>
          </p>
        <% end %>

        <% unless informacion_administrativa.ADMIN_TECNICO_O.blank? %>
          <p>
            <b>Cantidad de Técnicos Ocasionales:</b>
            <%= informacion_administrativa.ADMIN_TECNICO_O %>
          </p>
        <% end %>
      </div>

      <div class="info_title">Administrativos:</div>
      <div class="info_content">
        <% unless informacion_administrativa.ADMIN_ADMIN_N.blank? %>
          <p>
            <b>Cantidad de Administrativos de Nómina:</b>
            <%= informacion_administrativa.ADMIN_ADMIN_N %>
          </p>
        <% end %>

        <% unless informacion_administrativa.ADMIN_ADMIN_O.blank? %>
          <p>
            <b>Cantidad de Administrativos Ocasionales:</b>
            <%= informacion_administrativa.ADMIN_ADMIN_O %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless informacion_administrativa.presupuesto_anual.blank? %>
    <div class="info_title">Presupuesto Anual:</div>
    <div class="info_content">
      <%= number_to_currency informacion_administrativa.presupuesto_anual %>
    </div>
  <% end %>
  
  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_informacion_administrativa_path(@area_protegida, informacion_administrativa), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_informacion_administrativa_path(@area_protegida, informacion_administrativa), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>

</div>