<table>
  <tr>
    <th>Administrador actual</th>
    <th>Fecha de Inicio</th>
    <th>Plan de Manejo</th>
    <th>Fecha de Última Actualización de Plan de Manejo</th>
    <th>Cantidad de Guardaparques en nómina</th>
    <th>Cantidad de Guardaparques ocasionales</th>
    <th>Cantidad de Técnicos en nómina</th>
    <th>Cantidad de Técnicos ocasionales</th>
    <th>Cantidad de Administrativos en nómina</th>
    <th>Cantidad de Administrativos ocasionales</th>
    <th>Presupuesto anual</th>
    <th></th>
  </tr>

<% @informacion_administrativas.each do |informacion_administrativa| %>
  <tr>
    <td><%= informacion_administrativa.administrador_actual %></td>
    <td><%= informacion_administrativa.ADMIN_FECHA_INICIO %></td>
    <td><%= informacion_administrativa.ADMIN_PLAN_MANEJO %></td>
    <td><%= informacion_administrativa.ADMIN_FECHA_PLAN %></td>
    <td><%= informacion_administrativa.ADMIN_GUARDA_N %></td>
    <td><%= informacion_administrativa.ADMIN_GUARDA_O %></td>
    <td><%= informacion_administrativa.ADMIN_TECNICO_N %></td>
    <td><%= informacion_administrativa.ADMIN_TECNICO_O %></td>
    <td><%= informacion_administrativa.ADMIN_ADMIN_N %></td>
    <td><%= informacion_administrativa.ADMIN_ADMIN_O %></td>
    <td><%= informacion_administrativa.presupuesto_anual %></td>
    <td><%= link_to 'Editar', edit_admin_area_protegida_informacion_administrativa_path(area_protegida, informacion_administrativa), :class => "editar_edit" %>
    <%= link_to 'Eliminar', admin_area_protegida_informacion_administrativa_path(area_protegida, informacion_administrativa), method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete_destroy" %></td>
  </tr>
<% end %>
</table>
