<%= javascript_tag do %>
  window.location = '/admin/areas_protegidas';
<% end -%>

<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Información Administrativa</h3>

<%= render 'informaciones_administrativas', informacion_administrativas: @informacion_administrativas, area_protegida: @area_protegida %>

<br />

<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir información administrativa', new_admin_area_protegida_informacion_administrativa_path, :class => "crear_nuevo"  %>