<h2><%= @informacion_administrativa.area_protegida.AREA_NOMBRE %></h2>

<%= render 'informacion_administrativa', informacion_administrativa: @informacion_administrativa %>

<%= link_to 'Atrás', admin_area_protegida_informacion_administrativas_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Editar', edit_admin_area_protegida_informacion_administrativa_path(@area_protegida, @informacion_administrativa), :class => "editar_edit" %>
