<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1300 1024" enable-background="new 0 0 1300 1024" xml:space="preserve">
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M1003.547,384.669v-12.504v-8.122v-14.695v-10.001v-3.123v-7.5v-4.379
  h-5h-3.443h-2.808v1.253l-2.814,1.88l-1.251,5.082v4.289h-1.562v2.498v1.877l-1.562,2.188v1.561l-3.12,0.315l-3.118,2.812v1.877
  l-3.122,3.127v1.871l-2.813,0.625l-3.126,0.623l-2.5,4.376l-3.06,1.882v1.874l-6.625,0.624l-1.565,1.877l-3.122,1.253l-3.754,1.878
  l-3.123,3.12l-4.372-0.315l-2.814,0.315v1.56l-3.433,2.188l-2.822,1.876l-4.057,1.253l-1.876,0.317l-3.123-0.317l-1.561-0.315
  l-4.687-0.938l-1.563-1.565l2.501-1.251l4.688-1.877l1.562-3.437l1.558-2.501l1.559-4.688V360.6l-1.873-1.562l-0.938-4.065
  l1.877-1.556v-2.188c1.254-1.877,3.752-4.38,3.752-4.38l2.181-1.559l-1.556-1.563l-2.192-2.186l-0.931-2.185l-2.185-2.812
  l-0.316-2.186l-2.497-1.79h-1.88h-1.256l-1.553-4.151l-2.501-2.817l-2.499-1.251v-1.56v-1.563c0,0,2.178-1.252,3.117-2.183
  c0.938-0.933,2.501-1.563,2.501-1.563l2.498-1.876l-0.316-3.123l0.938-1.563h1.255h1.562h1.877l1.56,2.187l3.119,1.251l4.689,3.755
  l4.061,0.623h3.122l2.183-3.122l3.126-2.502l0.937-2.186l1.879-1.876l1.251-2.816v-1.872h3.122l0.938-2.19l0.313-1.875l-1.56-1.875
  l0.313-2.815h2.658h2.036h1.559l1.04-4.481l-0.103-28.337V260.6v-5.315l-0.133-3.708l-2.856-0.992v5.218l-7.585,9.014l-4.739,0.464
  l-3.323-0.948l-4.269-0.951v-2.842v-7.602l-3.312-4.268l-6.165,1.42l-5.214,4.266l-6.152,5.218l-3.793-3.321h-4.74l-7.104-0.954
  l-5.694-2.367l-8.052,1.902v-3.797v-10.903h-3.791l-3.794-0.342v1.925v1.88l-3.54,1.663l-2.288,1.256l-3.335,3.334h-2.499h-1.67
  l-1.041,1.664l0.419,3.128l0.833,1.661l1.463,1.876h-1.661h-2.497h-1.465h-1.04c0,0,0.416,2.293,0,3.958
  c-0.411,1.668-1.459,1.252-1.459,1.252l-3.117-2.707l-2.087,2.083l-1.874,2.503h-2.294h-1.877v3.957l-1.251,1.666l-4.166,0.621
  l-1.041,0.836l-2.705-1.253l-1.668-1.04l-1.664-0.835h-0.832h-1.045l-1.456,2.083h-1.458h-1.46l-1.878,1.877l0.209,2.495
  l1.666,2.501l-1.461,1.459v1.101v2.234v2.088v2.705v4.166c0,0,0,0-1.248,0l-1.191,1.459l-1.726,1.875v1.459l-1.25,0.836
  l-1.875,2.081l-1.666,2.708l-0.42,1.88l2.086,1.661v1.043v1.254v3.536l-2.086,1.464v1.461l-1.251,1.666v2.498v2.864l-1.251,4.84
  h-3.124h-2.502v2.297l-2.289,2.082v1.647v3.359l-0.833,3.956h-1.459l-2.917,1.461h-1.875l-3.126,2.707v1.667l-2.053,1.655l0,0
  l0.564,2.282h1.168l2.145,2.139l1.362,2.528l-0.198,2.542l-1.359,1.362l1.756,5.065l0.19,2.921l-1.359,1.37l-2.927,3.307
  l-2.132,1.946v2.343l2.913,3.697v5.452v3.314l1.944,2.339l3.7-1.371l4.479,0.596l-0.188,1.945l3.689,3.892l0.199,2.726l-0.199,3.317
  l-2.526,6.617l-1.955,2.341v1.363l1.379,3.7l1.354-1.55l1.165-1.955l4.479-2.332l5.845,0.202l2.136-1.375l4.877,2.545l3.499,3.495
  v1.948l3.309-0.385l4.091-0.202l4.862,1.366l1.366,2.335c0,0,5.081-1.36,5.655-1.752c0.59-0.388,2.145-1.369,2.145-1.369l2.13-1.754
  l2.937,1.367l2.924,1.949v0.971l4.669,0.978l1.943,0.978l3.113,2.326l1.564-0.968l1.548-1.751v-2.921l3.106,0.387l2.33,2.137
  l0.982-0.584l0.784-1.168l1.944-0.384c0,0,3.896-0.783,4.87-0.981c0.966-0.197,0-1.168,0-1.168l2.336-1.553v-1.172l2.524,0.394
  l3.507-1.951l2.341-1.366l0.97-0.775h4.481h2.343l1.548-0.194l6.031-1.562l1.758-0.188l4.086,4.471l1.163,0.781l0.783-1.557
  l1.365-2.148l1.167-1.547l4.087-2.343l2.334-0.98l3.314-0.588l1.156-0.969l0.99-1.167v-1.17l4.867-0.969l2.334,0.581l4.673-0.192
  l2.722,1.945v-1.761l1.175-1.749l2.529-0.199l1.55-0.974l2.142-1.561l10.327-0.784v-2.136l2.721-0.393l1.556-0.585l6.624-2.342
  l3.896,0.395l7.002-0.779h3.31l6.637,1.517v-1.809v-3.423h0.012V384.669z"/>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M798.532,348.461l-0.99-3.984l-4.347-4.932v-2.574l-1.248-3.095
    l-2.178-1.454l-2.582-0.904l-7.733-1.929v2.822l-3.361,2.535l-2.01,1.204l-3.649,2.693l-3.384,1.8l-2.382,0.266l-3.053-0.392
    l-3.623,0.006l-3.837-0.628l-2.24-2.698l0.057-2.618l1.498-3.37l-0.172-2.212l-1.28-2.018l-1.437-1.219l-4.589-1.994h-1.84
    l-2.698-2.077l-1.416-2.247v-2.981l-1.337-3.02h-3.399l-1.478-6.323l-0.012-0.802l-3.32-2.535v-1.312l-3.979-2.272l-2.211-6.458
    l-0.038-2.386l2.534,0.103l2.217,1.468l2.969,0.372l2.079-0.005l3.298-1.937h3.904l1.406-0.888l4.456-3.972l3.309-0.867l0.13-0.767
    l-0.014-1.877l-1.662-2.969l-1.268-3.774l-1.983-0.066l-6.376-3.285v-1.568l-1.612-5.355h-12.007l-1.256-3.172l-2.88-1.699
    l-3.051,0.899l-5.599,0.225l-4.186-2.476l-5.183,1.853l-3.247,0.419l-6.853,0.4h-9.966l-4.104-0.931l-2.333-1.952l-1.493-0.92
    l-2.628-2.412l-2.862-4.702h-2.824l-2.923-2.331l-3.568-5.56l0.493-4.952l2.437-4.958l1.851-6.062l3.788-5.727l0.438-3.9
    l-1.773-2.653l-2.143-2.546h-3.08l2.479-4.992l4.88-0.981l3.09-2.649l1.833-4.135l1.036-3.649l5.16-0.514l12.388,0l2.739-0.466
    l4.658,0.496l3.941,3.947l3.803,1.604l0.907-0.499l1.188,4.519h2.428l2.24,0.692l-1.002,1.723l1.152,2.059l2.053,1.751l6.181,2.596
    l4.777-2.75h5.056l4.388-2.391l6.769-0.486l7.717,2.919l5.612-0.043l5.668,2.812l5.509-0.463l7.446-2.321l19.357-0.028l4.485-4.515
    l5.655,4.653l4.214,2.792l3.854,3.37l5.193,4.251l2.744,3.179h7.297l3.632,0.452l5.488-3.662l6.224-3.352l4.154-3.653l3.023,3.534
    l2.736-0.391l2.064-2.58l5.945,3.374l3.366,7.376v2.313l5.471,0.907l2.416,4.355l5.282,2.501l1.737,2.599l1.688,0.153v4.772
    l-3.894,1.834l-2.259,1.237l-3.371,3.409h-4.078l-0.734,1.182l0.384,2.904l0.772,1.471l2.179,2.778h-7.225
    c0.1,0.859,0.191,2.301-0.11,3.489c-0.399,1.598-1.379,1.773-1.78,1.773c-0.264,0-0.464-0.07-0.518-0.089l-2.854-2.442
    l-1.678,1.672l-2.005,2.685h-3.852l-0.126,3.708l-1.401,1.876l-4.255,0.636l-1.215,0.968l-3.056-1.407l-1.74-1.079l-1.476-0.737
    h-1.406l-1.461,2.083h-2.977l-1.492,1.487l0.176,2.048l1.865,2.796l-1.645,1.639v12.658h-1.574l-1.002,1.231l-1.587,1.725v1.544
    l-1.526,1.021l-1.758,1.982l-1.602,2.611l-0.261,1.303l2.024,1.615v6.459l-2.086,1.46l-0.125,1.51l-1.123,1.505v5.157l-1.393,5.473
    h-5.481v1.941l-2.292,2.083v4.722l-0.949,4.579h-1.817l-3.063,1.461h-1.645l-2.73,2.369v1.68L798.532,348.461L798.532,348.461z"/>
</g>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M1211.848,469.979l-3.891-3.592v-1.437l-1.197-3.66l-4.17-0.099
    l-5.066-3.316l-2.135-1.062h-3.399l-5.23-4.438l-2.089-3.543h-4.371l-2.521-2.308l-2.283-1.728l-1.801-1.581l-4.078-2.961h-2.31
    l-1.22-2.535h-0.754l-4.622,2.811l-2.698-1.253l-2.941-0.107l-2.332-1.548l-2.089-2.464l-2.059-1.525l-3.399-0.068l-3.165-1.674
    h-1.84l-2.416-2.216l-3.566-1.124l-1.608,0.031l-6.878,3.348l-4.103-0.824l-5.523,0.011l-2.5,0.365l-3.274,2.161l-3.508,0.395
    l-3.487-0.584l-3.827-1.354v-1.047l-4.86-2.728v-1.686l-1.779-0.059l-2.021-0.912h-2.785l-2.715,0.938l-1.701,0.032l-2.27-1.026
    l-3.696-3.836l-1.635-2.644l-1.706-2.069l-1.599-2.391l-1.157-2.545l2.417-3.635v-3.708l0.783-6.308l-0.003-2.022h-4.635
    l-5.541-0.785l-2.548-1.208l-2.196-2.753l-3.692-0.919l-3.331-1.11l-5.946,2.374l-3.588-2.532l-2.604-2.421h-3.118l-5.518,2.662
    l-3.472,0.641l-5.353-0.364l-2.245,1.727l-3.309,0.573l-5.7,1.783l-5.278-0.897l-1.751-1.171l-1.521-1.509l-0.312-0.066
    l-0.187-0.543v-64.964h-9.999v0.96l-2.891,1.928l-1.19,4.844l0.02,4.771h-1.559l-0.12,4.112l-1.448,2.028v1.925l-3.485,0.343
    l-2.77,2.494v1.853l-3.115,3.125v2.117l-6.16,1.307l-2.581,4.349l-2.75,1.692v2.096l-6.94,0.65l-1.652,1.863l-3.12,1.251
    l-3.703,1.855l-3.159,3.213l-4.66-0.328l-2.146,0.238v1.357l-6.531,4.238l-4.223,1.327l-1.956,0.331l-3.289-0.313l-6.634-1.427
    l-2.173-2.179l3.27-1.639l4.501-1.801l1.469-3.215l1.599-2.578l1.502-4.556l-0.031-2.315l-1.815-1.518l-1.066-4.646l1.94-1.622
    l0.102-2.241c1.27-1.908,3.729-4.369,3.825-4.473l1.667-1.199l-3.228-3.233l-1.078-2.383l-2.229-2.974l-0.271-1.923l-2.126-1.52
    h-3.359l-1.709-4.555l-2.39-2.62l-2.652-1.275v-3.876l0.315-0.184c0.02-0.011,2.124-1.221,2.988-2.083
    c1.016-1.012,2.641-1.672,2.708-1.704l2.073-1.576l-0.303-2.984l1.231-2.049h5.362l1.644,2.305l2.959,1.182l4.71,3.737l3.894,0.603
    l2.708-0.007l1.998-2.859l3.122-2.53l0.872-2.045l2.005-2.065l1.071-2.503v-2.351h3.338l0.778-1.811l0.22-1.443l-1.544-1.866
    l0.401-3.631h6.306l0.933-3.995l-0.288-40.295l10.332,3.577l3.967,2.929l3.106,0.849l4.559-0.023c2.436,0,5.729,0.938,5.866,0.979
    l4.634,0.455l4.066-0.939l6.207-4.274l6.827-0.982l5.159,2.682l5.215,8.059l10.361,11.294l5.274,8.138l3.764,4.692l7.062,7.062
    l5.62,4.216l4.986,3.988v2.047h3.493v-2.657l7.018,2.7l4.346-0.042l3.51,4.506l2.195,3.08h10.463l2.367,3.792h8.431l4.563-3.656
    l4.4-4.903l6.476,0.498l5.585-0.469l6.55,0.915l5.396-3.437l3.359,2.861l2.917,5.965v2.227h4.442l2.946,4.418l5.076,2.766
    l5.239,2.015v-9.795c-0.462-0.65-1.903-2.962-1.903-6.364l0.078-4.105l2.09-3.649l9.181,0.506l2.914,3.396l5.866,2.26l5.991-0.915
    l4.07-2.077l3.162,4.206l2.609,3.04l3.374-0.373v-1.691l6.007,1.642l5.799,2.886l4.401,3.894l4.405,3.489l0.858,1.563l15.516,0.089
    l3.791,2.377l4.719,5.167l4.731,0.857l3.315-0.881l2.478-0.144l0.771,1.356l3.574,5.152l-1.105,3.583l0.504,3.282l-1.275,7.079
    l2.504,3.75l1.65,4.351l0.039,3.642c-0.033,0.208-0.424,1.437,0.342,2.198c1.062,1.055,1.259,1.676,1.942,3.755l0.233,0.711
    c0.907,2.766,0.061,6.76,0.021,6.931l0.34,2.874c0.906,0.432,3.321,1.624,4.042,2.345c0.785,0.781,2.6,2.34,2.6,2.344l1.281,1.098
    h-5.642l-7.826,1.045l-5.267,0.008l-8.848-5.359l-1.537-1.758h-1.084l-1.724,6.652l-2.413,5.125l-0.476,5.335l-1.848,9.033
    l-1.638,3.316l-1.033,2.591l-3.396,15.982l-2.119,7.43l-3.436,10.321l-2.098,7.862l-0.248,4.097l-2.17,4.459l-0.333,3.276
    L1211.848,469.979L1211.848,469.979z"/>
</g>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M649.331,313.504l-1.322-1.432v-1.195l1.322-1.43h2.39l1.435-2.395
  v-0.961l1.675-1.672v-0.716l1.189-2.156v-1.917v-1.914v-1.43v-2.635v-1.911v-2.397v-3.104v-2.151v-1.915v-3.352h-0.952l-0.237-2.393
  l1.189-1.675v-1.194h-1.189l-0.24-2.627h-1.916l-1.312-1.437h-2.035h-1.195h-1.434l-0.342-0.408
  c-0.611,0.575-1.078,0.979-1.078,0.979l-4.736-2.843h-5.926l-5.925-7.104l-1.414-13.271l-0.943-6.164l0.943-5.679l3.313-6.634
  l-6.155-3.785l-4.736-4.744h-5.682v-7.56c0,0,3.312-0.496,3.312-4.766c0-4.261-1.89,0-1.89,0l-3.789-2.842l-1.424-5.689
  l-6.163,2.842l-3.791-1.418l-4.727-1.9h-4.743l-2.404,0.065h-2.342v0.968l-1.165,2.146l-1.936,2.922l-1.951,1.751l-1.488,0.397
  l0.863,0.747l-0.473,4.218l-0.063,0.55l-1.526,0.88v1.557l-1.32,1.435v0.355l-0.954,1.559l-1.438,0.353l-1.314,0.237l-0.718-0.716
  v-0.599l0.837-0.958v-2.155l-0.837-1.193l-1.793-0.945l-0.599-1.074v-1.078v-2.274l1.194-2.749l0.121-3.113l-0.598-1.911
  l-0.243-1.378l-0.475-1.975l-2.154-1.436l-1.43-1.196h-0.479c0,0,0,1.196,0,1.556c0,0.357,0,2.39,0,2.39l0.594,2.156l0.123,0.722
  v5.501v1.793l-0.717,1.55c0,0,0.594,2.039,0.594,2.636s0.243,4.184,0.243,4.184l0.48,1.318l0.474,0.953v1.32l-1.198,0.957
  l-0.595,2.274v1.432l-0.715,1.557l0.612,1.884l-3.575,6.333l-4.804,6.713l-7.443,11.868l-5.929,6.329l-14.231,11.463l-5.923,1.579
  l-6.331,4.744l-1.969,4.359l-1.979,5.538l-3.156,2.368l-2.765,3.561l-5.537,3.948l-3.16,3.557l1.977,4.745l2.376,5.937l3.937,7.906
  l2.381,7.519l0.791,3.554l2.757,2.965l2.378,1.786l4.348,0.785l6.329,0.792l-0.401,4.35l-3.952,1.985l-9.086-4.749l-5.929-4.949
  l-3.955,4.156l-2.367,8.305l-1.977,3.955l-1.587,3.55l-1.18,4.347l-1.981,5.531l-2.759,8.694l-5.938,6.727l-3.945,1.586
  l-7.126-1.586l-4.343,2.373l-7.511,0.789h-10.275l-3.163,3.568l-2.773,3.949l-3.947,1.98l-3.165,4.351l0.401,4.746l4.741,7.505
  l5.137,10.683l7.119,10.252l5.92,5.558l2.376,3.955l-0.789,3.955l-1.974,7.118l-2.375,8.301l-4.743,3.166l-3.158,6.723l-5.14,7.117
  l3.161,5.932l4.748,7.508l0.522,0.986h3.424h5.804l2.632-1.645h2.109l1.572-1.577h5.276l2.368-1.058h1.586h2.895l2.633,3.038v1.187
  v5.527v3.431l2.372,5.532v3.427l2.372,2.639l2.113,3.694l2.892,3.158v2.372v1.318c0,0,3.43,1.056,4.216,1.318
  c0.797,0.26,7.91,3.958,7.91,3.958v-2.367l2.103-2.379v-3.949v-2.117l-1.322-2.638l1.322-1.574v-2.112c0,0,1.322-1.051,1.322-3.165
  c0-2.111,0-3.166,0-3.166l2.369-5.008l4.214-2.374l2.376-1.846l3.162-2.37l1.844-1.053c0,0,1.047,0,2.103,0
  c1.068,0,5.802-1.58,5.802-1.58l4.747-0.267h2.623v-2.623v-7.39h-3.685l-6.845-2.631v-3.69h7.372h3.158l2.116-1.319v-3.427v-1.585
  l-1.586-3.417l1.586-2.905v-8.169c0,0,2.103,1.055,2.889,0c0.792-1.055,4.744-2.907,4.744-2.907l1.318-1.31v-1.848l-3.156-3.423
  l0.529-3.168l2.627-3.16l3.958,1.317c0,0,1.85-1.053,2.631-1.317c0.793-0.262,3.699-1.846,3.699-1.846l1.581-3.845l2.635-2.746
  l2.105-2.368l3.161-3.697l1.839-1.578v-1.845v-1.579l-3.274-5.274l3.274-2.377l4.222,1.846l1.584,1.839l4.995-3.686l5.801-3.69
  l4.22-2.639v-2.373l4.208-4.479v-2.638l2.905-3.166v-1.582l4.473-5.799l3.432-5.796l3.165-2.637l0.124-2.246l0.977-1.563
  l0.734-2.522l2.647-2.106v-2.023v-3.78l3.412-4.475v-3.956v-3.696l3.96-5.264v-1.852l-2.113-4.145l1.052-3.5l2.9-1.845l1.313-2.635
  l-1.057-3.433h5.014l1.582-1.057v-1.312l2.896-2.893l2.639-1.588l2.105-1.315l1.089,0.79l4.441,2.114l2.9-1.06v-1.977
  L649.331,313.504z"/>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M671.511,345.1l-1.825-0.334l-4.292-2.639l-1.342-1.221l-0.804-4.197
    l-0.008-10.405l2.729-6.007l-3.768,2.815l-1.997,0.601l-6.5,0.806l-2.233-0.473l-1.642,0.071l-1.34-1.17l-0.748-1.274v-6.891
    l0.962-1.249l-1.164-1.272v-1.566l1.578-1.732h2.333l1.229-2.047v-1.021l1.682-1.672l0.054-0.752l1.128-2.045v-22.122h-0.912
    l-0.29-3l1.202-1.699v-0.568h-1.146l-0.241-2.626h-1.692l-1.312-1.437h-4.68l-0.766-0.924l0.324-0.311
    c1.441-1.365,2.388-2.491,2.579-3.091c0.479-1.469,2.812-4.727,2.914-4.863l4.229-3.317l1.608-5.361l4.242,4.239l3.363,0.417
    l3.322-4.159l-2.676-2.148h4.619l1.105,2.007l1.938,3.092l2.448,2.236l1.481,0.917l2.298,1.912l3.59,0.758l9.825-0.009l6.787-0.391
    l3.077-0.39l5.558-2.002l4.361,2.574l5.11-0.182l3.383-1.016l3.632,2.136l1.116,2.822h12.107l0.674,2.644l1.171,3.677l0.015,1.025
    l5.664,2.918h2.371l1.48,4.424l1.781,3.266v2.139l-0.259,1.556l-3.882,1.014l-4.199,3.814l-1.877,1.111h-3.949l-3.249,1.941h-2.339
    l-3.366-0.473l-2.221-1.469h-0.94v1.078l1.875,5.361h-6.214l-2.322,1.869v2.968l-2.588,1.235h-2.082l-2.157,4.074l0.756,3.789
    l0.646,1.72h2.257v7.838l-2.045,1.468l-1.643,2.389v3.724l-3.789,0.326l-4.109-3.288l-5.532-2.663l-3.447,0.927l-2.899,2.847
    l-0.955,2.195l-3.146,1.447l-2.988,3.972l-6.19,4.244l-3.585,3.337L671.511,345.1L671.511,345.1z"/>
</g>
<g id="XMLID_2_">
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M925.053,153.805l-1.557,2.569l-0.344,0.062
    c0,0-1.494,0.159-2.032-0.031c-0.505-0.157-2.502-0.666-2.502-0.666l-6.146-1.17l-6.146-2.157l-1.267,0.54l0.098,1.011l1.076,0.791
    l1.458,0.793l2.659,2.826l-3.83,4.562c-0.194,0.192-1.363,0.82-2.852,1.84c-0.919,0.603-1.615,0.982-2.028,1.202v1.904
    l-5.039,1.869c0,0.031-1.585,1.14-2.056,1.459c-0.349,0.222-0.73,0.666-0.828,0.823l-0.729,3.14l-1.233,2.66l-1.963,2.631v1.393
    l-0.382,0.194c-1.333,0.762-2.914,1.743-3.138,1.994c0.068,0,0.255,0.54,0.38,0.861c0.223,0.501,0.441,0.98,0.441,1.423
    c0,0.19,0.295,0.572,0.578,0.793l0.253,0.221v3.11h-13.817l-0.727-2.378l-2.467-1.111l-1.017-1.174l-2.786-2.468l-0.729-0.067
    l-4.055-2.026l-4.405-4.216l-1.329-0.603c-0.64,0-2.793,0.063-4.438,0.063c-1.587,0-1.993-0.033-2.182-0.095
    c-0.476-0.128-3.645-0.571-5.674-0.824l-0.314-0.064l-0.191-0.253c-0.031-0.095-1.077-1.616-1.429-2.505
    c-0.22-0.57-2.152-3.454-3.293-5.103l-0.128-0.444v-1.487c-0.029,0-0.095-0.444-0.095-1.109c0-0.381,0.034-0.859,0.095-1.365
    c0.128-0.95-0.538-2.882-0.792-3.55l-0.061-3.455l-1.841-1.645l-0.95-3.201l-4.498-3.806v-2.123l-1.521-1.996l-1.65-2.917
    l-1.835-0.92l-1.678-1.457l-1.902-2.094l-1.457-1.299l-1.647-1.964l-3.897-1.616l-1.49-1.017l-2.471-2.819h-8.112l-1.395-1.619
    l-1.71-1.042c-0.127-0.127-0.446-0.381-0.854-0.67c-0.51-0.346-3.234-2.407-3.234-2.407l-0.855-1.331l-3.326,0.444v-2.251
    l-2.25-2.251l-4.941-2.312l-2.821-2.028l-2.756-3.296V95.674l2.946-2.44v-3.391l3.452-3.9l0.127-11.156l0.349-1.493l0.982,1.269
    l1.3-0.379l7.158-0.856l1.458,1.266l1.461,3.139l0.981,0.57l2.788-0.158l1.807-1.107l2.09-0.858l5.006-1.392l4.311-2.285
    l1.902,4.281l2.312,3.454l1.714,3.108l0.602,8.905v2.409c0.028,0,0.156,0.158,0.502,0.445c0.762,0.539,4.468,2.882,4.501,2.917
    l1.59,2.185l3.258,3.199l0.414,1.585l2.756,4.755l1.013,0.413l4.943-0.413l4.752,2.284l2.568,2.725l7.353,4.437l5.29,5.452
    l2.945,2.534l8.084,3.047l5.674,0.123l3.418,1.175l3.994-0.729l3.609-2.664l3.392-1.109l4.374-1.203l8.016-0.413l2.376,2.536
    l1.743,5.958l-3.389,3.014l0.822,3.452l5.518,4.187l3.289,4.059l1.777,0.254l3.767,2.183l2.062,1.65L925.053,153.805z"/>
</g>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M887.914,188.956v4.374h-1.199l-0.893,2.54l-1.872,1.645l-1.648,2.661
    l-1.011,0.539l0.321,0.951l1.071,1.143v5.074h-1.2l-1.108,1.833l-1.521,1.367l-2.472,3.547h-3.928
    c-0.414,0.222-1.647,0.792-2.661,1.176l0.222,0.091l-0.383,0.858l-1.013,1.174l-3.865,2.63v0.571l-1.429,1.425l-1.263-2.695
    l-4.468-2.44l-1.679,2.125l-4.024,0.569l-2.598-3.045l-3.232,2.822l-6.306,3.424l-5.857,3.898l-4.09-0.507h-7.829l-3.071-3.581
    l-5.103-4.185l-3.835-3.328l-4.179-2.757l-4.755-3.9l-4.025,4.027h-19.737l-7.351,2.316l-6.052,0.507l-5.733-2.824h-5.516
    l-7.699-2.885l-6.304,0.477l-4.5,2.408h-5.008l-4.881,2.915l-7.002-2.978l-2.375-2.06l-1.68-2.917l1.425-2.505v-1.711l3.518-0.855
    l2.726-2.916l2.187-0.984l2.502-3.771l2.408-2.631l-0.157-0.319l1.107-0.951l3.422-3.264h7.828l3.518-2.79l2.059-0.474l4.024-0.032
    l3.99,1.237l1.744,2.059h8.206l2.249-2.093l3.332-5.293l2.624-2.123l2.663-1.805v-3.457l4.437-2.47l0.062-2.346l2.188-4.344h10.995
    l2.47-2.06v-5.707l-2.692-2.248c-0.158-0.129-2.6-2.601-3.613-4.662c-0.822-1.616-0.791-2.502-0.567-2.979v-1.999l-2.315-3.169
    l-2.093-2.344c-0.029-0.126-0.504-2.569-0.504-4.087c0-1.082-0.317-1.459-0.317-1.459l-1.236-1.269l10.393,0.031v-12.932
    l4.055-0.54l1.172,1.935c0.065,0,2.537,1.804,2.982,2.154c0.601,0.382,0.98,0.762,0.98,0.762l1.711,1.078l1.143,1.235h8.109
    l2.756,3.236l1.203,0.79l4.213,1.841l1.716,2.027l1.424,1.267l1.934,2.094l1.457,1.295l2.185,1.208l1.681,3.043l1.805,2.312v1.935
    l4.346,3.835l0.948,3.17l1.965,1.616v3.9c0.063,0,1.046,2.468,0.854,3.96c-0.157,1.236-0.032,2.156,0,2.186v1.395
    c0.727,1.048,2.978,4.374,3.325,5.198c0.224,0.54,0.764,1.429,1.11,1.967c1.206,0.158,4.879,0.665,5.479,0.821
    c0.033,0,0.343,0.065,1.838,0.065c1.931,0,4.562-0.096,4.562-0.096h0.188l1.84,0.921l4.434,4.215l3.706,1.803h0.794l3.265,2.887
    l0.949,1.142l2.696,1.077l0.629,1.996H887.914z"/>
</g>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M1246.142,333.901l-5.482-0.992l-4.911-5.41l-3.466-2.133h-15.789
  l-1.166-2.14l-4.149-3.233l-4.303-3.826l-5.532-2.737l-4.145-1.123v1.123l-5.312,0.589l-3.1-3.619l-2.509-3.333l-3.247,1.621
  l-6.569,1.047l-6.643-2.653l-2.64-3.083l-7.77-0.431l-1.574,3.04v3.314c0,3.496,1.715,5.681,1.733,5.704l0.16,0.2v12.245
  l-7.166-2.761l-5.562-3.12l-2.623-3.941h-5.081v-3.411l-2.707-5.394l-2.314-1.933l-4.988,3.182l-6.904-0.99l-5.532,0.482
  l-5.92-0.452l-4.022,4.473l-5.031,4.04h-9.68l-2.373-3.799h-10.4l-2.591-3.627l-3.08-3.958h-3.902l-5.437-2.047v2.047h-6.214v-2.761
  l-4.458-3.566l-5.672-4.263l-7.198-7.188l-3.844-4.797l-5.264-8.121l-10.351-11.29l-5.195-7.988l-4.35-2.183l-6.249,0.892
  l-6.01,4.166l-4.53,1.064l-4.972-0.46c-0.166-0.037-3.378-0.951-5.62-0.951h-4.739l-3.517-0.981l-4.03-2.959l-11.151-3.831v4.452
  l-7.959,9.451l-5.036,0.501l-3.604-0.973L939.656,264v-10.765l-2.875-3.697l-5.542,1.275l-11.719,9.781l-4.064-3.556h-4.459
  l-7.212-0.964l-5.653-2.321l-8.739,2.05V240.9h-3.056l-5.631-0.504l-1.977-2.972l-5.36-2.593l-2.195-3.962l-5.96-0.992v-3.305
  l-2.548-5.474l0.604-0.607v-0.769l4.389-2.924l0.4-0.488c-0.156-0.216-0.272-0.482-0.233-0.799c0.045-0.327,0.262-0.775,1.06-1.005
  c1.103-0.317,3.066-1.291,3.088-1.304l0.326-0.074h3.345l2.144-3.071l1.472-1.319l1.431-2.376h0.52v-3.049l-0.841-0.977l-0.839-2.35
  l1.882-1.051l1.423-2.366l1.844-1.695l0.941-3.067h0.829v-3.826c-0.337-0.336-0.848-0.958-0.848-1.677
  c-0.001-0.143-0.195-0.599-0.308-0.869c-0.323-0.803-0.665-1.626-0.246-2.246c0.328-0.494,1.882-1.442,3.258-2.224l0.149-1.19
  l2.027-2.708l1.105-2.41l0.809-3.252c0.184-0.34,0.723-1.055,1.317-1.451c0.502-0.333,2.183-1.511,2.183-1.511l4.25-1.6v-1.848
  l0.463-0.19c0.013-0.005,0.813-0.33,2.232-1.281c1.546-1.03,2.753-1.718,2.753-1.718l2.761-3.373l-1.608-1.776l-1.312-0.675
  l-1.696-1.26l-0.252-2.729l2.788-1.159l6.532,2.29l1.36,0.134l4.801,1.023c0.036,0.011,2.104,0.53,2.619,0.705
  c0.021,0.002,0.602,0.043,1.026,0.008l1.069-1.742l1.679,0.674l9.095-2.478l2.092,5.078l0.057,3.146l-3.283,4.939l-3.052,5.34
  l-0.255,7.992l-0.74,7.704l6.636,2.953l6.283,2.354l5.286-0.049l5.395-1.042l5.245-2.51l4.646,3.55h2.124l5.385,0.805l4.683-0.267
  l4.625-2.716l4.025,1.43l5.958,4.618l1.314,2.89l4.231,6.704h3.542l5.855-1.909l6.706,3.229h2.734l1.952,0.262l6.864,3.902
  l8.869-2.081l4.036,1.009c3.191-2.458,6.589-5.2,6.939-5.678c0.12-0.185,0.42-0.487,1.022-0.487c1.298,0,3.936,1.542,4.457,1.852
  l9.414,4.174l6.536,4.024l5.414-3.694l2.45-0.94l5.685,1.069l5.347-0.012l2.441-1.462l5.789,1.24l-2.152-9.037l3.538-10.137
  l5.213-0.52l2.657-0.771v-6.824l8.23,0.112l6.165,3.796l6.323,4.513l4.66-2.33l5.814,2.645l3.145,8.529l4.318-2.166l7.75,3.761
  l5.217,8.528l2.312,2.789l4.156,3.182l5.818,7.235l2.199,3.52h5.731l4.476,8.953l2.712,2.649l4.419,2.629h9.282l9.169,1.916
  l5.084-0.019l3.323,8.064l10.329,0.108l3.799,2.379l4.225,2.351l9.295,4.177h2.686l6.855,2.041l7.239-0.032l-4.17,7.016l-5.593,0.51
  l-4.339-0.934l-4.586,0.924l-8.079-0.974l-0.179-0.186c-0.029-0.023-2.817-2.751-8.25-4.561c-0.646-0.214-1.229-0.325-1.754-0.325
  c-2.568,0-2.916,2.897-2.965,3.699l3.674,5.974l6.752,7.212v6.587l3.241,2.875l3.792,8.064l4.186,7.895l8.651,6.893
  c0.399,0.825,5.216,3.364,7.532,4.58c1.268,0.668,2.386,1.256,3.056,1.66c2.532,1.513,4.195,5.008,4.271,5.152l0.916,5.972
  l-3.941,1.121l-4.713,0.032l-0.516,1.565l0.648,1.122l-3.175,0.166L1246.142,333.901L1246.142,333.901z"/>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M718.525,93.234l1.81-2.06l1.52-7.199l0.919-1.457l3.103-12.075
    l5.133,4.976l0.985,0.57l-1.775-4.247l-2.661-4.184l5.956-2.439l5.228-3.837l-1.837-6.246l-0.38-1.552l-2.06-8.81l10.742-0.984
    l9.852,2.599l7.258,8.336l5.639,5.359l5.673,5.167l5.606-0.539l7.765,10.174l-0.19,0.76l0.033,10.933l-3.454,3.933v3.519
    l-2.947,2.439v11.666l2.282,2.755l2.566,1.838l5.035,2.413l2.885,2.788v15.812h-8.966c0.062,0.318,0.125,0.732,0.125,1.208
    c0,1.169,0.316,2.977,0.443,3.581l1.807,1.899l2.663,3.867v2.757l-0.191,0.192c0.062,0,0.028,0.507,0.603,1.648
    c0.919,1.836,3.295,4.214,3.295,4.214l3.168,2.662v7.071l-3.42,2.849h-10.618l-1.677,3.363v2.723l-4.437,2.443v3.392l-3.266,2.184
    l-2.407,1.938l-3.265,5.225l-2.785,2.667h-9.475l-2.061-2.41l-3.23-0.92l-3.645,0.033l-1.714,0.411l-3.513,2.887h-7.765
    l-4.498,4.023l-4.724,0.921l-2.563,0.03l-3.804,2.218l-1.426,1.524l-3.739,2.279v0.794l-3.072,1.711l-4.628-1.998l-3.834-3.772
    l-4.024-0.442l-2.628,0.473h-12.451l-4.185,0.411l-0.79,2.854l-2.124,4.629l-3.673,3.009l-4.374,0.855l-1.205,2.441h1.522
    l2.598,3.074l2.089,3.139l-0.63,4.881l-3.806,5.674l-1.807,5.992l-2.405,4.847l-0.38,4.217l3.199,5.008l5.134,4.088l-4.501,5.639
    l-4.436-0.537l-3.104-3.105l-1.332,3.932l-4.278,3.296c-0.474,0.758-2.216,3.327-2.599,4.405c-0.505,1.551-3.42,4.086-3.991,4.598
    L646,270.986l-5.037-3.009h-6.055l-6.305-7.767l-1.425-13.314l-0.95-6.115l0.95-5.929l3.073-6.248l-5.576-3.42l-4.657-4.625h-6.115
    v-8.97l0.601-0.066c0.128-0.031,2.693-0.507,2.693-4.057c0-0.254,0-0.474,0-0.631c-0.156,0.254-0.346,0.6-0.475,0.92l-0.38,0.851
    l-4.72-3.549l-1.3-5.101l-5.609,2.627l-8.843-3.452l-8.49,0.125l-0.094,0.603l-1.173,2.123l-1.965,2.977l-2.375,2.062l-1.87,0.507
    l-6.812-5.926l1.359-16.387l-4.591,1.616l-4.435-8.495l-3.803,1.52l2.725-6.591c2.629-2.408,5.449-5.609,5.449-6.592v-7.86
    l-3.232-5.516l-3.452-3.425h-5.639v-9.761l2.979-11.982l17.962-4.848l3.743-0.03l3.579-2.697l9.981-3.359l3.198-3.646l6.783-4.404
    l3.358-4.407h6.369l6.336-2.821h12.99l4.566-3.645l2.468-3.01h5.322l4.28-3.329h14.479c0.857,0,4.753-1.619,7.256-2.758
    l0.318-0.094h8.049c0,0,4.245-0.477,10.676-2.788c3.455-1.237,4.277-2.348,4.436-2.918c0.127-0.411-0.032-0.664-0.062-0.695
    l-0.317-0.476l0.38-0.477l6.436-6.878l0.032-2.978l3.038-2.631l0.763-1.649l3.138,1.807l1.804,2.818l1.455,4.125l0.382,3.739
    l5.418,2.218l2.187,1.616l-0.031,0.412c-0.188,1.901-0.411,4.024-0.411,4.278C720.809,88.797,720.809,89.082,718.525,93.234z
     M714.219,102.805l0.063-0.252l-3.867,1.524l-0.982,4.245l2.757-4.755L714.219,102.805z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M735.451,53.412c0.095,0.35-0.063,0.633-0.35,0.826
    c-1.107,0.822-1.804,1.36-2.598,2.344c-0.221,0.286-0.602,0.252-0.885,0.124c-1.078-0.473-1.554-0.6-1.904-1.488
    c0.127,0-0.062-0.159-0.029-0.03c-0.412-0.097-0.855-0.191-1.27-0.253c-0.253-0.062-0.474-0.285-0.537-0.507
    c-0.317-1.207-0.285-1.903,0.22-3.012c0.191-0.443,0.38-1.266,0.92-1.423c0.413-0.1,0.538-0.383,0.98-0.89
    c0.161-0.191,0.477-0.254,0.699-0.191c0.921,0.288,1.65,0.288,1.932,1.298c0.159,0.635,0.352,1.27,0.508,1.904
    c-0.19,0,0.063,0.188,0,0c0.476,0,0.952,0,1.424,0c0.318,0.032,0.602,0.256,0.699,0.57
    C735.324,52.907,735.388,53.159,735.451,53.412z"/>
  <g>
    <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M725.686,62.237c-0.03,0.061-0.062,0.095-0.093,0.157
      c-0.318,0.604-0.636,1.239-0.952,1.869c-0.128,0.221-0.379,0.378-0.633,0.378c-1.395,0-1.994,0-3.138-0.724
      c-0.888-0.54-1.676-1.238-2.471-1.903c0.287,0.252-0.159-0.922-0.222-0.603c-0.031-0.76-0.476-1.172-1.014-1.932
      c-0.16-0.224-0.127-0.541,0-0.763c0.665-1.047,0.919-2.155,2.28-2.155c1.172,0,3.739,0,3.549,0
      c0.224-0.821,0.478-1.646,0.696-2.472c0.095-0.316,0.382-0.539,0.699-0.539c0.411,0,0.821,0,1.204,0
      c0.38,0,0.601,0.222,0.729,0.539c0.761,1.965,1.301,3.421,2.504,5.039c0.222,0.289,0.095,0.635-0.096,0.889
      c-0.539,0.634-1.27,2.22-2.219,2.22C726.224,62.237,725.973,62.237,725.686,62.237C725.719,62.139,725.561,62.237,725.686,62.237z
      "/>
  </g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M713.909,74.385l0.948,3.076l3.106,1.83l2.652-2.936l1.665-4.084
    l-1.209-5.41l-2.843-0.466l-2.652-1.791l-3.37-2.51h-0.494c-0.036-0.068-0.191-0.068-0.264,0h-0.646l0.189,0.576
    c-0.075,0.073,0,0.252,0.112,0.286l1.102,3.008C712.207,65.964,713.493,74.561,713.909,74.385z"/>
</g>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M1208.648,466.35v-1.167l-1.367-4.288h-2.344h-1.943l-5.062-3.31
  l-2.335-1.173h-3.309l-5.063-4.288l-2.147-3.7h-1.557h-2.921l-2.337-2.138l-2.332-1.758l-1.758-1.552l-2.537-1.757l-1.745-1.362
  h-2.151l-0.972-1.95v-0.587h-1.562l-4.482,2.723l-2.525-1.164h-2.732l-2.325-1.56l-1.947-2.338l-2.343-1.754h-3.306l-3.31-1.749
  h-1.758l-2.338-2.152l-3.688-1.168h-1.957l-6.81,3.32l-3.895-0.781h-3.496h-2.147l-2.724,0.39l-1.167,0.777l-1.949,1.361
  l-3.507,0.395l-3.305-0.584l-3.312-1.172v-0.978l-4.868-2.732v-1.944h-2.146l-2.144-0.972h-2.917l-2.923,0.972h-1.372l-2.138-0.972
  l-3.498-3.697l-1.556-2.541l-1.77-2.137l-1.549-2.34l-0.975-2.138l2.333-3.511v-3.893l0.774-6.235v-2.719h-3.107h-2.147
  l-5.456-0.785l-2.145-0.98l-2.332-2.915l-3.892-0.978l-3.507-1.168l-2.918,1.168l-2.918,1.167l-3.312-2.336l-2.732-2.538h-3.493
  l-5.647,2.729l-3.312,0.582l-5.467-0.386l-2.141,1.759l-3.316,0.584l-3.302,0.983l-2.337,0.766l-4.87-0.766l-1.752-1.179
  l-1.561-1.56l-6.812-1.559h-3.312l-7.013,0.786l-3.895-0.393l-6.63,2.34l-1.548,0.584l-2.719,0.393v2.138l-10.326,0.78l-2.147,1.562
  l-1.559,0.964l-2.542,0.198l-1.166,1.749v1.759l-2.725-1.949l-4.668,0.194l-2.34-0.578l-4.874,0.971v1.165l-0.981,1.168
  l-1.162,0.973l-3.307,0.586l-2.339,0.978l-4.089,2.342l-1.156,1.555l-1.374,2.145l-0.781,1.555l-1.165-0.782l-4.082-4.473
  l-1.766,0.189l-6.03,1.561l-1.561,0.191h-2.329h-4.482l-0.976,0.783l-2.332,1.366l-3.503,1.943l-2.538-0.389v1.172l-2.333,1.555
  c0,0,0.972,0.97,0,1.166c-0.982,0.199-4.871,0.978-4.871,0.978l-1.941,0.391l-0.781,1.168l-0.977,0.588l-2.33-2.142l-3.12-0.388
  v2.917l-1.555,1.756l-1.569,0.973l-3.101-2.333l-1.94-0.974l-4.682-0.98v-0.976l-2.918-1.944l-2.926-1.365l-2.141,1.75
  c0,0-1.562,0.982-2.15,1.366c-0.579,0.395-5.644,1.756-5.644,1.756l-1.366-2.336l-2.913-0.818l0,0l-1.95-0.547v3.108l1.781,4.664
  v1.668c0,0,0.887,0.938,0,2.304c-0.892,1.364,0,4.365,0,4.365v0.997l-1.781,1.997c0,0-0.227,0.335,0,1.332
  c0.224,0.998-0.103,4.67-0.103,4.67l-2.006,2.996v1.331l-2,1.67v3.328V452l0,0c1.215-0.409,3.067-0.813,3.419,0.418
  c0.521,1.846,3.947,5.538,3.947,5.538l2.908,3.954c0,0,0.787,1.848,1.053,2.636c0.268,0.793,0,2.374,0,2.374l1.32,2.122v3.939
  l1.846,6.076l1.848,3.165l2.633,2.106l1.581,1.588h2.903l3.692-1.848l2.372-1.579l2.377-0.535l4.207,3.432c0,0-0.26,2.376,0,2.643
  c0.265,0.26,2.645,4.209,2.645,4.209v3.966l1.051,5.812h2.104v5.007l1.322,2.371v1.84l1.594,0.537l2.902,6.852v2.642l2.37,2.106
  c0,0,1.318-1.314,2.109,0c0.78,1.32,2.371,4.226,2.371,4.226l5.534,3.282v1.993l3.951,1.85l5.53,3.685l3.702-0.52l1.582-1.326
  c0,0,0.516-2.904,1.839-0.526c1.316,2.372,4.484,7.39,4.484,7.39l3.164-1.058h1.843l7.386-0.27v1.851l2.372,1.848l2.905,0.526
  l2.608,1.061l1.869,2.373l1.846,0.793h1.324l4.219,2.103l4.744,1.317v1.843l3.43,2.645l2.104,0.26c0,0,1.315-0.26,2.368-0.26
  c1.063,0,2.112,2.902,2.112,2.902l2.382,4.745l2.894,0.525l3.422,1.841v1.328l3.961,2.64l5.014,1.842v2.114l2.103,1.318l2.116-0.524
  l2.895,0.266c0,0-0.533,1.043,0,1.834c0.525,0.798,2.38,3.699,2.38,3.699l2.636,3.693l2.377,1.846l1.836,1.321v3.683l1.316,2.117
  v1.313l2.639,0.523l2.904,0.269v3.696v2.369l3.952,2.113l3.176,4.216v0.793l4.213,1.32c0,0,2.632,0,3.688,0c1.051,0,6.593,0,6.593,0
  h2.112l2.375-2.113l2.107,2.113l3.155,1.852l2.115-1.324c0,0-0.01-0.527,1.846-0.527c1.849,0,1.849,0,1.849,0l3.16,5.536h2.897
  c0,0,2.357-0.52,4.082,1.324l1.192-0.256l7.119-5.541l9.494-6.076l6.599-5.799l4.217-2.899c0,0,4.222-2.645,5.541-5.814
  c1.314-3.155,4.211-2.627,4.211-2.627l3.43-2.375l5.54-3.954l7.116-5.808l7.639-5.271l6.598-3.958l3.692-4.484l7.39-6.332
  l7.906-6.066l5.262-2.371l5.272-7.911l3.698-3.428l5.011-4.223l5.798-8.177l10.549-10.812l3.693-4.751l6.594-6.331
  c0,0,3.163-5.802,3.953-6.327c0.793-0.528,4.222-8.179,6.323-10.021c2.114-1.849,7.651-9.236,7.651-9.236l3.955-6.598l4.482-2.369
  L1208.648,466.35z"/>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M739.272,413.14h2.332l2.328-2.001h1.997l2.335-1.666h6.324h3.667
  l2.998,1.666l5.33-3l2.667-3.329h3.998h4.001v-2.332v-3.664h2.333h3.282h2.045h1.334h1.663l3.666-2.665l2.001-2.671v-1.662h1.997
  h1.999l1.665-1.999l1.793-1.972v-3.31v-5.455l-2.919-3.701v-2.34l2.144-1.945l2.921-3.306l1.361-1.378l-0.197-2.917l-1.751-5.066
  l1.366-1.361l0.2-2.541l-1.373-2.527l-2.137-2.137h-1.171l-1.363-5.466l-4.288-4.868v-2.336l-1.361-3.504l-2.33-1.558l-2.733-0.974
  l-8.562-2.148v3.314l-3.121,2.34l-1.946,1.165l-3.704,2.724l-3.309,1.759l-2.145,0.191l-2.922-0.388h-3.695l-3.513-0.586
  l-1.938-2.34v-2.136l1.56-3.507l-0.198-2.536l-1.361-2.148l-1.56-1.356l-4.864-2.143h-1.758l-2.523-1.951l-1.179-1.75v-3.117
  l-1.547-3.511h-3.315l-1.367-5.843v-0.971l-3.318-2.532v-1.367l-4.087-2.33l-0.447-1.342h-3.328h-2.372l-2.644,2.113v2.9
  l-2.109,1.056h-2.371l-2.377,4.477l0.798,3.965l0.785,2.107h2.11v2.111v3.696v1.314l-1.847,1.323l-1.847,2.631v3.434l-3.164,0.269
  l-3.951-3.17l-0.15-0.109l-1.434,3.01l-2.101,2.375l-1.854,1.576c0,0,0.792,1.322,0,2.379c-0.787,1.055-1.841,5.006-1.841,5.006
  l-2.118,2.381v4.213l-1.309,2.638l-3.434,2.374l-1.58,4.226l-2.107,1.581l-1.587,1.325l-1.85,1.054h-2.376v2.635v4.748v1.584
  l-5.799,2.377v2.906v2.634l-1.578,2.641h-1.05l-1.062,2.374v3.689l2.644,2.372l-0.532,2.114l-2.111,2.636v8.176h-2.106l-1.32,2.379
  v3.426v3.168l1.32,1.322h2.896l1.063,2.9l2.377,2.375c0,0,1.048-0.53,1.837,0c0.789,0.526,6.598-2.115,6.598-2.115l2.498-1.581
  c0,0,5.941-1.85,6.723-1.582c0.798,0.263,2.116,0,2.912,0c0.78,0,2.893,0,2.893,0s0.263-0.794,1.854,0
  c1.576,0.785,7.373,5.345,7.373,5.345l3.692,2.044h3.171h3.159h3.427l2.111-1.325l5.271-1.046h2.636l5.087-1.096l0,0L739.272,413.14
  z"/>
<g>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" points="844.097,416.884 842.143,416.333 842.5,415.051 
    844.456,415.599   "/>
</g>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M696.345,562.145l1.575-1.056l2.901-1.314l2.438-3.17l2.311-3.688
    l6.066-4.226v-5.797l-0.528-2.382l-0.794-2.897l0.269-2.899l0.525-1.319l1.324-1.849l1.319-1.851l1.053-4.216l1.579-1.848
    c0,0-2.371-5.803-2.632-7.39c-0.263-1.581-1.052-1.838-1.052-1.838v-2.906l1.312-2.634l0.528-3.957l-0.528-3.96v-2.113l4.741-1.052
    l4.494-1.057l5.799,2.106h1.318l2.108-2.106l0.523-2.645l2.376-5.005l0.267-2.643l1.312-1.312l1.959-2.377v-3.164v-2.378h-4.333
    l-2.104-2.11l-2.108-4.747v-1.842l1.84-2.904c0,0,0.799-2.902,1.058-5.277c0.186-1.686,2.218-3.368,1.79-4.863h1.549h3.668h2.663
    h3.335v-2l3.999-3.337l2.327,2.668l1.333,2.664l1.671,2.003l2.662,1.416l3.659,1.916h2.005v2.331h2.332h1.498l2.832-2.665
    l4.668-1.585h2.329h2.996h2.289l1.714-2.25l2.327-2.167v-1.665l3.334,0.999l2.333,2.833h1.999l2.663,2.25h3.999h1.335l2.328,1.918
    l2.001,2.328l1.986,1.54l0,0l-2.319,1.993v2.627v2.641v4.752v4.226v1.842l-2.641,2.111l-3.956,1.322c0,0-2.896,1.316-3.694,2.107
    c-0.787,0.788-0.787,2.115-0.787,3.953c0,1.847-1.056,0-1.056,0l-3.424,6.075l4.21,2.904l0.798,0.79h1.576
    c0,0,1.321,5.806,1.589,6.6c0.266,0.783,2.372,0,2.372,0v3.419v4.745h-4.217l-1.583,2.639l-2.907,3.172l-1.319,2.901h-2.896
    l-0.528,3.159l0.79,1.588l1.062,1.315l3.943,2.104l3.438,1.589l-3.438,4.223l1.59,2.372l1.849,2.376v3.429h-2.118l-1.838,1.32
    h-2.904l-1.584,3.162h-1.577l0.787,2.903l0.528,5.014l1.846,4.479l-0.786,2.903l-1.588,1.578l-5.003,1.318l-1.065,2.903
    l-1.581,2.373l-6.051,2.899l6.051,2.64l1.062,1.582l0.789,3.303l4.22,1.186l2.107,0.269l6.588,4.479v2.905l-1.838,0.791
    l-4.226,7.109l-1.314,1.854l-1.317,3.956l-5.802,1.579h-3.694h-2.111c0,0-5.53-3.694-7.112-5.009
    c-1.585-1.321-3.162-2.643-3.162-2.643l-2.377-5.261h-3.163h-2.376v-1.586c0,0-5.271,0.259-7.123,0
    c-1.84-0.273-4.216-2.117-4.216-2.117v-1.313v-2.111l-2.637-2.902h-1.316l-7.126,2.372l-3.942,2.642h-4.226v-1.852l-3.427-2.11
    l-1.585-2.374h-5.529l-3.426-1.051l-2.644-4.488h-3.166l-2.626-4.479v-1.852l-2.12-1.842l-1.845-2.373l-3.165-3.697l-1.484-1.784
    l-0.75,0.586l-1.251-0.247l-2.082-0.172l-3.746-0.497l-3.665-0.415v-0.337v-0.837l3.247,0.253l2.416-0.495l3.247,0.242h1.832
    L696.345,562.145z"/>
</g>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M838.215,450.127v-3.33l2.002-1.668v-1.331l2.008-2.997
  c0,0,0.326-3.669,0.099-4.668c-0.225-0.997,0-1.333,0-1.333l1.78-1.998v-0.999c0,0-0.889-3.001,0-4.364c0.889-1.364,0-2.302,0-2.302
  v-1.664l-1.78-4.669v-3.107l-4.087,0.2l-3.316,0.386v-1.945l-3.505-3.501l-4.869-2.538l-2.136,1.367l-5.851-0.196l-4.476,2.335
  l-1.165,1.952l-1.367,1.558l-1.365-3.703v-1.37l1.946-2.335l2.533-6.623l0.201-3.311l-0.201-2.731l-3.699-3.891l0.189-1.948
  l-4.472-0.589l-3.696,1.367l-1.955-2.34l-1.792,1.972l-1.661,2.001h-2.002h-2.001v1.662l-1.998,2.667l-3.668,2.667h-1.66h-1.333
  h-2.046h-3.285h-2.334v3.665v2.33h-3.996h-3.995l-2.672,3.329l-5.331,3.001l-2.995-1.668h-3.666h-6.324l-2.337,1.668h-1.997
  l-2.329,1.999h-2.333l-2.769,2.844l0,0l2.3-0.496c0,0,0.786,1.321-1.845,3.958c-2.643,2.636-3.954,5.011-3.954,5.011l-2.64,1.849
  l-5.012,8.701c0,0-1.049,2.111-1.049,2.901s0.786,4.489,0.786,4.489l7.914,11.339c1.299,0.535,1.877,1.12,2.051,1.73h1.549h3.665
  h2.666h3.334v-2l3.997-3.337l2.328,2.668l1.335,2.664l1.669,2.003l2.661,1.416l3.666,1.916h1.995v2.331h2.334h1.499l2.833-2.665
  l4.666-1.585h2.332h2.995h2.291l1.712-2.25l2.328-2.167v-1.665l3.334,0.993l2.329,2.839h2.001l2.664,2.25h4h1.334l2.33,1.918
  l1.998,2.328l1.988,1.54l0,0l1.369-1.172l1.838-2.113l2.911-3.429h2.368l3.43,1.846l3.155,0.528l2.378-2.374h3.434v-1.849
  l3.423-2.374l3.952-1.319c0,0,0.464-0.21,1.07-0.417l0,0v-1.861h-0.008V450.127z"/>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M635.252,364.813h2.195h1.864h2.194c0,0,0,0.849-0.165,2.033
  c-0.173,1.187-0.341,1.354-0.341,1.354l-0.844,2.368c0,0,0,2.032-0.174,2.709c-0.169,0.675-0.337,1.353-0.337,1.353l-0.334,0.679
  l1.352,1.859l1.691,1.694l-0.849,1.861c0,0,0,1.014-0.165,2.198c-0.173,1.184-1.185,0-1.185,0s-1.188,1.015-1.188,1.692
  c0,0.679,0.853,3.047,0.853,3.047l-1.017,1.354l-1.017,1.353l0.337,2.031l-0.678,1.692l-1.18,1.863c0,0-2.032-0.168-2.54,0
  c-0.505,0.168-2.032,0.848-2.032,0.848h-2.704h-1.354h-1.521l-1.521,1.52l-0.85,1.86l-1.519,1.187l-0.51,2.292l-0.845,0.078
  c0,0-1.691-0.175-2.198,0c-0.508,0.171-1.859,1.011-1.859,1.011l-0.172,1.185l-0.169,1.522l-2.198,1.518h-1.86l-0.505,3.218
  l-1.359,1.012h-1.858c0,0-0.508,1.012-1.186,1.86c-0.676,0.848,0,1.519,0,1.519l-0.676,2.371l-0.337,1.012l-0.848,2.877
  c0,0-2.03,2.876-2.364,4.396c-0.34,1.522-1.015,0-1.015,0l-0.341,1.187l-0.845,1.016l-0.336,2.537l-1.864,1.86v1.017l-0.857,1.184
  v0.676v2.371v2.034l-4.333,1.69l-2.388,3.727l-1.981,3.046v4.401v3.044l-0.247,2.71v3.047v4.515h2.228l-1.981,2.927v1.014v3.045
  l2.062,3.725v2.705h2.308l1.982,3.386h-1.982v3.048l5.909,2.366h1.818l2.135,3.383h3.956v2.706v2.707v2.809h1.356l1.352,2.945v1.693
  v3.041l3.384,2.375h1.354l2.37,3.046l2.703,2.029v2.368l2.031,1.02l1.353,0.674l3.726-3.048v-1.688l2.028,0.331l3.72-1.014
  l2.032-0.673l2.369-1.69l6.765,2.363l4.402,4.744h2.704v1.685l3.385,1.691h1.688l1.358,4.058h4.397l2.706,4.06l1.353,2.369
  l3.38,4.735v1.697v1.689l2.706,2.369h1.69l2.368,2.034l2.366-2.034l3.047,3.049h1.354l4.735,3.377l2.233,0.556l-1.049-2.414v-1.186
  l-0.677-1.694v-0.846l-2.705-1.184v-2.881l-1.016-2.193l1.184-1.518l-1.184-1.863l-3.213-1.861l-1.522-2.368l-0.847-3.386
  l-1.86-3.72l1.692-5.419l0.168-1.855c0,0,1.518-3.388,1.688-4.062c0.175-0.683,0.339-3.047,0.339-3.047l0.339-1.696l-2.197-2.703
  l0.504-2.711l-0.336-1.253l-0.505-3.817l1.18-1.016c0,0,0.677,0,2.199-0.681c1.521-0.677,1.521-0.672,1.521-0.672l1.861-1.521
  l-1.689-1.016h-1.013l-5.751-1.858c0,0,0-1.688,0-2.369c0-0.677,0.845-2.034,0.845-2.034l0.508-1.69
  c-1.014-1.015-3.214-1.355-3.214-1.355l-1.863-1.521l-5.074-1.349l-2.539-0.853c0,0-2.876-0.673-1.182-1.35
  c1.689-0.682,4.398-2.202,4.398-2.202l0.506-0.848c0,0-0.166-2.034,0.679-2.876c0.847-0.847,3.045-4.228,3.045-4.228h1.523
  l1.687,1.356l1.691-1.356l1.186-2.201l-1.958-1.519l-3.966-2.539l-1.179,1.78l-1.358-1.78l-1.521-2.198l-0.169-1.864l-0.507-1.352
  l-1.013-2.371l-2.875,1.013l-0.704-2.539c0,0,0.2,0.508,1.042,0c0.841-0.507,1.86-1.185,1.86-1.185l1.353-1.014l0.847-1.863
  l-0.336-1.52l-0.335-1.86l-1.523-2.198h1.523h3.378h2.199c0,0,0.173-2.195,0.173-2.707c0-0.508,2.029-3.217,2.029-3.217l0.169-1.52
  l-0.336-1.011h-1.016h-1.015h-1.689h-0.845h-1.523l-0.679-1.355l-1.518-3.551l-3.751-1.017v3.048l-1.835,1.355l-2.365,0.169
  l-1.016-1.352l2.032-1.185l0.844-1.187l2.373-2.707l1.688-4.058l0.848-2.542l1.689-1.187l1.521-0.848h1.356l2.827-1.305l-1.312-1.31
  l-1.061-2.895h-2.899l-1.319-1.321v-3.162v-3.418l1.319-2.372h2.103v-8.165l2.116-2.629l0.527-2.111l-2.644-2.371v-3.683l1.065-2.37
  h1.051l1.575-2.635v-2.626v-2.901l5.802-2.376v-1.581v-4.739v-2.631h2.375l1.848-1.052l1.582-1.319l2.106-1.578l1.577-4.215
  l3.437-2.368l1.312-2.639v-4.208l2.11-2.373c0,0,1.053-3.95,1.84-5c0.791-1.056,0-2.375,0-2.375l1.852-1.579l2.106-2.374l1.433-3
  l-1.699-1.213c0,0-5.005-2.099-5.796-1.841c-0.786,0.268-1.317,0.793-1.317,0.793l-2.374,2.375l-1.839,3.953l-3.452,0.792
  l-1.846,3.229l-5.277,3.62l-3.154,2.103l-1.322,1.318l-2.639,2.898h-1.834l-2.375-0.53c0,0-2.374-1.577-3.424-2.637
  c-1.055-1.051-1.631-1.312-1.631-1.312v-5.465v-3.226v-5.006l3.471-7.637l-3.471,2.632l-1.799,1.322l-1.847,0.529l-6.062,0.784
  h-2.896l-2.903-1.048v-1.32l-1.586,0.792l-2.37,3.95l-1.32,2.362v2.909v2.967l-5.8,3.876v3.954l-1.319,5.257l-2.37-1.05
  l-1.317-1.582l-2.373,3.685l-1.836,2.638v2.895v2.372l-2.113,8.428v1.348c0,0,4.553-1.013,5.059-1.181
  C631.53,365.659,635.252,364.813,635.252,364.813z"/>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M458.582,489.205h5.804l2.634-1.63h2.114l1.571-1.589h5.276
  l2.372-1.058h1.585h2.899c4.728-2.094,4.909,0,4.909,0l-1.185,1.248l-1.012,1.859l-0.082,1.108v5.53v3.422l2.375,5.526v3.421
  l2.372,2.643l2.113,3.684l2.895,3.156v2.36v1.324c0,0,3.432,1.047,4.217,1.312c0.795,0.263,7.911,3.956,7.911,3.956v-0.939h1.207
  l0.336,0.681l0.677,1.014l1.52,1.521h1.521h1.186l3.891,1.518h2.198c0,0,1.014,1.688,0.848,2.197
  c-0.17,0.504-0.507,0.852-0.507,0.852v1.688h0.507l0.843,1.518l1.016,1.361l1.012,0.844l0.679,0.848l1.354,1.688l0.509,0.851
  l2.199,1.188h3.247l1.654,1.353l2.369,2.031l0.508,1.527l-0.677,1.857l-1.186,2.369l0.339,1.691h0.675l1.014,1.52v1.689
  l-0.507,2.032c0,0,0,1.18,0,1.69c0,0.504,0.507,1.863,0.507,1.863h1.517v1.356l-1.179,1.521c0,0-2.198,0.507-3.042,0.95
  c-0.851,0.438-0.851,0-0.851,0l-1.147,1.251v1.12l4.027,3.455l1.013,1.555l-2.369,2.336l-1.182,0.848l-1.489,1.012l-1.389,2.032
  l-1.521,1.521l-2.029-0.849l-2.369-0.679l-2.708,0.847l-1.349,1.013l-2.369,1.523l-1.015,2.122l-1.518,0.751l-1.694-0.751
  l-2.197,0.075c0,0-1.355-0.174-1.86,0c-0.508,0.164-1.354,1.523-1.354,1.523l-1.357,1.854l-2.537,1.186v1.258v2.108v1.802v2.14
  v2.135l-0.844,1.171c0,0-2.368,0.894-2.875,1.703c-0.507,0.822-2.538,0-2.538,0l-1.355-0.978l-2.196-0.726h-0.68h-0.677
  l-2.029,0.894l-1.353,0.81v3.253l-9.053-9.047v-2.757l-9.094-3.562l-7.12-1.581h-4.347l-6.717-3.159l-12.656-7.104l-3.952-7.503
  l-9.885-9.878l-0.563-0.247l-0.881-0.493v-0.379l1.142-0.127l2.917,0.757l0.762,0.389l2.285,2.15l0.758,0.636l2.413-0.131
  l2.25-0.956l12.252-6.974l8.301-4.479l5.928-9.876l-0.389-7.498l-1.977-5.134l3.162-2.368l1.97-6.324l-1.57-4.739l-3.956-8.291
  l-0.791-5.129l-3.562-7.901l-0.941-1.767l-1.267-1.015C455.189,490.577,454.622,489.205,458.582,489.205z"/>
<g>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" points="697.424,561.691 696.54,559.977 697.278,559.328 
    699.418,560.789   "/>
</g>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M732.191,475.192l-2.106-4.739v-1.841l1.839-2.904
  c0,0,0.805-2.893,1.062-5.257c0.255-2.369,4.214-4.744-0.258-6.584l-7.918-11.321c0,0-0.787-3.683-0.787-4.482
  c0-0.791,1.052-2.891,1.052-2.891l5.01-8.688l2.644-1.843c0,0,1.308-2.372,3.949-5.003c2.628-2.632,1.841-3.952,1.841-3.952
  l-7.382,1.586h-2.636l-5.272,1.041l-2.11,1.325h-3.427h-3.155h-3.163l-3.695-2.037c0,0-5.795-4.55-7.377-5.339
  c-1.584-0.792-1.85,0-1.85,0s-2.106,0-2.891,0c-0.797,0-2.113,0.266-2.907,0c-0.786-0.266-6.722,1.576-6.722,1.576l-2.497,1.579
  c0,0-5.803,2.641-6.601,2.104c-0.783-0.519-1.836,0-1.836,0l-1.059-1.054l-2.827,1.309h-1.354l-1.52,0.849l-1.69,1.185l-0.849,2.539
  l-1.688,4.062l-2.371,2.708l-0.846,1.186l-2.032,1.183l1.016,1.356l2.366-0.17l1.834-1.357v-3.047l3.75,1.018l1.52,3.549
  l0.677,1.354h1.525h0.843h1.691h1.015h1.015l0.336,1.014l-0.168,1.519c0,0-2.03,2.709-2.03,3.219c0,0.512-0.172,2.705-0.172,2.705
  h-2.2h-3.379h-1.521l1.521,2.199l0.337,1.861l0.336,1.518l-0.848,1.862l-1.354,1.015c0,0-1.015,0.673-1.858,1.184
  c-0.845,0.511-1.044,0-1.044,0l0.704,2.54l2.878-1.014l1.015,2.371l0.505,1.355l0.167,1.86l1.521,2.201l1.359,1.779l1.183-1.779
  l3.961,2.537l1.96,1.519l-1.186,2.203l-1.692,1.354l-1.688-1.354h-1.521c0,0-2.197,3.38-3.048,4.228
  c-0.845,0.843-0.677,2.876-0.677,2.876l-0.505,0.846c0,0-2.706,1.522-4.397,2.198c-1.694,0.681,1.183,1.358,1.183,1.358l2.537,0.846
  l5.075,1.352l1.864,1.518c0,0,2.193,0.338,3.212,1.36l-0.507,1.688c0,0-0.847,1.356-0.847,2.036s0,2.367,0,2.367l5.753,1.859h1.013
  l1.687,1.015l-1.857,1.519c0,0,0,0-1.521,0.676c-1.522,0.675-2.199,0.683-2.199,0.683l-1.183,1.015l0.507,3.816l0.335,1.254
  l-0.504,2.71l2.196,2.704l-0.337,1.695c0,0-0.169,2.365-0.338,3.047c-0.175,0.677-1.69,4.06-1.69,4.06l-0.169,1.86l-1.691,5.415
  l1.86,3.721l0.847,3.384l1.522,2.37l3.213,1.857l1.185,1.867l-1.185,1.519l1.015,2.196v2.876l2.705,1.184v0.849l0.68,1.691v1.189
  l1.048,2.412l0.472,0.122v-1.355l1.692-2.703h6.512v3.378v6.09l-1.605,3.219l1.393,0.959l2.17-0.99l2.433-3.162l2.311-3.676
  l6.062-4.218v-5.796l-0.526-2.377l-0.795-2.887l0.268-2.893l0.527-1.321l1.32-1.84l1.322-1.848l1.049-4.205l1.577-1.851
  c0,0-2.368-5.792-2.626-7.373c-0.259-1.579-1.054-1.835-1.054-1.835v-2.901l1.312-2.628l0.532-3.948l-0.532-3.955v-2.106
  l4.739-1.053l4.498-1.052l5.796,2.104h1.314l2.11-2.104l0.524-2.636l2.37-5.001l0.267-2.636l1.32-1.314l1.957-2.373v-3.153v-2.375
  h-4.333L732.191,475.192z"/>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M575.621,566.82l1.98,3.944l-1.98,2.769h-4.743l1.978,7.898
    l-3.955,0.793l-1.584,3.941l-4.748,3.555l-5.134,0.789l1.185,3.559l1.185,3.158l-1.185,2.37l-10.279-4.349l6.722,5.14l0.393,3.551
    l-1.58,6.716l-7.114-1.189l-0.795-6.321l-6.72,3.167l3.562,2.366l4.345,3.163l-1.187,5.521l-3.158,0.403l-2.369-0.793l-1.588,3.945
    l-3.558,1.584l-3.162-4.736l-2.376-0.793l2.376,8.296l1.976,6.71v2.761l-6.331,2.374l-7.505-5.925l-5.933-5.526l-3.95-0.784
    l-5.147-2.772l-3.164-6.313l-11.064-9.479l-1.229-1.225v-3.249l1.352-0.812l2.03-0.893h0.677h0.68l2.197,0.726l1.354,0.979
    c0,0,2.033,0.814,2.54,0c0.507-0.812,2.872-1.705,2.872-1.705l0.847-1.172v-2.135v-2.14v-1.805v-2.107v-1.254l2.54-1.186
    l1.354-1.858c0,0,0.848-1.365,1.353-1.521c0.508-0.177,1.862,0,1.862,0l2.197-0.074l1.693,0.75l1.521-0.75l1.014-2.122l2.368-1.521
    l1.352-1.018l2.707-0.846l2.365,0.678l2.032,0.851l1.521-1.521l1.389-2.033l1.492-1.013l1.179-0.848l2.372-2.337l-1.018-1.555
    l-4.025-3.454v-1.121l1.147-1.251c0,0,0,0.439,0.849,0c0.845-0.44,3.047-0.947,3.047-0.947l1.179-1.521v-1.359h-1.519
    c0,0-0.509-1.356-0.509-1.862c0-0.505,0-1.686,0-1.686l0.509-2.039v-1.686l-1.014-1.52h-0.678l-0.335-1.694l1.184-2.365
    l0.679-1.864l-0.509-1.521l-2.367-2.03l-1.656-1.356h-3.247l-2.197-1.188l-0.508-0.853l-1.354-1.684l-0.68-0.852l-1.013-0.842
    l-1.015-1.357l-0.845-1.522h-0.506v-1.689c0,0,0.338-0.336,0.506-0.849c0.17-0.508-0.845-2.195-0.845-2.195h-2.199l-3.891-1.521
    h-1.185h-1.52l-1.522-1.519l-0.68-1.016l-0.333-0.682h-1.207v-1.428l2.107-2.366v-3.954v-2.117l-1.32-2.631l1.32-1.577v-2.109
    c0,0,1.316-1.052,1.316-3.159c0-2.109,0-3.163,0-3.163l2.375-4.997l4.217-2.369l2.372-1.848l3.163-2.367l1.848-1.058
    c0,0,1.048,0,2.104,0c1.062,0,5.805-1.579,5.805-1.579l4.742-0.253h2.634v-2.642v-7.375h-3.694l-6.851-2.628v-3.689h7.376h3.168
    l2.109-1.32v-3.418v-1.582l-1.586-3.412l1.586-2.907v-8.16c0,0,2.104,1.05,2.895,0c0.793-1.053,4.743-2.903,4.743-2.903l1.32-1.319
    v-1.848l-3.157-3.422l0.522-3.163l2.635-3.153l3.958,1.315c0,0,1.846-1.055,2.64-1.315c0.785-0.267,3.692-1.851,3.692-1.851
    l1.576-3.839l2.631-2.739l2.111-2.371l3.166-3.688l1.839-1.58v-1.841v-1.567l-3.271-5.264l3.271-2.373l4.222,1.847l1.582,1.833
    l5-3.681l5.801-3.688l4.224-2.638v-2.367l4.211-4.472v-2.639l2.904-3.16v-1.577l4.479-5.798l3.429-5.779l-0.383-2.132l0.843-1.861
    l0.852-0.335l0.677-1.015h0.677l1.305-0.036l1.296,3.527l4.487,1.857c0,0,2.889-0.793,3.423-1.589
    c0.524-0.784,4.218-3.817,4.218-3.817v-2.989c0,0,4.555-1.013,5.062-1.184c0.508-0.172,4.229-1.014,4.229-1.014h2.197h1.863h2.194
    c0,0,0,0.849-0.166,2.033c-0.175,1.187-0.34,1.354-0.34,1.354l-0.848,2.368c0,0,0,2.032-0.171,2.709
    c-0.169,0.672-0.335,1.353-0.335,1.353l-0.335,0.679l1.354,1.859l1.688,1.694l-0.848,1.861c0,0,0,1.014-0.166,2.198
    c-0.175,1.184-1.188,0-1.188,0s-1.185,1.015-1.185,1.692c0,0.679,0.849,3.047,0.849,3.047l-1.011,1.354l-1.018,1.353l0.337,2.031
    l-0.677,1.692l-1.181,1.863c0,0-2.033-0.168-2.54,0c-0.509,0.168-2.031,0.846-2.031,0.846h-2.706h-1.354h-1.519l-1.521,1.52
    l-0.85,1.863l-1.52,1.187l-0.507,2.292l-0.847,0.078c0,0-1.695-0.175-2.198,0c-0.508,0.171-1.862,1.011-1.862,1.011l-0.172,1.185
    l-0.166,1.522l-2.2,1.518h-1.859l-0.506,3.218l-1.355,1.012h-1.862c0,0-0.507,1.012-1.185,1.86c-0.677,0.848,0,1.519,0,1.519
    l-0.675,2.371l-0.339,1.012l-0.847,2.877c0,0-2.03,2.876-2.367,4.396c-0.339,1.522-1.012,0-1.012,0l-0.343,1.187l-0.845,1.016
    l-0.334,2.537l-1.865,1.86v1.017l-0.855,1.184v0.676v2.371v2.034l-4.332,1.69l-2.39,3.727l-1.979,3.046v4.401v3.044l-0.248,2.71
    v3.047v4.515h2.227l-1.979,2.924v1.017v3.045l2.058,3.725v2.705h2.311l1.981,3.386h-1.981v3.048l5.908,2.366h1.819l2.137,3.383
    h3.951v2.706v2.707v2.809h1.358l1.354,2.945v1.693v3.041l3.382,2.375h1.354l2.365,3.046l2.708,2.029v2.368l2.03,1.02l1.354,0.674
    l3.723-3.048v-1.688l2.031,0.331l3.719-1.014l2.031-0.673l2.371-1.69l6.765,2.363l4.401,4.744h2.705v1.685l3.384,1.691h1.69
    l1.354,4.058h4.4l2.706,4.06l1.351,2.369l3.383,4.735v1.697v1.689l2.705,2.369h1.691l2.366,2.034l2.367-2.034l3.046,3.049h1.354
    l4.736,3.377l2.235,0.556l0.639,1.479l-0.639-1.479l0.47,0.121v-1.352l1.692-2.707h6.511v3.377v6.091l-1.605,3.221h-3.806
    l-1.523,0.127l-1.011-0.51l-1.904-0.502l-2.537-0.635l-2.158,0.76h-0.887l-2.794-0.632l-0.76,0.253l-1.393,1.775l0.126,0.889
    l0.379,0.636l0.763-0.129l1.65-0.378l1.519-0.383l6.219,0.635l3.422-0.252l1.523-0.383l1.779-0.508l-0.573,2.159v1.794
    l-9.193,9.409v-0.718l-7.118,1.575h-1.111l-1.661,0.288l-2.891,1.494l-2.893,1.226l-2.229,0.742l-0.818,2.14l-1.457,1.353
    l-1.794,2.442l0.398,0.284l-0.398,0.567l-3.119-1.314l-3.955-4.999c0,0-0.789,1.84-1.585,2.63c-0.79,0.794-4.743,9.215-4.743,9.215
    l-2.9,4.74l-3.95,1.839l-2.607,2.115l-1.354,1.579v1.307v2.117l2.115,2.379h1.576l7.645-4.228l6.068-0.521l1.318,1.848l1.05,4.467
    l0.795,2.104l0.26,2.367l-0.26,4.214l-0.531,5.533l-5.798-3.422l-1.842-3.687l-1.851,10.003l-3.426-1.841l-3.158-1.845
    l-3.962,5.002l-1.833,2.63v5.526v2.907v6.053l1.311,2.887l2.638,4.483l-0.793,2.372l-1.845,1.312l-4.22,2.368
    c0,0-3.423-1.058-3.687,0c-0.269,1.062-2.108,2.107-2.108,2.107l-1.585,1.838v7.897v3.431h-2.896h-1.847h-3.693l-5.269-2.112
    c0,0-3.428,2.112-3.953,2.112s0,2.369,0,2.369l-3.16,3.681l-1.315,3.166l-3.695,0.667l-2.11,0.389h-2.894l-5.526-1.325
    l-1.751-0.436l0.426-1.019v-4.339l1.577-11.055l1.191-5.136l3.955-4.349l1.582-5.529l1.579-5.13l0.389-5.923l1.979-5.53
    l2.773-3.948l3.162-5.919l2.375-3.162l1.579-4.343v-9.479l-2.287,0.255h-1.549l-0.65-1.479h-2.112l-1.828,2.963h-0.966
    l-3.003-0.977v-1.986l-0.624-3.251l0.624-1.202v-2.346l-1.576-1.846l-2.269-0.51l-1.155-2.647l0.784-5.536v-4.343l-1.177-8.688
    l0.393-7.508l-1.587-5.131l-2.767-1.97l-1.977,3.943l-2.372,0.401l-1.294-0.446l-1.981-0.508l-0.675,0.508l-1.423,1.225
    l-0.229,1.999l-1.517,0.168l-1.57-1.014v1.183L575.621,566.82z"/>
  <g>
    <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M581.939,636.078c-11.593-3.952-8.168-2.104-8.168-2.104
      l-3.425-1.849l-3.428-3.156l-4.215-1.581l-1.322,2.359l-3.692,1.591l-4.738,0.519l-2.904,1.583l-6.849,1.32l-2.118,3.421
      l-3.683,9.473l-2.898,3.426l-1.589,2.894v6.59l-1.314,5.783v4.483v3.417l1.847,4.211l3.955,2.373l2.109,2.108l4.745-2.368
      l6.324-4.741l2.638-1.326l2.897-2.892l-0.264-2.894l-0.787-5.264l-3.422-2.892l-1.592-1.854l1.846-6.319h2.114h2.892l6.064,1.849
      c0,0,2.898,2.369,3.423,1.318c0.532-1.054,3.429-3.167,3.429-3.167l1.583-3.942l3.957-1.316l4.209-1.842
      C579.565,645.289,593.545,640.023,581.939,636.078z"/>
    <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M539.407,683.561l-2.369-2.369l-4.06-2.53l-1.891-4.414v-7.9
      l1.329-5.899l-0.015-6.605l1.65-2.997l2.954-3.51l3.6-9.337l2.281-3.694l7.062-1.362l2.755-1.526l4.934-0.58l3.384-1.477
      l1.449-2.6l4.628,1.734l3.587,3.266l2.453,1.304l0.31-0.032c0.279,0,1.134,0,8.651,2.571c3.305,1.124,4.929,2.456,4.951,4.088
      c0.056,3.209-6.549,5.797-7.306,6.079l-4.184,1.835l-3.776,1.256l-1.666,3.957c-1.085,0.779-2.931,2.292-3.276,2.976
      c-0.174,0.347-0.512,0.549-0.942,0.549c-1.121,0-2.909-1.419-3.251-1.7l-5.891-1.755l-4.478,0.021l-1.669,5.678l1.408,1.646
      l3.513,2.965l0.815,5.456l0.289,3.163l-3.064,3.063l-2.773,1.421l-6.248,4.687L539.407,683.561L539.407,683.561z"/>
  </g>
  <g>
    <polygon fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" points="559.068,655.155 555.849,655.155 555.849,658.712 
      556.9,660.229 559.804,662.66 563.758,665.305 563.758,661.618 563.758,658.46 561.382,656.607     "/>
  </g>
  <g>
    <polygon fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" points="594.436,629.595 594.918,627.728 595.164,621.916 
      594.592,619.551 593.692,615.768 594.096,609.669 593.642,607.768 588.339,606.793 587.627,606.957 586.153,609.564 
      586.899,614.633 586.716,621.186 586.369,627.022 588.637,629.226 591.127,630.388 594.829,631.248     "/>
    <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M595.422,631.864l-4.375-1.018l-2.575-1.188l-2.558-2.449
      l0.366-6.058l0.183-6.541l-0.769-5.149l1.645-2.909l0.888-0.206l5.763,1.028l0.525,2.198l-0.393,6.247l1.463,6.001l-0.235,5.952
      l-0.463,1.856L595.422,631.864L595.422,631.864z"/>
  </g>
  <g>
    <polygon fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" points="575.612,605.533 574.038,605.533 574.038,608.952 
      576.543,611.848 576.543,613.957 579.049,615.531 580.361,615.531 581.939,613.695 584.577,611.587 586.553,608.695 
      586.553,606.059 584.577,604.214 580.292,601.844 579.049,601.844     "/>
  </g>
  <g>
    <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M604.042,621.722l-3.888-3.6v-2.311l-1.178-0.728l1.293-3.371
      l3.311-1.263v-1.364l4.438-1.027v5.547l-1.502,1.988l1.642,3.268L604.042,621.722L604.042,621.722z"/>
  </g>
  <g>
    <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M584.088,600.642l-2.309-0.053c0,0-1.547-0.763-2.064-0.962
      c-0.515-0.188-0.86-0.564-0.922-1.008c-0.054-0.341,0.047-0.86,0.799-1.424c0.229-0.166,0.263-0.259,0.268-0.266l0.033-0.994
      h5.449l-1.281,3.397L584.088,600.642L584.088,600.642z"/>
  </g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M585.021,565.234h-1.775l-0.636,0.634l-0.632,1.013v1.014l-0.76,1.265
    v1.397l1.903,1.776l2.538,0.637l-3.806,0.757l0.888,3.93l-0.253,2.54h-3.173v4.062l1.268,0.758h2.539l1.779,2.794l-2.413,1.397
    c0,0,0.508,0.886,0.888,1.013c0.38,0.122,0.885,0,0.885,0l1.396,1.65l1.648,2.539v2.031v1.521v1.779l1.142,0.886v-2.287l1.52-4.313
    l0.763-3.93l0.635-4.059v-1.397v-8.755v-4.19l-3.426-4.056l-1.906-2.413L585.021,565.234L585.021,565.234z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M593.936,597.669l0.632,2.03l1.778,1.907v1.52v3.554
    c0,0-0.253,1.394,0,1.906c0.254,0.514,0.635,1.267,0.635,1.267v2.033l-0.888,0.63c0,0,0-2.663-0.633-3.046
    c-0.636-0.379-1.521-2.79-1.521-2.79l-1.018-1.012l-1.519-1.779l0.636-3.426l-0.129-2.794H593.936z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M574.459,609.111v2.284l-1.522,1.782l3.552,2.795h1.519v4.058v1.266
    l-2.538,1.777l-2.539-4.562v-0.76l-2.281,1.782v1.52l-3.046,0.755l-2.794,1.265h-3.549c0,0,2.283-2.534,3.044-3.043
    s3.805-3.932,3.805-3.932l1.521-5.205l1.267-1.782H574.459z"/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" points="572.68,630.688 576.485,626.624 578.008,626.624 
    579.023,626.624 579.023,627.639 580.294,628.657 580.294,630.688 578.008,631.956 576.485,631.956   "/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" points="569.634,626.624 569.634,624.85 572.68,624.85 
    574.963,625.735 574.963,626.624 572.302,626.624 571.412,626.624   "/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M571.955,607.972l-3.383-2.203l-2.363-1.521h-2.879l-1.183,1.863
    l-0.849,2.707l-1.183-1.016c0,0,0.172-0.503,0-1.265c-0.169-0.759,0.849-3.126,0.849-3.126l0.507-2.542
    c0,0-0.173-1.182,0.334-1.182c0.509,0,1.521,0.175,2.199,0c0.68-0.17,3.381-1.354,3.381-1.354l3.552,1.521l2.881,1.677v1.364
    c0,0-0.677,2.703-0.677,3.205C573.142,606.61,571.955,607.972,571.955,607.972z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M566.958,589.186c0.091,0.506,1.952,3.047,1.952,3.047l-1.952,0.674
    l-1.936-1.858v-1.862H566.958z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M574.738,597.074c-0.342,0.012-2.21,1.057-2.21,1.057l-0.201-1.461
    l1.441-1.177l1.197,0.201L574.738,597.074z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M563.327,596.12c0,0,1.184,0.508,1.692,0
    c0.508-0.504,1.943-0.681,1.943-0.681l1.945,0.907v0.877h-1.181h-1.611l-1.1,1.095L563.327,596.12z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M581.095,587.945l1.522,0.764v1.938c0,0-0.592,1.01-0.758,1.363
    c-0.171,0.332,0,1.516,0,1.516s-0.425,0.599-0.764,0.599c-0.334,0-1.687-0.937-1.687-0.937l-0.761-1.782c0,0-0.507-0.332,0-0.845
    c0.507-0.512,1.875-2.62,1.875-2.62L581.095,587.945L581.095,587.945z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M578.425,573.481l1.238,1.864l-0.616,1.689
    c0,0-0.846,2.191-0.618,2.704c0.221,0.509,0.599,2.035,0.599,2.035l-2.321,2.119l-1.949-1.612l1.103-2.871l0.17-2.113l-0.676-0.767
    l-0.087-1.354l0.934-1.688l1.015-0.423L578.425,573.481z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M573.484,586.256c-0.081,0.253-2.111,3.123-2.111,3.123l0.333,0.857
    c0,0,0.255,0.754,0.72,0.503c0.467-0.253,1.819-1.517,1.819-1.517l0.934-1.185l-0.51-1.359L573.484,586.256z"/>
</g>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M1048.833,618.047h-2.908l-3.183-5.56c0,0,0,0-1.852,0
  c-1.857,0-1.856,0.527-1.856,0.527l-2.112,1.325l-3.183-1.853l-2.114-2.124l-2.384,2.124h-2.114c0,0-5.562,0-6.62,0
  c-1.055,0-3.706,0-3.706,0l-4.23-1.32v-0.804l-3.184-4.228l-3.972-2.13v-2.382v-3.708l-2.906-0.269l-2.65-0.523v-1.323l-1.325-2.121
  v-3.701l-1.852-1.324l-2.383-1.856l-2.646-3.709c0,0-1.859-2.917-2.393-3.708c-0.524-0.797,0-1.854,0-1.854l-2.903-0.261
  l-2.128,0.524l-2.117-1.324v-2.12l-5.027-1.851l-3.974-2.651v-1.326l-3.438-1.851l-2.91-0.528l-2.393-4.764
  c0,0-1.05-2.919-2.114-2.919c-1.066,0-2.384,0.264-2.384,0.264l-2.117-0.264l-3.439-2.647v-1.854l-4.772-1.326l-4.23-2.108h-1.32
  l-1.857-0.801l-1.874-2.382l-2.622-1.07l-2.914-0.524l-2.384-1.849v-1.857l-7.416,0.271h-1.849l-3.176,1.052
  c0,0-3.181-5.036-4.503-7.414c-1.325-2.384-1.85,0.529-1.85,0.529l-1.591,1.331l-3.706,0.518l-5.562-3.699l-3.963-1.85v-2.007
  l-5.572-3.292c0,0-1.588-2.921-2.379-4.245c-0.793-1.318-2.113,0-2.113,0l-2.386-2.116v-2.647l-2.915-6.886l-1.587-0.532v-1.851
  l-1.323-2.384v-5.027h-2.114l-1.061-5.832v-3.978c0,0-2.388-3.967-2.647-4.227c-0.266-0.265,0-2.65,0-2.65l-4.24-3.455l-2.38,0.544
  l-2.388,1.584l-3.706,1.851h-2.912l-1.589-1.594l-2.645-2.116l-1.851-3.178l-1.859-6.097v-3.957l-1.321-2.13c0,0,0.26-1.583,0-2.38
  c-0.261-0.792-1.056-2.644-1.056-2.644l-2.909-3.97c0,0-3.448-3.706-3.972-5.562c-0.527-1.859-4.506,0-4.506,0l-3.967,1.324
  l-3.444,2.383v1.855h-3.438l-2.385,2.381l-3.173-0.537l-3.448-1.848h-2.381l-2.913,3.44l-1.85,2.121l-3.708,3.18v2.641v2.647v4.767
  v4.248v1.843l-2.646,2.129l-3.973,1.321c0,0-2.911,1.319-3.706,2.116c-0.797,0.788-0.797,2.119-0.797,3.966c0,1.857-1.057,0-1.057,0
  l-3.441,6.103l4.236,2.909l0.795,0.799h1.586c0,0,1.328,5.822,1.59,6.626c0.264,0.78,2.385,0,2.385,0v3.427v4.768h-4.234
  l-1.591,2.649l-2.912,3.182l-1.329,2.917h-2.883l-0.533,3.167l0.796,1.59l1.06,1.327l3.971,2.117l3.447,1.595l-3.447,4.24
  l1.586,2.381l1.861,2.388v3.439h-2.124l-1.849,1.323h-2.914l-1.591,3.179h-1.586l0.79,2.916l0.533,5.038l1.854,4.493l-0.788,2.912
  l-1.599,1.589l-5.025,1.323l-1.059,2.911l-1.591,2.382l-6.089,2.92l6.089,2.65l1.06,1.582l0.794,3.311l4.237,1.198l2.117,0.266
  l6.616,4.499v2.916l-1.849,0.792l-4.241,7.159l-1.319,1.848l-1.324,3.968l-5.821,1.587h-3.711l0.726,1.227c0,0,0,1.18,0,2.838
  c0,1.645-0.71,2.837-0.71,2.837s0,0,0,0.712c0,0.71,1.181,1.654,1.181,1.654l2.128,1.181l1.417-0.71l0.712-1.185l2.598-4.489h1.418
  l2.123,1.645h3.311l3.779,3.787l0.946,3.07l2.126,1.652l4.254,2.842h-1.652l-3.073,2.13h-1.648h-1.182l-1.419,1.652l-3.073-0.469
  v-1.183l-2.124-2.126h-1.896l-1.89,2.126h-4.727l-1.648,2.367h-2.132l-2.128,1.649v2.6l-2.362,1.654l-0.231,2.362l-1.184,1.411
  l-0.944,1.184l0.235,1.655l0.709,2.357l1.415,1.185l0.947,1.183l1.415,1.65v3.313l-1.415,1.413c0,0-0.947,1.187-1.654,2.366
  c-0.706,1.184-1.18,1.413-1.18,1.413l-1.418,3.547h-1.891v2.367v4.486v1.653h-2.361l-1.184,1.415l1.184,2.838v3.067l-1.893,2.136
  v2.598l-2.598,2.837v2.842l-4.021,3.31v2.129h-3.309h-4.255l-1.65,1.893l-1.418,1.417v2.839h-2.597v1.89l-1.419,2.605l-3.307,4.017
  h-1.184h-1.417l-1.892,1.414h-2.365l-2.597,2.84h-0.944l-2.362,2.843h-1.652l-4.02,2.122v1.189l1.42,1.18v2.362v2.065l0.927-0.462
  l2.647,1.566l6.352,6.118l1.062,1.848v3.188v3.178v3.704l2.12,2.911l1.058,3.178l3.552,1.322l1.737,0.268l2.123,2.383l1.849,1.062
  l2.912,2.383l1.328,1.062l3.704-0.268l1.323,1.062l3.176,1.058l1.59-0.26l1.854-1.33l1.586-2.119c0,0,0.268-1.054,1.061-1.32
  c0.799-0.269,4.238-1.587,4.238-1.587l2.381-0.275c0,0,0.531,1.067,1.323,1.326c0.794,0.268,3.708,0.536,3.708,0.536l1.587-0.536
  l3.447-1.326l2.908-2.119l5.03,1.591l4.231-0.254l4.239-1.069l3.707,0.265l4.376,0.421l1.583-6.649v-5.951l4.368-7.157v-7.55
  l1.986-7.148l2.378,1.595l1.988,3.965l3.971,4.372v4.369v1.985l3.176,1.197v2.777l2.783,3.174v3.583l2.379,3.975l3.574-1.989h2.78
  l1.988-2.777l0.797-3.579l-1.193-2.386l-2.384-3.174l-1.988-3.975l2.383-3.181v-1.983l2.386-2.389l2.38-1.981l2.125-5.821
  l2.64-7.155l2.646-1.057h4.506l1.587-1.853l1.321-3.446h2.12l2.911-2.919l3.177-5.292l3.437-2.11l3.974-3.967l5.04-6.36l7.668-5.553
  l8.741-3.186l7.933-1.856l4.512-2.116l12.438-3.97l6.36-2.39l7.143-1.855l7.684-4.496h2.909l10.854-3.18l9.266-2.913l6.359-1.855
  l4.233-1.855l5.825-2.11l12.7-4.248l11.121-3.172l7.948-1.866l9.794-5.295l8.741-3.436l12.175-1.862l6.357-3.705l7.27-1.585
  C1051.199,617.519,1048.833,618.047,1048.833,618.047z"/>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M664.499,611.822h3.311l2.835,1.417h5.198l2.367,6.624v3.309v3.31
  v3.073l3.307,4.484l3.306,0.954l4.254-0.469l2.84,1.887l2.836-1.887l4.253,0.469h5.2V633.1v-3.545h3.309h1.893l2.838,4.021
  l4.254,3.309v1.894l2.359,1.895l2.366,1.415v4.258v2.84l3.779,3.309h5.672l2.364-2.833h1.89h2.839h1.89h1.893v-3.781v-2.359
  l2.835-2.367v-2.363v-2.364c0,0,0-3.783,0-6.623c0-2.838,2.84,0,2.84,0h2.34h4.748h3.305h2.366h2.362l2.362-2.838v-1.893l3.78-3.305
  v-1.896v-3.31l4.725-2.844l3.766-3.347h-2.122c0,0-5.561-3.701-7.148-5.025c-1.587-1.331-3.175-2.648-3.175-2.648l-2.383-5.295
  h-3.176h-2.381v-1.594c0,0-5.295,0.26-7.151,0c-1.855-0.265-4.231-2.122-4.231-2.122v-1.315v-2.125l-2.646-2.911h-1.326
  l-7.145,2.381l-3.971,2.655h-4.238v-1.86l-3.445-2.119l-1.587-2.383h-5.559l-3.439-1.057l-2.645-4.505h-3.178l-2.65-4.503v-1.853
  l-2.119-1.855l-1.855-2.388l-3.175-3.702l-1.323-1.587l-1.325,4.236l-3.966,3.44l-4.277,1.94c-0.021,1.454,0.035,3.883,0.035,3.883
  l2.118,4.117l-1.078,2.775l-3.422,4.504c0,0-3.439-0.531-3.707,1.587c-0.259,2.117-2.379,3.938-2.379,3.938l-2.119,3.614
  l-1.592-1.471v-4.754l-2.644-1.328l-4.244-4.507l-2.283-1.624l-0.403,0.569l-3.136-1.326l-3.968-5.03c0,0-0.796,1.854-1.59,2.647
  c-0.795,0.797-4.764,9.271-4.764,9.271l-2.911,4.766l-3.974,1.849l-2.613,2.132l-1.36,1.585v1.323v2.123l2.122,2.381h1.584
  l7.679-4.236l6.091-0.529l1.325,1.859l1.058,4.495l0.794,2.119l0.262,2.381l1.909-0.991L664.499,611.822z"/>
<path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M720.974,720.795l-1.416-1.186v-1.181l4.021-2.127h1.649l2.361-2.835
  h0.949l2.595-2.845h2.364l1.891-1.411h1.419h1.18l3.31-4.02l1.417-2.604v-1.892h2.602v-2.837l1.413-1.42l1.653-1.891h4.255h3.307
  v-2.127l4.022-3.312v-2.843l2.599-2.838v-2.596l1.893-2.132v-3.069l-1.184-2.841l1.184-1.415h2.359v-1.65v-4.487v-2.368h1.891
  l1.419-3.545c0,0,0.468-0.231,1.179-1.417c0.709-1.183,1.658-2.366,1.658-2.366l1.414-1.412v-3.311l-1.414-1.656l-0.949-1.18
  l-1.42-1.185l-0.708-2.357l-0.233-1.652l0.941-1.182l1.185-1.416l0.235-2.366l2.363-1.656v-2.595l2.122-1.655h2.134l1.652-2.363
  h4.724l1.894-2.129h1.892l2.125,2.129v1.186l3.074,0.463l1.415-1.65h1.183h1.65l3.073-2.127h1.653l-4.253-2.845l-2.126-1.648
  l-0.947-3.078l-3.779-3.781h-3.311l-2.126-1.646h-1.417l-2.599,4.487l-0.708,1.186l-1.417,0.713l-2.13-1.182
  c0,0-1.183-0.951-1.183-1.653c0-0.715,0-0.715,0-0.715s0.712-1.185,0.712-2.836c0-1.659,0-2.838,0-2.838l-0.727-1.225l-3.764,3.347
  l-4.725,2.84v3.314v1.895l-3.779,3.302v1.899l-2.361,2.835h-2.363H757.6h-3.307h-4.744h-2.345c0,0-2.839-2.835-2.839,0
  c0,2.842,0,6.619,0,6.619v2.367v2.367l-2.835,2.363v2.355v3.785h-1.891h-1.894h-2.838h-1.89l-2.36,2.836h-5.676l-3.777-3.314v-2.841
  v-4.251l-2.364-1.417l-2.361-1.894v-1.892l-4.254-3.312l-2.84-4.021h-1.889h-3.312v3.544v1.89h-5.201l-4.251-0.466l-2.839,1.89
  l-2.836-1.89l-4.255,0.466l-3.307-0.947l-3.31-4.486v-3.07v-3.31v-3.315l-2.362-6.62h-5.2l-2.837-1.413h-3.311l-2.361,0.467
  l-1.914,0.99l-0.257,4.236l-0.535,5.562l-5.822-3.438l-1.855-3.711l-1.848,10.066l-3.44-1.851l-3.181-1.862l-3.971,5.04
  l-1.853,2.637v5.565v2.922v6.095l1.322,2.904l2.651,4.515l-0.798,2.382l-1.854,1.319l-4.236,2.384c0,0-3.444-1.065-3.708,0
  c-0.266,1.062-2.114,2.114-2.114,2.114l-1.59,1.854v7.946v3.441h-2.912h-1.85h-3.71l-5.293-2.118c0,0-3.444,2.118-3.973,2.118
  c-0.529,0,0,2.386,0,2.386l-3.176,3.704l-1.322,3.184l-3.711,0.674v0.385l5.033,3.173l3.709,2.378h2.643
  c0,0,1.597,1.329,2.387,1.866c0.792,0.518,4.237,1.854,4.237,1.854l2.641,2.112l1.854,1.585h1.858l3.444,3.445v2.919l-1.329,1.854
  l-2.91,4.502l-1.591,1.321c0,0-2.382,2.386-2.382,3.175c0,0.797,0.264,7.152,0.264,7.152h-1.588l3.178,3.177c0,0,8.47,1.331,9.266,0
  c0.8-1.319,3.705-2.914,3.705-2.914h1.589l6.882,2.39c1.325,1.054,5.828,2.386,5.828,2.386s1.322-0.536,2.377,0
  c1.062,0.52,5.3,0,5.3,0l2.444,0.235h2.851l2.383-2.621l3.704,4.239l1.591,1.845v2.656v3.971l1.056,3.445v3.179h1.856l2.911,1.851
  c0,0,1.055-1.064,1.854-1.329c0.794-0.256,4.76-2.38,4.76-2.38l1.331-1.061l3.974-0.526l1.846,5.296l1.854,2.382l1.062,4.499v1.34
  l1.321,2.901v3.973l0.816,2.124l0.511,1.318h2.115l1.591,2.39l1.848,1.062h2.646l1.59-2.922l1.326-2.912v-3.7v-1.332l-2.382-3.179
  l0.264-3.976l2.118-1.317v-2.384v-3.18l-1.326-4.499c0,0,1.587-2.389,1.326-2.649c-0.266-0.271,2.118-3.448,2.118-3.448l6.087-2.122
  l3.707-2.933l2.25-1.107v-2.067v-2.374H720.974L720.974,720.795z"/>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M697.603,859.254l-0.61-0.424c0.077-0.147,0.494-0.858,1.018-1.054
    l0.39,0.611C697.96,858.84,697.604,859.25,697.603,859.254L697.603,859.254z"/>
</g>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M710.036,958.649l-3.684-3.685l-2.298-0.753l-7.383,0.02v-1.599
    l-11.131-0.386l-6.934-0.065l-4.75-3.158l-3.656-4.831l-3.983-2.789l-2.03-3.364v-2.089l-4.215-1.143l-3.253-4.856l-2.837-4.555
    v-4.419h3.093v-5.504l3.235-2.925l2.725-0.906v-3.631l3.479-2.972v-9.409l1.485-1.735v-2.223h2.729v-4.896l5.479,2.188l0.981,0.722
    c0.621,0.012,3.36,0.084,4.759,0.787l1.228,1.2h0.702l1.506-1.288v-1.849l3.607-1.025l0.667-1.116l0.506-1.549l3.471-2.055
    l1.529-1.668l2.178-1.463l0.217-1.094l1.205-1.968c-0.127-0.454-0.465-1.774-0.465-2.428v-1.745l-0.251-3.199l-0.526-5.062
    l0.344-0.062c-0.005,0,1.144-0.331,0.93-3.821c-0.103-1.643-0.408-1.806-0.411-1.806l-0.403-0.606
    c0.681-0.677,1.189-1.067,1.564-1.191c0.059-0.172-0.268-0.998-0.699-1.685l-0.577-1.963l0.979-2.2l-0.666-1.331l-1.479-3.926
    c-0.213-0.205-1.033-0.972-1.832-1.369c-1.016-0.507-1.653-1.012-1.68-1.033l-2.496-1.58v-1.94l-0.493-3.923l1.077-4.008
    l1.861-2.236l0.973-1.521l-1.009-1.785c-0.08-0.257-1.164-4.383-1.164-6.019c0-1.242,0.607-1.76,1.12-1.918v-2.062l-1.172-1.822
    l1.172-2.344v-6.865l1.096-3.463l-1.066-2.605l-0.029-5.869l-4.641-2.266l0.276-1.38l-1.903-2.843l-0.554-2.103l-1.294-3.895
    l2.719-3.266H691v-6.706h3.5l2.076-1.15l1.686-2.419l1.546-1.907l1.692,0.972h2.321l1.48-2.712l1.272-2.797v-4.806l-2.385-3.17
    l0.282-4.29l2.103-1.304v-5.333l-1.357-4.538l0.098-0.149c0.572-0.859,1.188-1.928,1.276-2.28
    c-0.146-0.259-0.021-0.887,2.174-3.808l0.177-0.129l6.068-2.108l3.59-2.858l3.419-1.677l2.811,1.652l6.403,6.14l1.175,2.118v9.89
    l2.046,2.801l1.053,3.101l3.375,1.256l1.794,0.26l2.204,2.475l1.75,0.986l4.169,3.368l3.688-0.271l1.437,1.154l2.97,0.958
    l1.407-0.224l1.778-1.275l1.5-2.024l0,0c-0.028,0,0.302-1.136,1.248-1.443c0.78-0.268,4.199-1.585,4.199-1.585l2.725-0.321
    l0.112,0.231c0.134,0.257,0.594,0.961,1.112,1.128c0.6,0.203,2.685,0.435,3.537,0.519l1.512-0.519l3.418-1.314l2.97-2.169
    l5.196,1.642l4.096-0.282l4.154-1.046l3.813,0.255l4.812,0.464l-0.503,2.104l0.01,17.686h-2.774v12.463l-3.706,2.868l-3.099,4.278
    l-3.095,3.104v14.065h-2.998l-3.56,3.555h-3.106l-3.806,6.846v6.513l1.922,3.069l0.896,3.515l-2.821,2.021v2.146h-1.985v12.464
    l-2.508,2.089l-2.243,2.238v26.108l-3.294,2.878l-1.854,2.978l-0.036,4.801l-1.944,4.274l-0.052,4.449l-2.143,3.711l-4.678,2.335
    l-2.719,3.489l-3.56,5.126l-2.837,2.448l-5.563,3.965l-1.827,1.837l-0.074,10.741l-2.302,3.066v3.829
    c0,1.637-1.927,6.273-2.012,6.466l-0.102,0.139l-2.771,2.371l-2.032,2.861h-2.177l-7.429,1.963l-4.289,0.012l-3.06,3.436
    L710.036,958.649L710.036,958.649z"/>
</g>
<g>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M657.723,921.722h-3.836v-2.454l-3.563-2.372v-4.78l-3.836-3.456
    l-2.108-3.833v-10.502l-4.491-4.109c-0.87,0.175-1.698,0.265-2.467,0.265c-3.648,0-4.822-1.983-4.87-2.07l-0.052-0.178v-1.434
    l-2.663-2.663l-2.35-3.109l-5.679-2.268l-4.598,2.674l-3.98,1.988l-12.462,5.614l-3.321-1.664l-3.775-2.091v-1.675l-2.706-3.856
    l-4.426-3.19v-2.58h-3.979l-12.062,0.798l-6.853-8.849l-3.073-1.896l-12.411-3.077l-2.156,1.435l-1.936,3.867l-5.621,5.626
    l-4.81,3.212l-4.739,3.547l-2.303,3.086l-4.561,4.885l-3.169,0.79l-4.141,0.012l-2.454-1.227l-4.561-2.07v-3.628l-2.373-1.972
    v-8.684l4.066-2.445l4.316-6.262l5.172-5.963l2.45-1.647l3.067-4.643l0.954-0.804l-4.088,1.358l-8.852-0.374l-4.236-1.669
    l-2.807-8.788l-4.003-4.39v-5.682l2.498-6.205l4.469-4.055h9.647l7.104,2.341l7.389-3.494l2.276-2.297l7.21-4.024l5.191-1.997
    l3.639-1.819l-1.213-3.371l1.785,0.583l0.256-1.186h10.628l1.514-1.16l2.153-1.317h2.422v-1.871l2.716-1.088l1.628-1.021h1.119
    v-1.737h14.19l2.062-1.032l4.13,1.809l2.168,0.471l1.507-0.275l1.959,1.468l3.795-1.188l2.093-0.015l1.639-0.474l1.202-0.492
    l1.495-1.261h1.682l1.128-1.579l1.172-1.413v-1.756l1.457-1.464h5.107l0.951-2.61l3.259-1.903l3.126,1.415v2.311l4.22,3.521h1.615
    l1.683-0.241l2.462-0.492l3.633-1.042l2.634,2.105l3.101,0.928c0.117-0.007,0.679,0.168,1.52,0.507
    c0.738,0.303,2.005,0.123,2.365,0.029l1.417-1.893l0.944-2.397l1.463-1.972l0.046-6.768l1.243-2.234l2.048-2.067l2.37-1.667v-3.031
    l-0.925-2.255l-1.164-0.929l-3.631-3.148h-1.346l-1.122-2.607v-1.12h-1.637l-0.887,1.782l-0.83,1.945h-1.502l-0.885,1.782
    l-1.424,1.716l-2.328-0.291l-1.52-1.818l1.354-1.899l0.237-1.895l1.225-3.452l-0.466-1.883l-0.014-1.94l1.256-1.771l0.208-1.246
    l-1.034-1.292l0.596-1.207l3.3-3.332l1.824-2.543l2.537-1.389v-2.301h-2.524l-3.043,1.408l0.587-3.743l-1.174-1.923l-0.796-1.22
    l-0.264-3.054l1.014-1.223l0.242-3.172l0.242-1.65l0.436,0.172c1.263,0.479,2.541,0.873,2.923,0.997
    c0.416-0.143,1.749-0.349,2.56,0.056c0.142,0.073,0.553,0.196,1.666,0.196c1.522,0,3.381-0.224,3.399-0.225l2.515,0.229
    l2.646-0.002l2.552-2.789l5.645,6.472v6.732l1.046,3.313l0.015,2.909l1.666,0.057l2.67,1.682c0.362-0.337,1.126-0.992,1.771-1.201
    c0.629-0.203,3.604-1.77,4.694-2.35l1.444-1.093l4.269-0.566l1.943,5.557l1.865,2.406l1.056,4.484l0.013,1.325l1.32,2.972v3.955
    l1.202,3.056h2.055l1.652,2.468l0.639,0.369l-1.606,1.975l-1.849,2.578l-2.419,1.278h-2.851v6.71h-3.422l-2.242,2.694l1.176,3.519
    l0.505,2.014l2.019,2.996l-0.22,1.113l4.544,2.202v6.204l1.137,2.706l-1.153,3.612l0.017,6.928l-1.059,2.125l1.059,1.763v2.853
    h-0.374c-0.07,0.01-0.742,0.064-0.742,1.242c0,1.552,1.095,5.706,1.106,5.745l1.191,2.092l-1.245,1.923l-1.834,2.207l-0.972,3.649
    l0.505,3.824l0.005,1.585l2.186,1.39c0.036,0.022,0.635,0.496,1.578,0.97c1.034,0.52,2.042,1.519,2.087,1.561l0.079,0.132
    l1.493,3.969l0.807,1.621l-1.008,2.27l0.46,1.608c0.192,0.283,0.946,1.573,0.697,2.261c-0.072,0.206-0.229,0.364-0.44,0.433
    c-0.092,0.033-0.335,0.15-0.833,0.595c0.415,0.441,0.536,1.398,0.593,2.265c0.198,3.177-0.697,4.168-1.218,4.477l0.717,7.685v1.768
    c0,0.568,0.353,1.913,0.484,2.387l0.048,0.153l-1.331,2.128l-0.229,1.266l-2.358,1.578l-1.55,1.679l-3.314,1.982l-0.455,1.367
    l-0.854,1.436l-3.348,0.955v1.635l-1.969,1.691h-1.287l-1.354-1.352c-1.295-0.628-4.421-0.634-4.452-0.634l-0.221-0.073
    l-0.993-0.743l-4.366-1.738v4.546h-2.734v1.75l-1.49,1.742v9.471l-3.479,2.975v3.816l-3.155,1.055l-2.8,2.575V921.722
    L657.723,921.722z"/>
</g>
<g>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" points="563.175,726.113 562.954,726.461 562.923,726.43  "/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M652.592,790.228l-1.427,1.906c-0.35,0.096-1.618,0.287-2.377-0.03
    c-0.824-0.353-1.392-0.51-1.489-0.51l-3.104-0.918l-2.661-2.09l-3.613,1.011l-2.473,0.509l-1.677,0.221h-1.616l-4.215-3.514v-2.288
    l-3.139-1.425l-3.261,1.9l-0.953,2.603h-5.102l-1.456,1.459v1.772l-1.172,1.396l-1.11,1.585h-1.679l-1.521,1.264l-1.203,0.509
    l-1.617,0.472h-2.089l-3.804,1.206l-1.966-1.489l-1.521,0.283l-2.154-0.472l-4.119-1.804l-2.059,1.01h-14.194v1.745h-1.11
    l-1.647,1.017l-2.724,1.11v1.862h-2.408l-2.155,1.307l-1.52,1.167h-10.615l-0.446,0.386l-0.821,0.217l-1.206-6.433l-5.576-5.449
    l-0.255-15.659l-1.488-6.689l1.363-6.089l-3.042-3.638l-1.806-4.692l1.396-4.468l-2.444-2.407l-2.247-3.739l2.154-2.826
    l6.971-4.247l4.532-0.537l5.131-1.59l4.975-0.917l3.263-6.213l0.317-0.598l0.54-0.951l4.246,3.452l2.661,5.737l2.028-3.545
    l-1.237-4.093l-2.343-2.406l0.346-4.435l3.234-2.828l-1.998-5.99l2.22-3.361l4.307-3.867l6.562-2.059l-0.823-7.703l1.52-2.632
    l4.37-6.78l1.428-3.421l7.064,1.674h2.979l1.682-0.318v0.125l8.869,5.646l2.726,0.06c0.381,0.321,1.616,1.337,2.312,1.78
    c0.379,0.254,1.427,0.729,2.377,1.109c0.95,0.412,1.806,0.729,1.806,0.729l2.63,2.095l1.964,1.676h1.839l3.201,3.202v2.632
    l-1.269,1.773l-2.821,4.379l-1.616,1.357c-0.567,0.575-2.47,2.538-2.47,3.424c0,0.669,0.191,5.356,0.255,6.75h-2.126l3.837,3.774
    l0.186,0.126c0.159,0,3.805,0.569,6.563,0.569c1.804,0,2.756-0.214,3.07-0.757c0.637-1.078,3.012-2.442,3.455-2.724h1.362
    l6.781,2.31c0.474,0.381,1.331,0.789,2.566,1.268l-0.382,4.087l-1.013,1.208l0.254,3.043l0.791,1.234l1.172,1.936l-0.568,3.735
    l3.043-1.423h2.5v2.313l-2.533,1.393l-1.806,2.539l-3.297,3.326l-0.601,1.206l1.045,1.298l-0.223,1.235l-1.267,1.781l0.033,1.93
    l0.474,1.906l-1.237,3.424l-0.253,1.899l-1.331,1.902l1.523,1.806l2.311,0.316l1.429-1.741l0.885-1.772h1.522l0.825-1.938
    l0.885-1.775h1.615v1.109l1.143,2.604h1.328l3.646,3.166l1.171,0.919l0.919,2.251v3.043l-2.376,1.648l-2.059,2.089l-1.238,2.22
    l-0.027,6.785l-1.46,1.965L652.592,790.228z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M540.425,732.768l-0.032-1.203l1.014-0.765l0.758-0.026l1.018,0.724
    c0,0,0.378,0.164,0.663,0.446c0.286,0.254,0.032,0.602,0.032,0.602l0.033,0.6l-1.204,0.508l-0.034-0.478l-1.203-0.44
    L540.425,732.768z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M552.402,731.313l-0.728,0.094l-1.586,0.254l-1.109-0.254h-0.474
    l-0.35,0.661l-0.725,0.511h-0.951l-1.207-0.602l-0.507-0.824l-1.297-0.507l-1.519-0.602l-1.302-0.067c0,0-0.57-0.192-0.57-0.442
    c-0.03-0.285-0.602-1.587-0.602-1.587l-0.982-0.983l-1.045-1.361l-0.792-1.206l-0.38-0.857l-0.031-0.889l-0.033-0.571l1.106-0.315
    l0.033,0.667l1.683-0.068c0,0,0.537-0.19,0.821-0.346c0.252-0.126,3.453,0.218,3.453,0.218l1.205,0.541l-0.888,1.519l-0.063,0.637
    l0.317,0.756l0.762,0.797l0.758,0.442l0.92-0.032l0.917-0.473l1.429,1.263l1.551-0.979l-0.031-1.394l0.445-0.38l-0.034-1.3
    l0.541-0.704l0.758-0.184l3.17,0.568v0.442l0.062,1.588l0.031,0.858l0.414-1.84l0.728-0.027l-0.031-0.988l-0.57-0.793l-0.759-0.634
    l-0.319-1.49l-1.042,0.032l-2.284-1.238l2.791-1.112l0.948-1.901l1.681-0.599h0.538l1.838-1.106l1.836-1.085l1.584-0.03
    l1.014-0.035l-0.698,1.239l-0.377,0.571l1.172,1.905l-0.413,1.518l-0.885,1.045l-0.064,1.585l0.126,1.294l0.696,0.835l0.126,1.2
    l-1.55,1.267l-0.89,1.05l-1.074,1.327l-0.352,1.109l-0.158,0.76l0.127,1.494l-1.11,0.698l-1.394,0.034l-0.918,0.032l-1.71-1.366
    l-0.889-1.368l-0.761-0.727l-0.57-0.537l0.984,2.124L552.402,731.313z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M536.308,725.163l0.506,2.028l0.696,0.821l0.665,1.111l0.031,0.445
    l0.951,0.823l0.034,1.113h0.664v0.918l0.033,0.383l-0.825,0.471l-2.914-0.377l-0.287-0.633l-0.126-0.634l-0.634-1.302l-0.031-0.825
    l-0.888-0.444l-1.553-2.124l-1.329-1.073l-1.109-2.16l0.444-0.985l0.886-1.519l2.694-0.062c0,0-0.349,0.568,0.029,1.016
    c0.382,0.438,0.035,0.661,0.035,0.661l0.38-0.033l0.665,1.297L536.308,725.163z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M527.625,734.637h0.474l0.823-0.542l0.475-0.033l1.111-0.027h0.375
    l0.574,0.507c0,0,0.381,0.252,0.855,0.444c0.475,0.154,1.679,0.41,1.679,0.41l-0.824,0.667h-0.41l-2.566-0.571l-0.92,0.695
    l-1.202,0.666l-0.922,0.039l-0.854,0.027l-0.034-1.111l0.918-0.696L527.625,734.637z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M537.317,721.77l0.033,0.665l1.683-0.065c0,0,0.537-0.191,0.821-0.345
    c0.252-0.128,3.453,0.221,3.453,0.221l1.205,0.538l-0.888,1.52l-0.063,0.637l0.317,0.755l0.762,0.795l0.758,0.442l0.92-0.024
    l0.917-0.479l1.429,1.266l1.551-0.984l-0.031-1.389l0.445-0.381l-0.034-1.303l0.541-0.696l0.758-0.191l3.17,0.569v0.44l0.062,1.591
    l0.031,0.858l0.414-1.837l0.728-0.035l-0.031-0.981l-0.57-0.795l-0.759-0.638l-0.319-1.486l-1.042,0.031l-2.284-1.239l2.791-1.111
    l0.948-1.9l1.681-0.599h0.538l1.838-1.108l1.836-1.083l1.584-0.033l1.014-0.034l-0.698,1.24l-0.377,0.574l1.172,1.898l-0.413,1.521
    l-0.885,1.047l-0.064,1.589l0.126,1.293l0.696,0.829l0.126,1.2l-1.55,1.269l-0.89,1.044l-1.074,1.331l-0.352,1.113l-0.158,0.76
    l0.127,1.491l-1.11,0.698l-1.394,0.031l-0.918,0.034l-1.71-1.365l-0.889-1.365l-0.761-0.73l-0.57-0.534l0.984,2.12l-0.54,0.862
    l-0.728,0.093l-1.586,0.255l-1.109-0.255h-0.474l-0.35,0.665l-0.725,0.506h-0.951l-1.207-0.6l-0.507-0.822l-1.297-0.51
    l-1.519-0.601l-1.302-0.068c0,0-0.57-0.188-0.57-0.442c-0.03-0.286-0.602-1.585-0.602-1.585l-0.982-0.984l-1.045-1.358
    l-0.792-1.209l-0.38-0.854l-0.031-0.891l-0.033-0.571L537.317,721.77z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M539.854,731.497h-0.664l-0.034-1.112l-0.951-0.822l-0.031-0.444
    l-0.665-1.111l-0.696-0.823l-0.506-2.03l-0.984-1.081l-0.665-1.296l-0.38,0.033c0,0,0.347-0.223-0.035-0.668
    c-0.378-0.439-0.029-1.012-0.029-1.012l-2.694,0.065l-0.886,1.52l-0.444,0.982l1.109,2.16l1.329,1.074l1.553,2.126l0.888,0.444
    l0.031,0.824l0.634,1.299l0.126,0.637l0.287,0.632l2.914,0.378l0.825-0.472l-0.033-0.383V731.497z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M540.393,731.564l0.032,1.203l1.045-0.028l1.203,0.44l0.034,0.479
    l1.204-0.51l-0.033-0.598c0,0,0.254-0.349-0.032-0.603c-0.285-0.283-0.663-0.446-0.663-0.446l-1.018-0.729l-0.758,0.033
    L540.393,731.564z"/>
  <path fill="#A8A8A8" stroke="#6B6B6B" stroke-width="0.5" d="M531.458,734.541c0,0,0.381,0.256,0.855,0.446
    c0.475,0.157,1.679,0.409,1.679,0.409l-0.824,0.67h-0.41l-2.566-0.571l-0.92,0.695l-1.202,0.666l-0.922,0.036l-0.854,0.031
    l-0.034-1.113l0.918-0.699l0.447-0.474h0.474l0.823-0.54l0.475-0.031l1.111-0.029h0.375L531.458,734.541z"/>
</g>
<g>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="29.5,200.494 29.5,201.559 29.5,206.5 31.12,206.5 32.184,206.5 35.378,206.5 
    37.507,206.5 39.993,202.5 42.832,202.5 44.607,202.5 47.09,202.5 49.5,205.285 49.5,209.011 52.5,211.497 52.5,214.336 
    52.5,216.465 52.5,218.595 56.5,221.434 56.5,222.854 56.5,226.047 56.411,229.241 56.5,230.662 56.5,232.437 56.5,235.5 
    58.5,235.5 58.5,237.5 61.997,237.5 64.126,237.5 65.19,237.5 67.675,239.67 69.095,240.509 71.224,241.5 72.644,241.5 
    73.5,244.148 73.5,246.277 73.5,248.406 73.5,251.5 74.5,251.5 74.5,253.5 79.032,253.5 80.807,257.5 82.226,257.5 84,260.267 
    86.485,262.5 88.5,262.5 88.5,264.5 90.5,264.5 90.5,267.572 89.679,271.5 88.614,271.5 86.485,271.5 84.355,271.5 82.226,272.5 
    81.161,272.5 79.032,272.5 77.967,272.5 75.838,272.5 73.708,272.5 72.644,272.5 70.513,272.5 69.805,274.5 67.321,274.5 
    65.19,274.5 63.062,274.5 61.5,274.5 61.5,276.089 60.398,276.5 58.803,276.5 56.673,278.588 55.253,280.5 52.414,280.5 
    50.639,284.5 49.22,284.5 48.155,287.038 46.735,288.225 43.542,289.5 42.832,289.5 41.767,289.5 39.993,294.062 39.282,296.433 
    39.637,298.24 41.058,300.736 42.832,303.5 43.896,303.5 46.024,303.5 46.5,305.901 46.5,306.965 48.155,310.5 50.284,310.5 
    51.349,310.5 53.479,312.5 55.608,312.5 56.673,312.5 58.803,310.5 59.867,310.5 61.997,310.5 64.126,310.5 66.611,312.5 
    68.385,312.5 71.579,312.5 73.708,312.5 75.838,312.5 76.902,313.5 79.032,313.5 81.161,313.5 83.291,312.096 85.066,311.266 
    86.84,311.5 88.614,311.5 90.5,309.451 90.5,308.031 93.551,310.16 95.164,308.386 96.68,308.031 98.858,306.611 101.367,305.547 
    102.798,305.191 105.472,305.547 108.5,306.965 108.5,303.772 110.713,304.837 112.284,302.353 113.5,301.288 113.5,298.448 
    117.717,299.5 120.5,299.5 120.5,297.384 121.5,295.253 121.5,294.189 121.5,293.125 121.5,290.995 122.5,289.221 122.5,285.672 
    124.911,284.607 127.5,284.251 127.5,282.478 128.375,280.703 129.079,279.284 126.238,276.799 122.333,277.392 123.396,275.5 
    120.556,275.5 121.976,273.576 118.426,272.171 119.136,268.274 116.964,267.213 115.5,266.862 115.5,263.313 112.97,263.668 
    111.972,266.151 109.166,265.441 106.88,261.537 108.5,260.119 108.5,256.924 108.938,253.375 109.248,250.536 107.448,247.342 
    108.856,245.212 106.721,243.991 103.875,241.5 101.391,241.5 98.907,238.299 94.648,236.433 90.744,233.014 87.905,229.531 
    85.42,228.144 83.291,226.385 81.407,223.2 80.5,221.788 80.5,218.595 78.681,215.399 80.5,211.142 80.5,207.947 76.5,205.462 
    76.5,202.623 75.015,200.494 72.41,197.299 69.332,195.881 66.906,192.331 65.736,190.202 63.5,188.121 63.5,187.5 61.997,187.5 
    61.642,182.5 59.867,182.5 56.673,182.5 56.5,182.5 56.5,185.588 49.93,188.5 48.155,188.5 46.024,188.5 43.896,188.5 
    42.121,188.247 41.058,191.683 39.993,193.426 37.862,195.85 35.733,196.5 33.249,196.5 32.173,198.586   "/>
  <path fill="#A8A8A8" stroke="#6B6B6B" d="M34.314,233.5h2.129c0,0,0.533-1.686,1.064-2.039c0.533-0.356,1.42-1.288,1.42-1.288
    l1.952,0.938l1.419-2.611h1.597h2.128l1.421-1.137l1.242,1.117l2.13,1.179l0.887,0.989l1.065,1.248l1.241,1.601
    c0,0-0.263,1.244,0.447,1.599s2.043,1.244,2.043,1.244v3.549v2.129l-0.001,0.506l-1.065,1.091l1.066,1.064v2.82h-3.021l1.775,1.251
    l0.887,1.07l-1.952,0.801l-0.887,0.761l-0.888,1.116h-1.065h-1.065l-0.887,3h-1.241c0,0-0.177-2-0.887-2c-0.71,0-1.244,0-1.244,0
    l-0.798,2h-2.395l-0.178-0.421l-0.533,2.421h-1.419l-1.774-2.152l-2.307-1.163l-2.307-0.317l-1.065-0.361l-3.726-0.006H28.99
    l-3.49-1.189v-0.71V250.5l0,0v0.036v-1.064v-1.065l-1.479,0.094h-1.418l1.897-2.577v-0.71l-2-1.42v-1.774v-1.065v-1.064
    l-1.812-1.242l1.383-1.42l-0.57-1.242v-0.355l0.108-1.774l1.295-1.597l1.89,0.177l0.648,1.064h1.419h1.064h1.064h2.13l0.71-0.976
    l0.887-0.311L34.314,233.5z"/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="121.621,216.5 121.5,216.5 121.5,220.191 121.5,220.723 121.562,221.788 
    122.329,222.499 121.5,223.209 121.5,223.918 121.5,225.5 122.686,225.5 124.5,225.5 124.5,224.982 124.5,226.5 122.686,226.5 
    121.621,225.121 120.024,225.317 117.907,225.683 116.5,227.467 116.5,229.241 116.5,232.5 117.362,232.5 119.491,232.5 
    121.5,232.79 121.5,234.564 121.5,235.629 121.5,236.695 119.135,237.5 121.621,237.5 122.686,237.5 123.218,236.614 
    124.638,237.5 125.5,237.5 125.5,236.695 127.197,237.508 127.832,238.5 127.5,238.5 127.5,236.695 129.441,237.05 
    130.766,238.292 133.203,240.05 135.107,239.5 137.591,239.5 139.5,239.978 139.5,238.825 141.296,239.978 141.989,239.523 
    142.465,239.44 144.335,240.5 145.045,240.5 146.773,238.864 148.5,238.114 148.5,237.759 148.5,236.34 148.5,235.629 
    148.5,235.098 148.5,237.759 150.055,236.896 151.965,235.5 153.563,235.5 154.854,235.477 156.5,235.452 156.5,233.5 
    155.297,232.082 157.357,230.838 155.55,229.241 153.701,230.484 151.5,229.241 151.5,227.113 151.201,225.87 150.519,224.628 
    149.646,223.031 148.144,222.854 147.125,221.966 145.021,221.611 142.903,220.901 140.958,220.37 139.008,219.837 
    137.058,217.991 135.994,216.5 134.397,216.5 133.333,216.5 132.8,215.5 131.203,215.5 130.671,215.007 129.074,216.142 
    126.944,215.5 125.879,215.5 124.459,215.539 123.927,216.888 122.508,216.518   "/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="178.45,245.921 177.453,247.253 176.532,246.499 176.5,245.744 176.5,244.5 
    176.986,244.5   "/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="135.817,247.31 134.663,245.995 133.91,244.171 135.196,241.5 136.526,241.5 
    136.526,241.5 137.77,244.155 138.656,244.668 137.059,245.858  "/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="143.944,268.026 143.5,268.282 143.5,271.5 142.915,271.5 140.5,271.5 
    140.5,268.636 140.252,269.5 139.722,269.5 138.5,267.405 138.5,266.507 138.5,265.441 138.656,264.5 139.722,264.5 
    141.229,262.221 142.143,263.21 143.5,264.2 143.5,265.441 143.5,266.507  "/>
  <path fill="#A8A8A8" stroke="#6B6B6B" d="M186.567,240.5h1.065h1.867v2.583v1.065v1.064v2.288h0.263l3.737,1.438l0,0v1.597
    c0,0-0.71,0.532-0.533,1.065c0.177,0.532,0.533,2.129,0.533,2.129v1.065l1.238,1.597l1.327,1.377l1.33,1.731h0.886l1.065,0.753
    l1.065,0.465l1.367,0.766l1.722,0.942v0.887v1.187h-2.025l-0.975,1.829v1.243v2.661v2.663l-0.311,0.887l-1.309,1.064l-0.479,0.915
    l-1.008,0.738h-2.308l-0.586,1.718v1.065l-0.86,0.43l-0.504,0.786h-2.309l-1.418-0.164l-1.243-0.595l-1.599-0.241H183.5v3h2.005
    l-0.533,2h-2.663l-1.685-1.1l-0.977-0.815l-1.407,1.542l-1.741-0.763v-0.887l-1.089,0.533c0,0-1.076,1.446-1.784,1.268
    c-0.711-0.177-1.433,0.222-1.433,0.222H170.5v-2.022l-0.839-0.354l-1.883-1.774l-0.532-0.356l-0.747-0.887v-0.888l-4,0.177v-1.242
    l-1.896,0.887l-1.303-1.42l-1.757-0.355l-1.045-0.709v-0.533v-1.064v-1.064v-1.065l-3-1.597v-0.532l0.888-1.065l-0.888-0.533
    v-0.532l1.718-1.243l1.656-0.887l-0.928-1.241l1.554-1.416v-0.537l-1.17-1.419l1.011-1.065l1.038-0.532l1.229-0.067l-0.723-1.664
    h1.065l2.129-0.554l1.952-1.785l1.421-0.361l1.439,0.708l1.222-1.244l1.775,0.531l2.129-1.241l1.774,0.177l1.388,0.71l1.32-0.534
    v0.889l2-0.709v-1.42l1.815-0.177l1.62-0.178l0.427,0.532l1.138-1.064v-2.307l1.445-1.065l1.43-1.108l-0.875-1.309v-0.777
    l0.764-0.387l0.66-0.325h0.708l-4.133-1.062v-0.355L186.567,240.5z"/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="209.992,287.5 211.058,287.5 212.3,286.613 213.541,287.5 214.252,287.5 
    215.493,285.964 216.852,286.084 217.5,287.091 217.5,287.801 217.5,288.865 218.5,289.753 218.5,289.5 218.511,289.5 
    217.445,289.5 216.379,289.5 215.317,289.5 214.252,289.5 213.187,289.5 212.122,289.5 212.3,289.093 210.488,289.956 
    208.5,290.108 208.5,288.865 210.577,288.272   "/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="263.519,302.064 263.519,303.772 262.58,302.707 262.58,302.064  "/>
  <path fill="#A8A8A8" stroke="#6B6B6B" d="M268,303.5h-1.578l0.078-1.858v-1.064v-1.064v-1.065l1-1.419v-0.71l0.259-0.91
    l1.857-0.909h1.065l0.818-0.842v-0.533l1.311-3.625h1.064h0.88l0,0h1.744v-0.635l-0.139-1.365h2.839h0.708h1.421l0.708,0.505
    l0.731-0.944l0.73-0.68v-0.709v-1.065l2-0.524v-0.541v-1.064l0.62-2.978h0.533l-0.153,0.139V278.5h3.347l0.888-1.089l2.129-0.911
    h2.309h1.062H295.5v-1.476l2.586-0.938l2.229-0.585h1.243h1.064h2.13H304.5v0.46l2.343,0.568l1.458-1.028h1.774h1.064h1.359v1.524
    v1.065l0.828-0.71l0.087-1.065l0.085-0.887v2.662l2,0.886v1.243l0,0v1.065l-1.558-0.178l-0.797,0.532l-0.504,0.355l-0.219,0.076
    l0.139,0.432h-1.42l0.355,1.964l-1.086,1.258l-0.909,1.595v1.419l0.731,1.597l-1.764-1.065l-0.339,1.065
    c0,0,0.372,0.355,0.372,0.887c0,0.533,0,2.84,0,2.84l-1.43-2.612l-0.721,0.052h-1.597h-1.065l1.243,0.128l0.177-0.383l-1.064-0.1
    l-0.185,0.48l-0.359,1.191v1.244l-2.474,1.439h-1.597l-0.888,0.256l1.063,1.104l-0.019,1.971l-1.087,0.375v1.243v1.065
    l-2.286-0.711l-0.7,1.242l-0.26,1.639l-0.793,1.816h-1.42l-0.533-1.509l-0.888,1.509h-1.773l-0.888,0.266l-0.355-0.266h-0.887
    h-1.774h-1.421h-0.887h-1.242l-0.71-0.533l-0.532,0.533H279.2h-1.598h-1.597l-1.952-0.129l-0.533,0.064l-0.531,0.064h-1.242
    l-1.42-1.194l-1.065-1.043l-0.709,0.545l-0.631,1.112"/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="263.229,345.433 265.002,344.5 266.5,344.5 266.5,344.586 266.5,345.827 
    266.5,346.361 267.322,347.604 268.5,348.49 268.5,349.555 268.5,351.5 267.488,351.5 267.133,352.5 265.358,352.5 
    264.649,351.648 263.761,353.228 262.962,352.5 262.165,352.5 261.1,352.536 259.857,351.933 258.268,350.833 256.5,350.619 
    256.5,351.684 255.871,351.506 255.025,350.441 252.229,349.732 250.5,348.491 250.5,347.425 251.63,346.893 252.816,346.183 
    253.94,346.006 255.389,345.296 256.825,344.763 258.605,344.586 259.498,345.473 260.743,345.296 262.162,344.786  "/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="176.986,333.5 174.857,333.5 173.5,333.5 173.5,333.5 170.5,333.5 170.5,331.454 
    170.5,331.5 168.469,331.5 166.5,331.5 166.5,333.5 166.339,333.5 164.742,333.5 164.209,333.5 163.5,332.52 163.5,333.584 
    163.5,334.117 163.5,335.714 163.5,336.779 163.5,338.5 161.5,338.5 161.5,338.908 161.5,339.972 161.5,341.037 161.5,342.102 
    161.5,344.231 161.847,343.805 161.802,343.39 161.726,344.5 162.08,344.5 164.209,344.5 165.629,345.443 166.892,345.5 
    168.469,345.5 170.955,345.31 173.26,344.948 174.857,344.412 175.856,342.902 176.5,341.568 176.5,341.037 178.5,340.327 
    178.5,338.908 179.074,337.31 180.16,335.891 179.104,334.518   "/>
  <path fill="#A8A8A8" stroke="#6B6B6B" d="M127.5,131.287v2.213h-1v0.981l0.489,0.855l-0.555,0.541c0,0-0.234,0.338-0.011,0.744
    c0.224,0.406,1.053,0.879,1.053,0.879h-0.532l-0.659,1.135l-0.785,1.029v1.207v2.63h0.379l1.597-1.598l1.598,1.598h2.128h2.13
    h1.065l1.103-0.725v-0.84v-1.188v-0.941l-1.538-0.682l1.206-0.947l-0.614-1.623l-0.376-0.812l-1.338-0.811l-0.803-0.947
    l-1.37-0.405l-0.924-0.747l0.927-0.331h-1.597L127.5,131.287z"/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="163.5,158.97 163.5,161.5 164.506,161.5 164.912,161.5 166.4,160.234 
    166.892,161.599 165.525,162.777 163.5,161.44 163.5,162.164 162.515,160.881 163.105,160.988 162.071,160.5 159.951,160.5 
    157.5,160.881 157.5,162.164 156.5,163.604 156.5,164.293 153.5,165.768 153.5,166.424 154.056,167.391 153.5,168.338 153.5,168.5 
    156.756,168.5 157.288,167.774 158.285,168.034 158.826,168.5 159.951,168.5 160.043,168.964 161.025,169.5 161.015,169.5 
    162.477,171.258 163.153,170.746 164.912,171.502 166.892,170.731 167.751,170.617 169.645,169.815 170.188,168.603 
    171.403,170.093 172.215,169.147 173.858,167.931 175.5,166.445 175.5,165.358 173.211,164.28 171.969,164.55 170.198,165.277 
    169.179,164.28 170.087,163.874 170.477,162.251 169.52,161.575 167.967,160.898 166.5,159.682 166.5,160.5 164.209,160.5   "/>
  <polygon fill="#A8A8A8" stroke="#6B6B6B" points="221.716,169.375 224.421,169.5 225.5,169.5 225.5,168.552 225.937,169.351 
    226.869,170.149 228.955,168.552 230.5,167.256 230.5,165.358 230.5,164.5 228.092,164.5 226.856,162.5 225.964,162.5 
    224.422,163.912 223.53,165.229 221.5,166.424 221.5,167.488  "/>
</g>
<path fill="#436917" class="area_protegida" data-area_protegida_nombre="parque_nacional_podocarpus" stroke="#22360B" d="M702.296,825.5h-1.598h-1.738l-1.493-0.664l-4.967-1.052v2.04l-1.569-0.841l-2.431-1.199
  v2.04l0,0v2.248l1.59,1.504l2.408,1.199l1.603,2.196l-0.896,3.395l-0.847,2.539l-1.096,3.158l-0.35,2.437h-0.948l-1.465-1.941v1.26
  l6.008,5.682h2.203h-0.467h-1.781l-1.755,2h-0.496l-3.333-0.797l-3.379-0.755v2.866l4.341,1.127l-0.571,0.801l-0.77,2.195v0.375
  l-0.516,2.021l0.516,1.796v0.68l3.389,3.516l1.607,2.196l2.602,1.197c0,0-1.959,2.996-1.959,3.596s-2.639,1.997-2.639,1.997v0.994
  l3.008,5.194h-0.045l-5.963-2.394v1.698l1.79,2.699l1.221,2.996h-1.546l-0.859,0.483l-1.605-0.286v0.855l-0.453,2.139
  c0,0,1.771,0.598,2.171,1.398c0.397,0.799-0.016,1.795,0.581,1.996c0.601,0.199,1.701,1.198,1.701,1.198v8.216h7.46l1.341-6.4
  l1.995-2.209l1.222-3.596l-1.222-3.098l-0.8-2.547l0.8-1.676l-0.672-2.836l0.876-3.032v-0.801l1.224-3.989l0.483-3.595l-1.953-1.6
  l-1.754-1.196v-3.116l5.19,2.69h0.019l4.375-1.863l-0.292-1.75l-0.292,1.442v1.732v2.247l0.54,1.014l0.224,1.195l1.308,2.001
  l0.466,0.197l0.463,1.397v0.945l-1.086,5.049l0.268,4.393h3.024l1.125-0.287l-1.551,0.042l-1.602,0.723l0.203,1.558l1.197,1.279
  l1.752,1.538l-2.552,1.368l-0.397,2.979l1.398,0.792l-0.803,4.2l-0.799,4.808h2.027l0,0l-0.363-4.006l0.157-3.808v-2.636l3.18-0.562
  l0.811,1.197l0.01,2.001v1.862l5.564,5.951h1.887c0,0,0.51-1.623,1.108-2.412c0.599-0.795,2.317-0.854,2.317-0.854l2.123-0.156
  v-0.279v-2.25l3.459,1.342l3.483,1.609h1.004l0.024-2.775l-0.971-3.24v-1.434v-2.25l3.139,2.699h-2.192l-3.374-4.693l-2.572-3.109
  v-1.644l2.33,1.849l2.612,1.598h3.255l-1.143-4.111l-0.055-3.682v2.098l4.445-0.9l0.678-0.2l-0.123-1.396v0.249l2-2.246v-2.252
  l-1.594,0.654l-0.406-0.6v-1.797l-2.229-1.599l3.177-2.795l2.787-0.801l0.896-0.797l-1.708-1.398l-0.922-0.998v-1.119v0.69h4.84
  l-1.84-7.959v-1.727l-1.858-1.27l-0.108-1l-1.749-1.396l-0.577,2.477l-0.375,3.875h-1.886l0.089-1h-0.089l-2.109-1.822l-0.997-2.664
  l-1.999-2.03l-1.596-0.515l0.199,1.038l2.198,0.919l0.596,1.757l-0.797,1.18l-4.071,0.391l-3.87,0.79v1.521v0.475v1.774l1,2.048
  v3.14h0.199h-2.644h-1.854l-3.701-5.764v-1.673l2.358,4.437h-3.155l-4.211-2.904l-3.992-3.654v-0.127l6.547-1.468l2.207-2
  l-2.077-4.191l-3.677-4.594v-1.243l2-2.151v-2.347l-0.398,0.149l0.27,0.197l-0.442,0.2l-0.131-1.596l-0.464-1.198l-1.33-0.598
  l-0.563-0.802l-1.98-0.037l-0.782,1.363h0.028l-2.027-1.01l-0.198-0.99h-2.273l-4.707-5.117v-1.809l4.385,1.926h-1.927l-1.467-2.891
  l-1.2-3.109h-1.831l-0.633-0.352l-0.704-0.598l-0.351,0.228l-0.07,0.068l0.493,2.928L702.296,825.5z"/>
<path fill="#436917" class="area_protegida" data-area_protegida_nombre="reserva_biológica_cerro_plateado" stroke="#22360B" d="M800.49,772.573l-0.297,0.696l-0.36,0.258l-1.228,0.373l-1.105,0.402v0.182v0.695
  l1.548,2.32h-0.983l-0.352-1.329l-0.273-0.593l-0.637-0.078h-1.076l-1.227-0.166v-0.154v-0.695v-0.11l-0.232,0.765l0.442,1.361
  h0.135l-0.65-1.154l-0.364-0.635l-0.424-0.012l-0.304,0.745l-0.485,0.056h-0.994l0.267-0.191l-0.911-1.079l-0.363-1.345l0.607-0.368
  l0.121-0.502l-0.485-0.722l0.303-0.68l0.425-0.582l0.364,0.423l0.97,0.329l1.062-0.242l0.091-0.333l0.363-0.425l0.728,0.425
  l0.344,0.454l0.476-0.182l0.091-0.485c0,0,0.03,0.876,0.122,0.843c0.091-0.029,0.575,0.662,0.575,0.662h0.488l0.089-0.566
  c0,0-0.121-0.196-0.03-0.166s-0.121-0.416-0.121-0.416l-0.697-0.023v0.021l0.927,0.466l0.884,0.225c0,0,0.521,0.2,0.551,0.291
  s0.215,0.667,0.215,0.667l0.638,0.091l0.576-0.304l0.319,0.577L800.49,772.573z"/>
<path fill="#436917" class="area_protegida" data-area_protegida_nombre="reserva_ecológica_arenillas" stroke="#22360B" d="M544.89,858.5h2.672l0.984-4.529l-1.092-2.829l-0.953-0.576v2.249l3.273-1.688l3.111-0.701
  l-1.123-0.143l-1.262-0.843v-1.125l1.412-0.844l0.848,1.728l1.128,1.301h1.124l-4.512-7.244v-1.688l1.412-0.097l1.129-1.168
  l1.126-2.391l-0.773-1.124l-0.244-1.125c0,0,0.088-0.561,0.51-0.701c0.422-0.142-1.931-1.124-1.931-1.124l-1.229-1.688v-1.827
  l1.554-0.986l0.706-1.123l0.563,0.853l0.846,0.434h-1.406l-0.703-3.104l-0.281-2.045c0,0-4.193-0.853-4.054-1.357
  c0.141-0.505-2.225-2.513-2.225-2.513v-1.404l4.451,2.423h-1.688h-2.247h-0.563l-7.954-2.846v0.423l6.266,6.423h-2.249l-2.109-2.791
  l-0.984-0.884l-3.864-0.325h-4.06v-0.174l6.658,6.174h2.11l-0.844-0.136l-0.283-0.56l0.424,0.354l-0.141,1.23l-0.842,2.054
  l0.702,2.057h0.984l0.984-1.23l-0.844,0.3l-0.843-0.129c0.984,0.562,1.828,0.354,1.828,0.354l-0.141,2.005l-0.563,0.932l-0.563,1.38
  l0.423,1.394l0.703,0.272l0.281,0.981l-0.562,2.107l-0.282,0.604l-0.421,0.8l-0.563,0.705l1.406,0.982l-1.452,1.827l-2.159,1.405
  v2.671v0.704v7.935h5.017l1.125-1.123L544.89,858.5z"/>
<polygon fill="#436917" class="area_protegida" data-area_protegida_nombre="refugio_de_vida_silvestre_isla_santa_clara" stroke="#22360B" points="521.274,698.5 513.5,698.5 513.5,702.5 513.5,702.5 513.5,702.5 516.777,702.5 
  514.527,702.5 507.5,697.453 507.5,706.5 512.278,706.5 510.976,703.025 511.858,703.238 512.916,704.135 510.824,707.495 
  507.5,708.912 507.5,711.114 512.435,710.147 517.258,712.312 521.274,716.5 523.523,716.5 523.553,712.277 522.5,709.09 
  522.5,706.616 522.177,704.855 523.1,701.861 522.828,700.449 522.5,698.333 522.5,697.619 523.234,694.984 523.453,695.35 "/>
<polygon fill="#436917" class="area_protegida" data-area_protegida_nombre="refugio_de_vida_silvestre_el_zarza" stroke="#22360B" points="755.229,777.5 758.123,775.727 759.297,777.405 761.238,777.5 761.94,777.5 
  762.657,777.855 761.894,778.5 761.94,778.5 764.188,778.5 765.822,777.993 767.57,778.5 768.686,778.5 770.407,776.352 
  769.97,776.516 769.205,776.758 768.005,777.1 767.678,777.544 767.787,778.254 768.441,779.101 768.005,779.743 767.348,780.174 
  767.678,780.933 768.331,781.913 768.224,782.351 767.57,783.223 767.459,784.098 766.368,783.443 765.605,782.896 764.804,782.676 
  764.404,782.567 764.621,784.098 764.404,786.689 764.076,789.5 761.94,789.5 761.129,790.5 759.689,790.5 758.727,789.645 
  757.526,790.5 755.191,790.5 754.068,787.535 752.615,785.872 751.523,784.602 750.54,783.259 750.979,781.276 751.523,779.603 
  748.458,777.799 745.5,776.565 745.5,774.092 750.147,774.601 751.488,776.163 752.615,777.5 "/>
<path fill="#436917" class="area_protegida" data-area_protegida_nombre="parque_nacional_yacurí" stroke="#22360B" d="M637.84,860.762l4.719-1.319l0.04,1.496l5.608,4.642l0.654-0.019l2.472,1.231l-0.187,0.005
  l-1.907-0.601l0.025,0.934l2.592,1.992l3.141,1.604l-1.88,3.132l2.843,4.503l4.496-0.124c0,0-3.127-1.214-3.091,0.086l-0.005-0.163
  l0.062,2.249l0.062,2.249l0.062,2.248l3.264,6.316l-3.031,0.053l0.992,1.286l-0.425,1.323l0.435,3.751l-2.404,2.829l1.147,1.267
  l1.146,0.335l1.524,0.928l0.938,0.83l-0.867,1.673l-0.356,0.742l-2.443,0.992l-1.872,1.354l0.03,1.123l0.438,1.114l0.465,2.593
  l0.274,2.603l-2.061,0.055l1.732,1.657l-0.561,0.027l-1.208,0.325l-4.264-1.819l-2.52-3.157l-0.088-3.186l-1.156-1.419l-1.768-3.318
  l-0.532-1.638l-0.252-4.585l0.123-3.754l-0.76-1.669l-0.077-2.81l-2.661-2.307l-0.021-0.807l-0.089-3.185l-0.034-1.313l3.172-2.524
  l-0.002-1.123l-2.127-1.63l-2.546-2.181l-0.041-1.5l-0.051-1.873l-0.071-2.623l-0.674-2.419l-0.977-2.974l-2.444-1.806l-0.047-1.69
  l-0.062-2.247L637.84,860.762z"/>
</svg>
