<div class="align_left">

<h2><%= @area_protegida.AREA_NOMBRE %></h2>

<p>
  <%= link_to raw("<i class='icon-white icon-download'></i> Descargar en PDF"), downloadable_admin_area_protegida_path(@area_protegida), :class => "btn btn-mini btn-info" %>
</p>

<% hash = {
  "Información General" => 'admin/area_protegidas/informacion_general',
  "Amenazas" => 'admin/area_protegidas/amenazas',
  "Conflictos Socioambientales" => 'admin/area_protegidas/conflictos_socioambientales',
  "Comunidades" => "admin/area_protegidas/comunidades",
  "Sitios Turísticos" => "admin/area_protegidas/sitios_turisticos"
} %>
<%= make_tabs hash, true, true  %>

</div>