
  <div id="maps">
    <div id="map">
      <%= render 'map_vector' %>
      <div id="map_info" style="display: none;">
        <div id="map_info_title"></div>
        <div id="map_info_info"></div>
      </div>
      <p id="map_info_instructions">
        Selecciona un área del mapa.
      </p>
    </div>
  </div>
  <%= javascript_tag do %>
    $(function () {
      window.Helpers.AreasProtegidasMaps.init();
    });
  <% end -%>