
  <div class="info_title">Área deforestada:</div>
  <div class="info_content">
    <%= deforestacion.DEF_AREA %> ha
  </div>

  <% unless deforestacion.amenazas_especies.count == 0 %>
    <div class="info_title">
      Especies deforestadas:
    </div>
    <div class="info_content">
      <% deforestacion.amenazas_especies.each do |amenaza_especie| %>
          <%= render 'admin/amenaza_especies/amenaza_especie', amenaza_especie: amenaza_especie %>
      <% end %>
    </div>
  <% end %>

  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_deforestacion_path(@area_protegida, deforestacion.amenaza), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_deforestacion_path(@area_protegida, deforestacion), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
