
  <div class="field">
    <%= f.label :DEF_AREA, "Área deforestada" %>
    <%= f.number_field :DEF_AREA, :placeholder => "(en hectáreas)", :step => "any"%>
      <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
    <%= f.link_to_remove "Deforestación", :class => "delete_destroy" %>
  </div>
  <div class="field">
    <div class="info_title">Especies Deforestadas</div>
    <div class="info_content">
      <%= f.fields_for :amenazas_especies do |b| %>
        <%= render 'admin/amenaza_especies/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Especie", :amenazas_especies, :class => "crear_nuevo" %>
    </div>
  </div>
