<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">
	  <%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
	  <div></div>
	  <% amenaza.deforestaciones.each do |deforestacion| %>
	    <div class="info_content">
	      <%= render 'admin/deforestacions/deforestacion', deforestacion: deforestacion%>
	    </div>
	  <% end %>
  </div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir deforestación', new_admin_area_protegida_deforestacion_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
