<%= javascript_tag do %>
  window.location = '/admin/areas_protegidas';
<% end -%>

<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Deforestación</h3>


<%= render 'index', amenazas: @amenazas%>

<br>
<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir Amenaza: Deforestación', new_admin_area_protegida_deforestacion_path(@area_protegida), :remote => true, :class => "crear_nuevo" %>
