  <div class="field">
    <%= f.label :INV_TIPO, "Tipo de invasión" %>
    <%= f.select :INV_TIPO, ["Temporal", "Definitiva"] %>
  </div>

  <div class="field">
    <%= f.label :INV_EXTENSION, "Extensión aproximada invadida" %>
    <%= f.number_field :INV_EXTENSION, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>  
  </div>

    <div class="field">
    <%= f.label :INV_NUM_PERSONAS, "Número de personas involucradas" %>
    <%= f.number_field :INV_NUM_PERSONAS%>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>  
    <%= f.link_to_remove "Invasión", :class => "delete_destroy" %>
  </div>
  