<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">
	  <%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
  		<div></div>
  		<% amenaza.invasiones.each do |invasion| %>
    		<div class="info_content">
      			<%= render 'admin/invasions/invasion', invasion: invasion%>
    		</div>
  		<% end %>
  </div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir invasión', new_admin_area_protegida_invasion_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
