<div class="info_title">
  Invasión
</div>
<div class="info_content">

  <% unless invasion.INV_TIPO.blank? %>
    <div>
      <strong>Tipo de invasión:</strong>
      <%= invasion.INV_TIPO %>
    </div>
  <% end %>

  <% unless invasion.INV_EXTENSION.blank? %>
    <div>
      <strong>Extensión aproximada invadida:</strong>
      <%= invasion.INV_EXTENSION %> ha
    </div>
  <% end %>

<% unless invasion.INV_NUM_PERSONAS.blank? %>
    <div>
      <strong>Número de personas involucradas:</strong>
      <%= invasion.INV_NUM_PERSONAS %>
    </div>
  <% end %>
</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Editar', edit_admin_area_protegida_invasion_path(@area_protegida, invasion.amenaza), :class => "editar_edit", :remote => true %>
    <%= link_to 'Eliminar', admin_area_protegida_invasion_path(@area_protegida, invasion), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
  </div>
<% end %>
