
  <div class="info_title">Tipo de actividad:</div>
  <div class="info_content">
      <%= actividad_agropecuaria.AGR_TIPO %>
  </div>
    <div class="info_title">Extensión:</div>
  <div class="info_content">
      <%= actividad_agropecuaria.AGR_EXTENSION %> ha
  </div>

<% unless actividad_agropecuaria.actividades_y_manejos.count == 0 %>
  <div class="info_title">Actividad y Manejo:</div>
  <div class="info_content">
    <% actividad_agropecuaria.actividades_y_manejos.each do |actividad_y_manejo| %>
      <%= render 'admin/actividad_y_manejos/actividad_y_manejo', actividad_y_manejo: actividad_y_manejo %>
    <% end %>
  </div>
<% end %>

  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_actividad_agropecuarium_path(@area_protegida, actividad_agropecuaria.amenaza), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_actividad_agropecuarium_path(@area_protegida, actividad_agropecuaria), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
