
  <div class="field">
    <%= f.label :AGR_TIPO, "Tipo de actividad" %>
    <%= f.select :AGR_TIPO, ["Pecuaria","Agrícola"] %>
  </div>
  <div class="field">
    <%= f.label :AGR_EXTENSION, "Extensión (ha)" %>
    <%= f.number_field :AGR_EXTENSION, :step => "any"%>
      <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
  </div>
  <div>
    <%= f.link_to_remove "Actividad Agropecuaria", :class => "delete_destroy" %>
  </div>
  <div class="field">
    <div class="info_title">Actividad y Manejo</div>
    <div class="info_content">
      <%= f.fields_for :actividades_y_manejos do |b| %>
        <%= render 'admin/actividad_y_manejos/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Actividad y Manejo", :actividades_y_manejos, :class => "crear_nuevo" %>
    </div>
  </div>
