<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">
  	<%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
  	<div></div>
  		<% amenaza.actividades_agropecuarias.each do |actividad_agropecuaria| %>
    		<div class="info_content">
      		<%= render 'admin/actividad_agropecuaria/actividad_agropecuaria', actividad_agropecuaria: actividad_agropecuaria%>
    		</div>
  		<% end %>
	</div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Añadir actividad agropecuaria', new_admin_area_protegida_actividad_agropecuarium_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>