<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Actividad Agropecuaria</h3>

<%= render 'index', amenazas: @amenazas, show_links: true %>
<br>

<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir Amenaza: Activadad Agropecuaria', new_admin_area_protegida_actividad_agropecuarium_path(@area_protegida), :class => "crear_nuevo" %>