<div class="has_container">
<%= form_for([:admin, @area_protegida, @sitio_turistico], :html => { :multipart => true }, :remote => true) do |f| %>

  <div class="info_title"><%= f.label :responsable_registro, "Responsable del registro" %></div>
  <div class="info_content">
    <div class="field">
      <%= f.text_field :responsable_registro, :required => true %>
      <%= form_helper_not_blank %>
    </div>
  </div>

  <div class="info_title">Identificación General</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :AREA_ID, "Área protegida" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
      <%= f.hidden_field :AREA_ID %>
    </div>
    <div class="field">
      <%= f.label :TUR_FECHA_LEVANTAMIENTO, "Levantada a la fecha" %>
      <%= f.text_field :TUR_FECHA_LEVANTAMIENTO, :class => "datepicker" %>
       <span class="help-inline">Comprueba que la fecha de levantamiento se haya especificado y que no sea mayor a la fecha actual.</span>
    </div>
    <div class="field">
      <%= f.label :TUR_NOMBRE, "Nombre del sitio" %>
      <%= f.text_field :TUR_NOMBRE, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :TUR_ATRACTIVO_PRINCIPAL, "Atractivo Turístico Principal" %>
      <%= f.text_field :TUR_ATRACTIVO_PRINCIPAL, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :TUR_OTROS_ATRACTIVOS, "Otros atractivos Turísticos" %>
      <%= f.text_field :TUR_OTROS_ATRACTIVOS, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :TUR_TIPO_CLIMA, "Tipo de clima" %>
      <%= f.text_field :TUR_TIPO_CLIMA, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :TUR_EPOCA_LLUVIAS, "Época lluviosa" %>
      <%= f.text_field :TUR_EPOCA_LLUVIAS, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :epoca_seca, "Época seca" %>
      <%= f.text_field :epoca_seca %>
    </div>
    <div class="field">
      <%= f.label :TUR_CAP_CARGA, "Capacidad de carga" %>
      <%= f.number_field :TUR_CAP_CARGA, :min => 0, :max => 99999 %>
      <%= form_helper_not_blank %>
      <span class="help-inline">Tiene que ser mayor o igual a 0</span> 
    </div>
    <div class="field">
      <%= f.label :TUR_SITIO_INGRESO, "Sitio de ingreso" %>
      <%= f.text_field :TUR_SITIO_INGRESO, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :imagen, "Imagen" %>
      <%= f.file_field :imagen %>
      <span class="help-inline">
        <br>Asegúrate de que la imagen esté en formato jpg, jpeg, gif o png
      </span>
      <% if f.object.imagen? %>
        <div class="imagen_uploader_box_on_form" id="the_uploader">
          <%= image_tag f.object.imagen_url %>
          <%= f.hidden_field :imagen_cache %>
        </div>
        <div class="align_right">
          <%= f.check_box :remove_imagen %> Eliminar imagen
        </div>
      <% end %>
    </div>
  </div>

  <div class="info_title">Ubicación del sitio turístico</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :coordenada_norte, "Coordenada UTM Norte" %>
      <%= f.number_field :coordenada_norte, :placeholder => "en metros UTM", :step => "any" %>
    </div>
    <div class="field">
      <%= f.label :coordenada_este, "Coordenada UTM Este" %>
      <%= f.number_field :coordenada_este, :placeholder => "en metros UTM", :step => "any" %>
    </div>
    <div class="field">
      <%= f.label :altitud_maxima, "Altitud" %>
      <%= f.number_field :altitud_maxima, :placeholder => "(máxima) (msnm)", :step => "any" %>
      <%= f.number_field :altitud_minima, :placeholder => "(mínima) (msnm)", :step => "any" %>
    </div>
  </div>

  <div class="info_title">Jurisdicción</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :provincia, "Provincia" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.provincia %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
    <div class="field">
      <%= f.label :canton, "Cantón" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.canton %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
    <div class="field">
      <%= f.label :canton, "Parroquia" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.parroquia %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
  </div>

  <div class="info_title">Distancia recorrido por tipo vía de acceso al sitio</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :descripcion_recorrido, "Descripción" %>
      <%= f.text_field :descripcion_recorrido, :required => true %>
      <%= form_helper_not_blank %> <span class="help-inline">Debe ser mayor o igual a 0</span>
    </div>
    <div class="field">
      <%= f.label :TUR_DIST_CARRETERA, "Carretera" %>
      <%= f.number_field :TUR_DIST_CARRETERA, :step => "any", :placeholder => "(km)", :required => true %>
      <%= form_helper_not_blank %> <span class="help-inline">Debe ser mayor o igual a 0</span>
    </div>
    <div class="field">
      <%= f.label :TUR_DIST_SENDERO, "Sendero" %>
      <%= f.number_field :TUR_DIST_SENDERO, :step => "any", :placeholder => "(km)", :required => true %>
      <%= form_helper_not_blank %> <span class="help-inline">Debe ser mayor o igual a 0</span>
    </div>
    <div class="field">
      <%= f.label :TUR_DIST_OTRO, "Otros" %>
      <%= f.number_field :TUR_DIST_OTRO, :step => "any", :placeholder => "(km)" %>
    </div>
  </div>

  <div class="info_title">Distancia al centro administrativo más cercano</div>
  <div class="info_content">
    <div class="field">
      <%= f.text_field :TUR_DIST_ADMIN_CERCANO, :placeholder => "(km)", :required => true, :min => 0 %>
      <%= form_helper_not_blank %> <span class="help-inline">Debe ser mayor o igual a 0</span>
    </div>
  </div>

  <!-- <div class="field">
    <%= f.label :GEO_ID %>
    <%= f.number_field :GEO_ID %>
  </div> -->

  <div class="info_title">Infraestructura</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :TUR_ACAMPAR_NUM, "Sitios de acampar" %>
      <%= f.number_field :TUR_ACAMPAR_NUM, :required => true, :min => 0 %>
      <span class="help-inline">Asegúrate de haber ingresado un número mayor o igual a 0.</span>
    </div>
    <div class="field">
      <%= f.label :TUR_ALOJAMIENTO_NUM, "Sitios de alojamiento" %>
      <%= f.number_field :TUR_ALOJAMIENTO_NUM, :required => true, :min => 0 %>
      <span class="help-inline">Asegúrate de haber ingresado un número mayor o igual a 0.</span>
    </div>
    <div class="field">
      <%= f.label :TUR_SENDERO_AUTO_NUM, "Senderos autoguiados" %>
      <%= f.number_field :TUR_SENDERO_AUTO_NUM, :required => true, :min => 0 %>
      <span class="help-inline">Asegúrate de haber ingresado un número mayor o igual a 0.</span>
    </div>
    <div class="field">
      <%= f.label :TUR_OTROS_SENDEROS_NUM, "Otros senderos" %>
      <%= f.number_field :TUR_OTROS_SENDEROS_NUM, :required => true, :min => 0 %>
      <span class="help-inline">Asegúrate de haber ingresado un número mayor o igual a 0.</span>
    </div>
    <div class="field">
      <%= f.label :TUR_CENTRO_INTERP_NUM, "Centros de interpretación" %>
      <%= f.number_field :TUR_CENTRO_INTERP_NUM, :required => true, :min => 0 %>
      <span class="help-inline">Asegúrate de haber ingresado un número mayor o igual a 0.</span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Enviar.." %>
  </div>
<% end %>


<%= javascript_tag do %>
  $(function () {
    //window.Helpers.RemoteMultipartFormHelper.init("sitio_turistico_imagen");
  });
<% end %>


<%= link_to 'Cancelar', admin_area_protegida_sitio_turisticos_path(@area_protegida), :class => "cancel_button", :remote => true %>
</div>