<%
  from_pdf_view = false unless defined?(from_pdf_view)
%>

<% @area_protegida.sitios_turisticos.each do |sitio_turistico| %>
  <%= render 'admin/sitio_turisticos/sitio_turistico', sitio_turistico: sitio_turistico, from_pdf_view: from_pdf_view %>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Añadir Sitio Turístico', new_admin_area_protegida_sitio_turistico_path(@area_protegida), :class => "crear_nuevo", :remote => true %>
  </div>
<% end %>
