<div class="is_sitio_turistico">

<div class="align_center">
  <h4><%= sitio_turistico.TUR_NOMBRE %></h4>
</div>

<% if sitio_turistico.imagen? %>
  <div class="align_center">
    <% if from_pdf_view %>
      <%= image_tag sitio_turistico.imagen.path, :class => "small_image" %>
    <% else %>
      <%= image_tag sitio_turistico.imagen_url, :class => "small_image" %>
    <% end %>
  </div>
<% end %>

  <div>
    <b>Levantada a la fecha:</b>
    <%= l sitio_turistico.TUR_FECHA_LEVANTAMIENTO, format: :long %>
  </div>

<div class="info_title">Responsable del registro:</div>
<div class="info_content">
  <%= sitio_turistico.responsable_registro %>
</div>

<div class="info_title">Identificación General:</div>
<div class="info_content">
  <p>
    <b>Nombre:</b>
    <%= sitio_turistico.TUR_NOMBRE %>
  </p>
  <% unless sitio_turistico.TUR_ATRACTIVO_PRINCIPAL.blank? %>
    <p>
      <b>Atractivo Principal:</b>
      <%= sitio_turistico.TUR_ATRACTIVO_PRINCIPAL %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_OTROS_ATRACTIVOS.blank? %>
    <p>
      <b>Otros Atractivos:</b>
      <%= sitio_turistico.TUR_OTROS_ATRACTIVOS %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_TIPO_CLIMA.blank? %>
    <p>
      <b>Tipo de clima:</b>
      <%= sitio_turistico.TUR_TIPO_CLIMA %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_EPOCA_LLUVIAS.blank? %>
    <p>
      <b>Época de lluvias:</b>
      <%= sitio_turistico.TUR_EPOCA_LLUVIAS %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_CAP_CARGA.blank? %>
    <p>
      <b>Capacidad de Carga:</b>
      <%= sitio_turistico.TUR_CAP_CARGA %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_SITIO_INGRESO.blank? %>
    <p>
      <b>Sitio de ingreso:</b>
      <%= sitio_turistico.TUR_SITIO_INGRESO %>
    </p>
  <% end %>
</div>

<div class="info_title">Ubicación:</div>
<div class="info_content">
  <% unless sitio_turistico.coordenada_norte.blank? %>
    <p>
      <b>Coordenada UTM Norte:</b>
      <%= sitio_turistico.coordenada_norte %>
    </p>
  <% end %>
  <% unless sitio_turistico.coordenada_este.blank? %>
    <p>
      <b>Coordenada UTM Este:</b>
      <%= sitio_turistico.coordenada_este %>
    </p>
  <% end %>
  <% unless sitio_turistico.altitud_maxima.blank? %>
    <p>
      <b>Altitud máxima:</b>
      <%= sitio_turistico.altitud_maxima %> msnm
    </p>
  <% end %>
  <% unless sitio_turistico.altitud_minima.blank? %>
    <p>
      <b>Altitud Mínima:</b>
      <%= sitio_turistico.altitud_minima %> msnm
    </p>
  <% end %>
</div>

<div class="info_title">Jurisdicción:</div>
<div class="info_content">
  <p>
    <b>Provincia:</b>
    <%= sitio_turistico.area_protegida.provincia or raw("<small>(No definido)</small>") %>
  </p>
  <p>
    <b>Cantón:</b>
    <%= sitio_turistico.area_protegida.canton or raw("<small>(No definido)</small>") %>
  </p>
  <p>
    <b>Parroquia:</b>
    <%= sitio_turistico.area_protegida.parroquia or raw("<small>(No definido)</small>") %>
  </p>
</div>

<div class="info_title">Distancia recorrido por tipo vía de acceso al sitio:</div>
<div class="info_content">
  <% unless sitio_turistico.descripcion_recorrido.blank? %>
    <p>
      <b>Descripción:</b>
      <%= sitio_turistico.descripcion_recorrido %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_DIST_SENDERO.blank? %>
    <p>
      <b>Sendero:</b>
      <%= sitio_turistico.TUR_DIST_SENDERO %> km
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_DIST_CARRETERA.blank? %>
    <p>
      <b>Carretera:</b>
      <%= sitio_turistico.TUR_DIST_CARRETERA %> km
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_DIST_OTRO.blank? %>
    <p>
      <b>Tur dist otro:</b>
      <%= sitio_turistico.TUR_DIST_OTRO %> km
    </p>
  <% end %>
</div>

<% unless sitio_turistico.TUR_DIST_ADMIN_CERCANO.blank? %>
  <div class="info_title">Distancia al centro administrativo más cercano:</div>
  <div class="info_content">
    <%= sitio_turistico.TUR_DIST_ADMIN_CERCANO %> km
  </div>
<% end %>

<div class="info_title">Infraestructura:</div>
<div class="info_content">
  <% unless sitio_turistico.TUR_ACAMPAR_NUM.blank? %>
    <p>
      <b>Sitios de acampar:</b>
      <%= sitio_turistico.TUR_ACAMPAR_NUM %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_ALOJAMIENTO_NUM.blank? %>
    <p>
      <b>Sitios de alojamiento:</b>
      <%= sitio_turistico.TUR_ALOJAMIENTO_NUM %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_SENDERO_AUTO_NUM.blank? %>
    <p>
      <b>Senderos autoguiados:</b>
      <%= sitio_turistico.TUR_SENDERO_AUTO_NUM %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_OTROS_SENDEROS_NUM.blank? %>
    <p>
      <b>Otros senderos:</b>
      <%= sitio_turistico.TUR_OTROS_SENDEROS_NUM %>
    </p>
  <% end %>
  <% unless sitio_turistico.TUR_CENTRO_INTERP_NUM.blank? %>
    <p>
      <b>Centros de interpretación:</b>
      <%= sitio_turistico.TUR_CENTRO_INTERP_NUM %>
    </p>
  <% end %>
</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to "Editar", edit_admin_area_protegida_sitio_turistico_path(@area_protegida, sitio_turistico), :class => "editar_edit", :remote => true %>
    <%= link_to "Eliminar", admin_area_protegida_sitio_turistico_path(@area_protegida, sitio_turistico), method: :delete, data: { confirm: "¿Estás seguro? Esta acción es irreversible" }, class: "delete_destroy", :remote => true %>
  </div>
<% end %>

</div>
