<div class="has_container">
  <div class="info_title">
    <%= categorizacion.tipo %>:
  </div>
  <div class="info_content">
    <p>
      <%= render 'admin/categorizacions/categorizacion_detalles', categorizacion: categorizacion %>
    </p>
  </div>
  
  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_categorizacion_path(@area_protegida, categorizacion), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_categorizacion_path(@area_protegida, categorizacion), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
  
</div>
<div></div>

