<%
  detalles = categorizacion.detalles
%>

<div class="align_left">
  <% if detalles.class == Hash %>
    <!-- <%= detalles %> -->
    <div class="info_container">
      <div class="info_title">
        Sistema Nacional de Áreas Protegidas
      </div>
      <div class="info_content">
        <div class="info_container">
          <div class="info_title">
            Subsistema Patrimonio de Áreas Naturales del Estado
          </div>
          <div class="info_content">
            <%= detalles["sistema_nacional_de_areas_protegidas"]["subsistema_patrimonio_de_areas_naturales_del_estado"] %>
          </div>
          <div>
            <strong><%= detalles["sistema_nacional_de_areas_protegidas"]["detalles"] %></strong>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% unless detalles["areas_de_vegetacion_y_bosques_protectores"].blank? %>
      <div class="info_container">
        <div class="info_title">Áreas de vegetación y bosques Protectores</div>
        <div class="info_content"><%= detalles["areas_de_vegetacion_y_bosques_protectores"] %></div>
      </div>
    <% end %>
  <% else %>
    <% detalles.each do |detalle| %>
      <div><%= detalle %></div>
    <% end %>
    <% unless detalles.include?("Otro").blank? %>
      <div style="text-indent:1em;"><%= categorizacion.internacional_otro %></div>
    <% end %>
  <% end %>
</div>