<table>
  <tr>
    <th>Tipo</th>
    <th>Detalles</th>
    <th></th>
  </tr>

<% @categorizacions.each do |categorizacion| %>
  <tr>
    <td>
      <%= categorizacion.tipo %>
    </td>
    <td>
      <%= render 'categorizacion_detalles', detalles: categorizacion.detalles %>
    </td>

    <td>
      <%= link_to 'editar', edit_admin_area_protegida_categorizacion_path(@area_protegida, categorizacion), :class => "editar_edit" %>
      <%= link_to 'eliminar', admin_area_protegida_categorizacion_path(@area_protegida, categorizacion), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy" %>
    </td>
  </tr>
<% end %>
</table>