<div class="has_container">

  <%= form_for([:admin, @area_protegida, @categorizacion], html: { id: "form_for_categorizacion"}, :remote => true ) do |f| %>
    <% if f.object.errors.messages[:base] %>
      <%if f.object.errors.messages[:base].include?("Ya existe una categorización nacional") %>
        <div class="alert alert-error">
          Ya existe una categorización nacional.
        </div>
      <%end%>
      <%if f.object.errors.messages[:base].include?("Ya existe una categorización internacional") %>
        <div class="alert alert-error">
          Ya existe una categorización internacional.
        </div>
      <%end%>
    <% end %>


    <div class="field">
      <%= f.label :AREA_ID, "Área protegida" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
      <%= f.hidden_field :AREA_ID %>
    </div>

    <div class="field">
      <%= f.label :detalles, "Tipo de Categorización" %>
      <% if f.object.errors.any? %>
<!--        <% f.object.errors.messages[:detalles].each do |error| %>
          <span class="help-inline"><%= error %></span>
            <% end %>
-->        
        <span class="help-inline">
          Seleccionar al menos una de las opciones que se listan en el Sistema Nacional de Áreas Protegidas.
        </span>
      <% end %>
      <div></div>
      <%= render 'form_detalles', obj: f.object, f: f %>
    </div>
    
    <div class="field">
      <%= f.hidden_field :detalles %>
    </div>
    <div class="has_margin"></div>
    <div class="actions">
      <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Categorización", :disable_with => "Enviando..." %>
    </div>
  <% end %>

  <%= link_to 'Cancelar', admin_area_protegida_categorizacions_path(@area_protegida), :class => "cancel_button", :remote => true %>

  <%= javascript_tag do %>
    $( function () {
      window.Categorizacion.init();
    });
  <% end %>
</div>
