<input type="radio" name="kind_of_categorizacion" id="kind_of_categorizacion_nac" <%= obj.tipo == "Nacional" ? "checked='checked'" : "" %>>
Nacional

<div class="kind_of_categorizacion_div">
  <table class="categorizacion_detalles_table">
    <tbody>
      <tr>
        
        <td rowspan="2">
          Sistema Nacional de Áreas Protegidas
        </td>
        <td>
          Subsistema Patrimonio de Áreas Naturales del Estado
        </td>
        <td>
          <%
            s_p_a_n_e = [
              "Parque Nacional",
              "Reserva Ecológica",
              "Reserva Biológica",
              "Reserva de Producción de Fauna",
              "Refugio de Vida Silvestre",
              "Área Nacional de Recreación",
              "Reserva Geobotánica",
              "Reserva Marina",
              "Área de Caza y Pesca"
            ].sort
          %>
          <% s_p_a_n_e.each do |type| %>
            <div>
              <input type="radio" name="categorizacion_nacional_patrimonio" class="categorizacion_nacional_patrimonio" <%= (obj.tipo == "Nacional" and obj.detalles["sistema_nacional_de_areas_protegidas"]["subsistema_patrimonio_de_areas_naturales_del_estado"] == type) ? "checked='checked'" : "" %>>
              <span><%= type %></span>
            </div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <%
            s_n_a_p = [
              "Subsistema Autónomo Descentralizado",
              "Subsistema de Áreas Protegidas Privadas",
              "Subsistema de Áreas Protegidas Comunitarias"
            ].sort
          %>
          <% s_n_a_p.each do |type| %>
            <div>
              <input type="radio" name="categorizacion_nacional_sistema_naciona_areas_protegidas_dos" class="categorizacion_nacional_sistema_naciona_areas_protegidas_dos" <%= (obj.tipo == "Nacional" and obj.detalles["sistema_nacional_de_areas_protegidas"]["detalles"] == type) ? "checked='checked'" : "" %>>
              <span><%= type %></span>
            </div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          Áreas de vegetación y bosques protectores
        </td>
        <td>
          <%
            c_n_a_v_b = [
              "Público",
              "Privado",
              "Público-Privado",
              "Comunal"
            ].sort
          %>
          <% c_n_a_v_b.each do |type| %>
            <div>
              <input type="radio" name="categorizacion_nacional_areas_vegetacion_y_bosques" class="categorizacion_nacional_areas_vegetacion_y_bosques" <%= (obj.tipo == "Nacional" and obj.detalles["areas_de_vegetacion_y_bosques_protectores"] == type) ? "checked='checked'" : "" %>>
              <span><%= type %></span>
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div></div>

<input type="radio" name="kind_of_categorizacion" id="kind_of_categorizacion_internac" <%= obj.tipo == "Internacional" ? "checked='checked'" : "" %>>
Internacional

<div class="kind_of_categorizacion_div">
  <table class="categorizacion_detalles_table">
    <tbody>
      <tr>
        
        <td colspan="3">
          <%
            internacional_types = [
              "Áreas de Importancia para la Conservación de las Aves - IBA",
              "Patrimonio Mundial",
              "Reserva de Biósfera",
              "Sitio Ramsar",
              "Otro"
            ]
          %>
          <% internacional_types.each do |type| %>
            <div>
              <input type="checkbox" class="kind_of_categorizacion_internacional" <%= (obj.tipo == "Internacional" and obj.detalles.include?(type)) ? "checked='checked'" : "" %>>
              <span><%= type %></span>
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="internacional_otro_div_holder" class="field" style="display:none;">
    <%= f.label :internacional_otro, "Otro" %>
    <%= f.text_field :internacional_otro %>
    <%= form_helper_not_blank %>
  </div>
</div>