<% categorizaciones.each do |categorizacion| %>
  <%= render 'admin/categorizacions/categorizacion', categorizacion: categorizacion %>
<% end %>

<% if current_user and current_user.is_admin? and not @area_protegida.has_all_categorizaciones?%>
  <div>
    <%= link_to 'Añadir categorización', new_admin_area_protegida_categorizacion_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>