<%= javascript_tag do %>
  window.location = '/admin/areas_protegidas';
<% end -%>

<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Categorización</h3>

<%= render 'categorizaciones', categorizaciones: @categorizacions, area_protegida: @area_protegida %>

