<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Area id:</b>
  <%= @categorizacion.AREA_ID %>
</p>

<p>
  <b>Cat tipo:</b>
  <%= @categorizacion.CAT_TIPO %>
</p>

<p>
  <b>Cat int detalles:</b>
  <%= @categorizacion.CAT_INT_DETALLES %>
</p>

<p>
  <b>Cat nac tipo:</b>
  <%= @categorizacion.CAT_NAC_TIPO %>
</p>

<p>
  <b>Cat nac detalles:</b>
  <%= @categorizacion.CAT_NAC_DETALLES %>
</p>


<%= link_to 'Edit', edit_categorizacion_path(@categorizacion) %> |
<%= link_to 'Back', categorizacions_path %>
 -->