
  <div class="info_title">Tipo de especies:</div>
  <div class="info_content">
    <%= extraccion_ilegal.EXT_ILE_TIPO %> 
  </div>
  <div class="info_content">
      <% extraccion_ilegal.amenazas_especies.each do |amenaza_especie| %>
          <%= render 'admin/amenaza_especies/amenaza_especie', amenaza_especie: amenaza_especie %>
      <% end %>
    </div>
  <div class="info_title">Tipo de material:</div>
  <div class="info_content">
    <%= extraccion_ilegal.EXT_ILE_MAT_TIPO %> 
  </div>
  <div class="info_title">Usos</div>
  <div class="info_content">
    <%= extraccion_ilegal.EXT_ILE_USOS %> 
  </div>
  <div class="info_title">Cantidad de material:</div>
  <div class="info_content">
    <%= extraccion_ilegal.EXT_ILE_CANTIDAD %> 
  </div>
  <% unless extraccion_ilegal.amenazas_especies.count == 0 %>
    <div class="info_title">
      Especies
    </div>
    
  <% end %>

  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_extraccion_ilegal_path(@area_protegida, extraccion_ilegal.amenaza), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_extraccion_ilegal_path(@area_protegida, extraccion_ilegal), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
