
  <div class="field">
    <%= f.label :EXT_ILE_TIPO, "Tipo de especies" %>
    <%= f.select :EXT_ILE_TIPO,["Flora", "Fauna"]%> 
  </div>


  <div class="field">
    <div class="info_title">Especies</div>
    <div class="info_content">
      <%= f.fields_for :amenazas_especies do |b| %>
        <%= render 'admin/amenaza_especies/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Especie", :amenazas_especies, :class => "crear_nuevo" %>
    </div>
  </div>

    <div class="field">
    <%= f.label :EXT_ILE_MAT_TIPO, "Tipo de Material" %>
    <%= f.select :EXT_ILE_MAT_TIPO,["Individuos", "Semillas","Plantulas","Partes"]%> 
  </div>
  <div class="field">
    <%= f.label :EXT_ILE_USOS, "Usos" %>
    <%= f.text_field :EXT_ILE_USOS %>
      <span class="help-inline">No puede quedar en blanco</span> 
  </div>
  <div class="field">
    <%= f.label :EXT_ILE_CANTIDAD, "Cantidad de material" %>
    <%= f.number_field :EXT_ILE_CANTIDAD%>
      <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
    <%= f.link_to_remove "Extracción ilegal", :class => "delete_destroy" %>
  </div>
