<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">
	  <%= render 'admin/amenazas/amenaza', amenaza: amenaza %>
  	<div></div>
  		<% amenaza.extracciones_ilegales.each do |extraccion_ilegal| %>
    		<div class="info_content">
      		<%= render 'admin/extraccion_ilegals/extraccion_ilegal', extraccion_ilegal: extraccion_ilegal%>
    		</div>
  		<% end %>
  	</div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir extracción ilegal', new_admin_area_protegida_extraccion_ilegal_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
