body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.align_center {
  text-align: center;
}

.atras_back, .crear_nuevo, .mostrar_show, .delete_destroy, .editar_edit, .cancel_button {
  display: none;
}

#is_loading_container, #flashes_on_maps, #info_of_the_user {
  display: none;
}

.has_container {
  border-radius: 0.3em;
  border: 1px solid #ddd;
  display: block;
  padding: 1em;
  box-shadow: 0 1px 3px #ccc;
  vertical-align: middle;
  margin: 0 0.5em 1em 0;
}

.block {
  display: block !important;
}

.info_title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.info_content {
  margin-left: 0.5em;
  padding-left: 1em;
  border-left: 1px solid #f3f3f3;
  margin-bottom: 1em;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.little_margin {
  margin: 0.3em;
}

.indent {
  margin-left: 1.5em;
}

.has_margin {
  margin: 1em;
}

.has_padding {
  padding: 1em;
}

.has_vertical_margin {
  margin: 1em 0;
}

.text_justified {
  text-align: justify
}

.small_image {
  max-height: 125px;
  max-width: 250px;
  border-radius: 0.3em;
  box-shadow: 0 1px 2px #aaa;
}