  <div class="field">
    <%= f.label :INF_VIA_PUNTOOX, "Ubicación de las vías: Punto de origen X" %>
    <%= f.number_field :INF_VIA_PUNTOOX, :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
  </div>
  
  <div class="field">
    <%= f.label :INF_VIA_PUNTOOY, "Ubicación de las vías: Punto de origen Y" %>
    <%= f.number_field :INF_VIA_PUNTOOY, :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
  </div>

  <div class="field">
    <%= f.label :INF_VIA_PUNTOFX, "Ubicación de las vías: Punto final X" %>
    <%= f.number_field :INF_VIA_PUNTOFX, :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
  </div>

  <div class="field">
    <%= f.label :INF_VIA_PUNTOFY, "Ubicación de las vías: Punto final Y" %>
    <%= f.number_field :INF_VIA_PUNTOFY, :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
  </div>

  <div class="field">
    <%= f.label :INF_VIA_LONGITUD, "Longitud de la vía (km)" %>
    <%= f.number_field :INF_VIA_LONGITUD, :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>  
  </div>

  <div class="field">
    <%= f.label :INF_VIA_TIPO, "Categorización de vías" %>
    <%= f.select :INF_VIA_TIPO, ["Primer orden", "Segundo orden", "Tercer orden"] %>
  </div>

  <div>
    <%= f.link_to_remove "Infraestructura vial", :class => "delete_destroy" %>
  </div>

