<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">  
  	<%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
  	<div></div>
  	<% amenaza.infraestructuras_viales.each do |infraestructura_vial| %>
    	<div class="info_content">
      		<%= render 'admin/infraestructura_vials/infraestructura_vial', infraestructura_vial: infraestructura_vial%>
    	</div>
  	<% end %>
  </div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir infraestructura vial', new_admin_area_protegida_infraestructura_vial_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
