<div class="info_title">
  Infraestructura vial
</div>
<div class="info_content">

  <% unless infraestructura_vial.INF_VIA_PUNTOOX.blank? %>
    <div>
      <strong>Ubicación de vías: Punto de origen X:</strong>
      <%= infraestructura_vial.INF_VIA_PUNTOOX %>
    </div>
  <% end %>

  <% unless infraestructura_vial.INF_VIA_PUNTOOY.blank? %>
    <div>
      <strong>Ubicación de vías: Punto de origen Y:</strong>
      <%= infraestructura_vial.INF_VIA_PUNTOOY %>
    </div>
  <% end %>

  <% unless infraestructura_vial.INF_VIA_PUNTOFX.blank? %>
    <div>
      <strong>Ubicación de vías: Punto final X:</strong>
      <%= infraestructura_vial.INF_VIA_PUNTOFX %>
    </div>
  <% end %>

  <% unless infraestructura_vial.INF_VIA_PUNTOFY.blank? %>
    <div>
      <strong>Ubicación de vías: Punto final Y:</strong>
      <%= infraestructura_vial.INF_VIA_PUNTOFY %>
    </div>
  <% end %>

  <% unless infraestructura_vial.INF_VIA_LONGITUD.blank? %>
    <div>
      <strong>Longitud de la vía:</strong>
      <%= infraestructura_vial.INF_VIA_LONGITUD %> km
    </div>
  <% end %>

  <% unless infraestructura_vial.INF_VIA_TIPO.blank? %>
    <div>
      <strong>Categorización de las vías:</strong>
      <%= infraestructura_vial.INF_VIA_TIPO %>
    </div>
  <% end %>
</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Editar', edit_admin_area_protegida_infraestructura_vial_path(@area_protegida, infraestructura_vial.amenaza), :class => "editar_edit", :remote => true %>
    <%= link_to 'Eliminar', admin_area_protegida_infraestructura_vial_path(@area_protegida, infraestructura_vial), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
  </div>
<% end %>
