<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Infraestructura Vial</h3>

<%= render 'index', amenazas: @amenazas, show_links: true %>

<br />

<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir Amenaza: Infraestructura Vial', new_admin_area_protegida_infraestructura_vial_path(@area_protegida), :class => "crear_nuevo" %>
