
  <div class="field">
    <%= f.label :INC_AREA, "Área afectada" %>
    <%= f.number_field :INC_AREA, :placeholder => "(en hectáreas)", :step => "any"%>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>  
  </div>
  
  <div class="field">
    <%= f.label :INC_ECOSISTEMA, "Ecosistema afectado" %>
    <%= f.text_field :INC_ECOSISTEMA%>
    <span class="help-inline">No puede quedar en blanco</span> 
  </div>

    <div class="field">
    <%= f.label :INC_ORIGEN, "Naturaleza (origen)" %>
    <%= f.select :INC_ORIGEN,["Natural", "Provocado"]%> 
    <%= f.link_to_remove "Incendio", :class => "delete_destroy" %>

  </div>
