
  <div class="info_title">Área afectada:</div>
  <div class="info_content">
    <%= incendio.INC_AREA %> ha
  </div>
  <div class="info_title">Ecosistema afectado:</div>
  <div class="info_content">
    <%= incendio.INC_ECOSISTEMA%> 
  </div>
  <div class="info_title">Naturaleza (origen):</div>
  <div class="info_content">
    <%= incendio.INC_ORIGEN %> 
  </div>

  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_incendio_path(@area_protegida, incendio.amenaza), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_incendio_path(@area_protegida, incendio), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
  