<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">
 	 <%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
	<div></div> 	
 	 <% amenaza.incendios.each do |incendio| %>
    	<div class="info_content">
      	<%= render 'admin/incendios/incendio', incendio: incendio%>
    	</div>
  <% end %>
</div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir incendio', new_admin_area_protegida_incendio_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>