<% if biodiversidad %>
<div class="has_container">
  <% unless biodiversidad.BIO_ECOSISTEMAS.blank? %>
    <p class="text_justified">
      <strong>Ecosistemas presentes:</strong>
      <%= biodiversidad.BIO_ECOSISTEMAS %>
    </p>
  <% end %>

  <% unless biodiversidad.BIO_FORMAS_VEGETALES.blank? %>
    <p class="text_justified">
      <strong>Formaciones vegetales:</strong>
      <%= biodiversidad.BIO_FORMAS_VEGETALES %>
    </p>
  <% end %>
  
  <% unless biodiversidad.BIO_ZONAS_VIDA.blank? %>
    <p class="text_justified">
      <strong>Zonas de vida:</strong>
      <%= biodiversidad.BIO_ZONAS_VIDA %>
    </p>
  <% end %>
</div>
<br>
<div class="">
  <div class="info_container">

    <% if biodiversidad.biodiversidad_especies_fauna.count > 0 %>
      <div class="info_title">Fauna</div>
      <div class="info_content">
        <%= render 'admin/biodiversidad_especies/biodiversidad_especie', biodiversidad_especies: biodiversidad.biodiversidad_especies_fauna %>
      </div>
    <% end %>

    <% if biodiversidad.biodiversidad_especies_flora.count > 0 %>
      <div class="info_title">Flora</div>
      <div class="info_content">
        <%= render 'admin/biodiversidad_especies/biodiversidad_especie', biodiversidad_especies: biodiversidad.biodiversidad_especies_flora %>
      </div>
    <% end %>

  </div>
</div>

  <% if current_user and current_user.is_admin? %>
    <p>
      <%= link_to 'Editar', edit_admin_area_protegida_biodiversidad_path(@area_protegida, biodiversidad), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_biodiversidad_path(@area_protegida, biodiversidad), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </p>
  <% end %>
  
<% else %>

  <% if current_user and current_user.is_admin? %>
    <%= link_to 'Agregar Biodiversidad', new_admin_area_protegida_biodiversidad_path(@area_protegida), :class => "crear_nuevo", :remote => true %>
  <% end %>
  
<% end %>

