<%= nested_form_for([:admin, @area_protegida, @biodiversidad], :remote => true) do |f| %>

  <div class="field">
    <%= f.label :AREA_ID, "Área protegida" %>
    <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
    <%= f.hidden_field :AREA_ID %>
  </div>
  <div class="field">
    <%= f.label :BIO_ECOSISTEMAS, "Ecosistemas presentes" %>
    <%= f.text_area :BIO_ECOSISTEMAS, :required => true %>
    <%= form_helper_not_blank %>
  </div>
  <div class="field">
    <%= f.label :BIO_FORMAS_VEGETALES, "Formaciones vegetales" %>
    <%= f.text_area :BIO_FORMAS_VEGETALES, :required => true %>
    <%= form_helper_not_blank %>
  </div>
  <div class="field">
    <%= f.label :BIO_ZONAS_VIDA, "Zonas de vida" %>
    <%= f.text_area :BIO_ZONAS_VIDA, :required => true %>
    <%= form_helper_not_blank %>
  </div>

  <div class="info_title">Especies</div>
  <div class="info_content">
    <%= f.fields_for :biodiversidad_especies do |b| %>
      <%= render 'admin/biodiversidad_especies/form', f: b %>
    <% end -%>
    <%= f.link_to_add "Especie", :biodiversidad_especies, :class => "crear_nuevo" %>
  </div>

  <div class="actions">
    <%= f.submit :disable_with => "Enviando.." %>
  </div>
<% end %>

<%= link_to 'Cancelar', admin_area_protegida_biodiversidads_path(@area_protegida), :class => "cancel_button", :remote => true %>
