<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Biodiversidad</h3>

<%= render 'biodiversidad', biodiversidad: @biodiversidad, area_protegida: @area_protegida, show_links: true %>

<br>
<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
