<p id="notice"><%= notice %></p>

<p>
  <b>Area id:</b>
  <%= @biodiversidad.AREA_ID %>
</p>

<p>
  <b>Bio ecosistemas:</b>
  <%= @biodiversidad.BIO_ECOSISTEMAS %>
</p>

<p>
  <b>Bio formas vegetales:</b>
  <%= @biodiversidad.BIO_FORMAS_VEGETALES %>
</p>

<p>
  <b>Bio zonas vida:</b>
  <%= @biodiversidad.BIO_ZONAS_VIDA %>
</p>


<%= link_to 'editar', edit_admin_area_protegida_biodiversidad_path(@area_protegida, @biodiversidad) %> |
<%= link_to "atrás", admin_area_protegida_biodiversidads_path(@area_protegida) %>
