<div class="">

<div class="info_title">Levantada a la fecha:</div>
<div class="info_content">
  <%= l amenaza.AMENAZA_FECHA_LEVANTADA, format: :long %>
</div>

<div class="info_title">Fecha del evento:</div>
<div class="info_content">
  <%= l amenaza.AMENAZA_FECHA_EVENTO, format: :long %>
</div>

<% unless amenaza.responsable.blank? %>
<div class="info_title">Responsable del registro:</div>
<div class="info_content">
  <%=  amenaza.responsable %>
</div>
<%end%>

<div class="info_title">Ubicación Geográfica:</div>
<div class="info_content">
  <% unless amenaza.datum.blank? %>
    <div>
      <strong>Datum:</strong>
      <%= amenaza.datum %>
    </div>
  <%end%>
  <% unless amenaza.coordenada_norte.blank? %>
    <div>
      <strong>Coordenada utm norte:</strong>
      <%= amenaza.coordenada_norte %>
    </div>
  <%end%>
  <% unless amenaza.coordenada_este.blank? %>
    <div>
      <strong>Coordenada utm este:</strong>
      <%= amenaza.coordenada_este %>
    </div>
  <%end%>
  <% unless amenaza.altitud_minima.blank? %>
    <div>
      <strong>Altitud mínima:</strong>
      <%= amenaza.altitud_minima %>
    </div>
  <%end%>
  <% unless amenaza.altitud_maxima.blank? %>
    <div>
      <strong>Altitud máxima:</strong>
      <%= amenaza.altitud_maxima %>
    </div>
  <%end%>
  <div class="info_title">Jurisdicción:</div>
<div class="info_content">
  <p>
    <b>Provincia:</b>
    <%= amenaza.area_protegida.provincia or raw("<small>(No definido)</small>") %>
  </p>
  <p>
    <b>Cantón:</b>
    <%= amenaza.area_protegida.canton or raw("<small>(No definido)</small>") %>
  </p>
  <p>
    <b>Parroquia:</b>
    <%= amenaza.area_protegida.parroquia or raw("<small>(No definido)</small>") %>
  </p>
</div>
</div>

<% unless amenaza.AMENAZA_CONTRAVENTOR_TIPO.blank? %>
  <div class="info_title">Tipo de contraventor:</div>
  <div class="info_content">
    <%=  amenaza.AMENAZA_CONTRAVENTOR_TIPO %>
  </div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to "Eliminar Amenaza", admin_area_protegida_amenaza_path(@area_protegida, amenaza), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' } , :class => "delete_destroy", :remote => true %>
  </div>
<% end %>

</div>