<%= nested_form_for([:admin, @area_protegida, @amenaza], :remote => true) do |f| %>
  
  <div class="field">
    <%= f.label :AREA_ID, "Área protegida" %>
    <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
    <%= f.hidden_field :AREA_ID %>
  </div>

  <div class="field">
    <%= f.label :AMENAZA_FECHA_LEVANTADA, "Levantada la fecha" %>
    <%= f.text_field :AMENAZA_FECHA_LEVANTADA, {:start_year => 1995, :class => "datepicker"}%>
    <span class="help-inline">Comprueba que la fecha de levantamiento se haya especificado y que no sea mayor a la fecha actual.</span>
  </div>
  <div class="field">
    <%= f.label :AMENAZA_FECHA_EVENTO, "Fecha del evento" %>
    <%= f.text_field :AMENAZA_FECHA_EVENTO, {:start_year => 1995, :class => "datepicker"}%>
    <span class="help-inline">Comprueba que la fecha del evento se haya especificado y que no sea mayor a la fecha actual.</span> 
  </div>
    <div class="field">
    <%= f.label :responsable, "Responsable del registro" %>
    <%= f.text_field :responsable%>
      <span class="help-inline">No puede quedar en blanco</span> 
  </div>
  <div class="info_title">
    Ubicación
  </div>
  <div class="info_content">
    <div class="info_title">Ubicación Geográfica</div>
      <div class="info_content">
        <div class="field">
          <%= f.label :datum, "Datum" %>
          <%= f.text_field :datum %>
        </div>
      <div class="field">
        <%= f.label :coordenada_norte, "Coordenadas UTM Norte" %>
        <%= f.number_field :coordenada_norte, :step => "any" %>
        <span class="help-inline">Tiene que se un número mayor a 0</span> 
      </div>
      <div class="field">
        <%= f.label :coordenada_este, "Coordenadas UTM Este" %>
        <%= f.number_field :coordenada_este, :step => "any" %>
        <span class="help-inline">Tiene que se un número mayor a 0</span>
      </div>
      <div class="field">
        <%= f.label :altitud_minima, "Altitud mínima (m)" %>
        <%= f.number_field :altitud_minima, :step => "any" %>
        <span class="help-inline">Tiene que se un número mayor a 0</span>
      </div>
      <div class="field">
        <%= f.label :altitud_maxima, "Altitud máxima (m)" %>
        <%= f.number_field :altitud_maxima, :step => "any" %>
        <span class="help-inline">Tiene que se un número mayor a 0</span>
      </div>
  </div>

<div class="info_title">Jurisdicción</div>
<div class="info_content">
  <div class="field">
      <%= f.label :provincia, "Provincia" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.provincia %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
    <div class="field">
      <%= f.label :canton, "Cantón" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.canton %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
    <div class="field">
      <%= f.label :canton, "Parroquia" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.parroquia %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
</div>

  </div>

    <div class="field">
    <%= f.label :AMENAZA_CONTRAVENTOR_TIPO, "Tipo de Contraventor" %>
    <%= f.select :AMENAZA_CONTRAVENTOR_TIPO,["Nativo", "Colonos","Intermediarios", "Extranjeros"]%>
  </div>
  <div class="field">
    <%= f.label :AMENAZA_TIPO, "Tipo de evento" %>
    <%= f.text_field :AMENAZA_TIPO, :disabled => true, :required => true %>
    <%= f.hidden_field :AMENAZA_TIPO %>
  </div>

  <% case f.object.AMENAZA_TIPO %>
  <% when "Deforestación" %>
    <!-- deforestaciones: -->
    <div class="info_title">
      Deforestación
    </div>
    <div class="info_content">
      <%= f.fields_for :deforestaciones do |b| %>
        <%= render 'admin/deforestacions/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Deforestación", :deforestaciones, :class => "crear_nuevo" %>
    </div>

  <% when "Extracción Ilegal" %>
    <!-- extracciones ilegales: -->
    <div class="info_title">
      Extracción Ilegal
    </div>
    <div class="info_content">
      <%= f.fields_for :extracciones_ilegales do |b| %>
        <%= render 'admin/extraccion_ilegals/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Extracción Ilegal", :extracciones_ilegales, :class => "crear_nuevo" %>
    </div>

  <% when "Incendio" %>
    <!-- incendios: -->
    <div class="info_title">
      Incendio
    </div>
    <div class="info_content">
      <%= f.fields_for :incendios do |b| %>
        <%= render 'admin/incendios/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Incendio", :incendios, :class => "crear_nuevo" %>
    </div>

  <% when "Actividad Agropecuaria" %>
    <!-- Actividad Agropecuaria: -->
    <div class="info_title">
      Actividad Agropecuaria
    </div>
    <div class="info_content">
      <%= f.fields_for :actividades_agropecuarias do |b| %>
        <%= render 'admin/actividad_agropecuaria/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Actividad Agropecuaria", :actividades_agropecuarias, :class => "crear_nuevo" %>
    </div>
  <% when "Minería Legal en el límite del Área Protegida" %>
    <!-- mineria legal: -->
    <div class="info_title">
      Minería Legal en el límite del Área Protegida
    </div>
    <div class="info_content">
      <%= f.fields_for :minerias_legales do |b| %>
        <%= render 'admin/mineria_legals/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Minería Legal", :minerias_legales, :class => "crear_nuevo" %>
    </div>

  <% when "Minería Ilegal" %>
    <!-- Minería Ilegal -->
    <div class="info_title">Minería Ilegal</div>
    <div class="info_content">
      <%= f.fields_for :minerias_ilegales do |b| %>
        <%= render 'admin/mineria_ilegals/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Minería Ilegal", :minerias_ilegales, :class => "crear_nuevo" %>
    </div>

<% when "Infraestructura Vial" %>
    <!-- Infraestructura Vial -->
    <div class="info_title">Infraestructura Vial</div>
    <div class="info_content">
      <%= f.fields_for :infraestructuras_viales do |b| %>
        <%= render 'admin/infraestructura_vials/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Infraestructura vial", :infraestructuras_viales, :class => "crear_nuevo" %>
    </div>

<% when "Obras de infraestructura" %>
    <!-- Otra infraestructura -->
    <div class="info_title">Obras de infraestructura</div>
    <div class="info_content">
      <%= f.fields_for :otras_infraestructuras do |b| %>
        <%= render 'admin/otra_infraestructuras/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Obras de infraestructura", :otras_infraestructuras, :class => "crear_nuevo" %>
    </div>

<% when "Especies introducidas" %>
    <!-- Especies introducidas -->
    <div class="info_title">Especies introducidas</div>
    <div class="info_content">
      <%= f.fields_for :especies_introducidas do |b| %>
        <%= render 'admin/especie_introducidas/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Especies introducidas", :especies_introducidas, :class => "crear_nuevo" %>
    </div>

<% when "Actividades Hidrocarburíferas" %>
    <!-- Actividades Hidrocarburíferas -->
    <div class="info_title">Actividades hidrocarburíferas</div>
    <div class="info_content">
      <%= f.fields_for :actividades_hidrocarburiferas do |b| %>
        <%= render 'admin/actividad_hidrocarburiferas/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Actividad hidrocarburífera", :actividades_hidrocarburiferas, :class => "crear_nuevo" %>
    </div>

<% when "Invasiones" %>
    <!-- Invasiones -->
    <div class="info_title">Invasiones</div>
    <div class="info_content">
      <%= f.fields_for :invasiones do |b| %>
        <%= render 'admin/invasions/form', f: b %>
      <% end -%>
      <%= f.link_to_add "Invasión", :invasiones, :class => "crear_nuevo" %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit :disable_with => "Enviando.." %>
  </div>
<% end %>

<% case @amenaza.AMENAZA_TIPO %>
<% when "Deforestación" %>
  <%= link_to 'Cancelar', admin_area_protegida_deforestacions_path(@area_protegida),:class => "cancel_button", :remote => true %>
<% when "Extracción Ilegal" %>
  <%= link_to 'Cancelar', admin_area_protegida_extraccion_ilegals_path(@area_protegida), :class => "cancel_button", :remote => true %>
<% when "Incendio" %>
  <%= link_to 'Cancelar', admin_area_protegida_incendios_path(@area_protegida), :class => "cancel_button", :remote => true %>
<% when "Actividad Agropecuaria" %>
  <%= link_to 'Cancelar', admin_area_protegida_actividad_agropecuaria_path(@area_protegida), :class => "cancel_button", :remote => true %> 
<% when "Minería Ilegal" %>
  <%= link_to "Cancelar", admin_area_protegida_mineria_ilegals_path(@area_protegida), :remote => true, :class => "cancel_button" %>
<% when "Minería Legal en el límite del Área Protegida" %>
  <%= link_to 'Cancelar', admin_area_protegida_mineria_legals_path(@area_protegida), :remote => true, :class => "cancel_button" %>
<% when "Infraestructura Vial" %>
  <%= link_to 'Cancelar', admin_area_protegida_infraestructura_vials_path(@area_protegida), :remote => true, :class => "cancel_button" %>
<% when "Obras de infraestructura" %>
  <%= link_to 'Cancelar', admin_area_protegida_otra_infraestructuras_path(@area_protegida), :remote => true, :class => "cancel_button" %>
<% when "Especies introducidas" %>
  <%= link_to 'Cancelar', admin_area_protegida_especie_introducidas_path(@area_protegida), :remote => true, :class => "cancel_button" %>
<% when "Actividades Hidrocarburíferas" %>
  <%= link_to 'Cancelar', admin_area_protegida_actividad_hidrocarburiferas_path(@area_protegida), :remote => true, :class => "cancel_button" %>
<% when "Invasiones" %>
  <%= link_to 'Cancelar', admin_area_protegida_invasions_path(@area_protegida), :remote => true, :class => "cancel_button" %>
<% else %>
  <%= link_to 'Cancelar', admin_area_protegida_amenazas_path, :remote => true, :class => "cancel_button" %>
<% end %>
