    <div class="info_title">Ubicación Geográfica</div>
    <div class="info_content">
      <% unless informacion_geografica.GEO_DATUM.blank? %>
        <div>
          <strong>Datum:</strong>
          <%= informacion_geografica.GEO_DATUM %>
        </div>
      <% end %>
      <% unless informacion_geografica.GEO_COORDENADAS_UTM_N_MAX.blank? %>
        <div>
          <strong>Coordenadas UTM Norte:</strong>
          <%= informacion_geografica.GEO_COORDENADAS_UTM_N_MIN %><small>(min)</small>,
          <%= informacion_geografica.GEO_COORDENADAS_UTM_N_MAX %><small>(máx)</small>
        </div>
      <% end %>
      <% unless informacion_geografica.GEO_COORDENADAS_UTM_E_MAX.blank? %>
        <div>
          <strong>Coordenadas UTM Este:</strong>
          <%= informacion_geografica.GEO_COORDENADAS_UTM_E_MIN %><small>(min)</small>,
          <%= informacion_geografica.GEO_COORDENADAS_UTM_E_MAX %><small>(máx)</small>
        </div>
      <% end %>
      <% unless informacion_geografica.altitud_max.blank? %>
        <div>
          <strong>Altitud:</strong>
          <%= informacion_geografica.altitud_min %> m<small>(min)</small>,
          <%= informacion_geografica.altitud_max %> m<small>(máx)</small>
        </div>
      <% end %>
    </div>
    
    <div class="info_title">Jurisdicción</div>
    <div class="info_content">
      <% unless informacion_geografica.GEO_PROVINCIAS.blank? %>
        <div>
          <strong>Provincia:</strong>
          <%= informacion_geografica.GEO_PROVINCIAS %>
        </div>
      <% end %>
      <% unless informacion_geografica.GEO_CANTONES.blank? %>
        <div>
          <strong>Cantón:</strong>
          <%= informacion_geografica.GEO_CANTONES %>
        </div>
      <% end %>
      <% unless informacion_geografica.GEO_PARROQUIAS.blank? %>
        <div>
          <strong>Parroquia:</strong>
          <%= informacion_geografica.GEO_PARROQUIAS %>
        </div>
      <% end %>
    </div>