<div class="info_title">Ubicación Geográfica</div>
<div class="info_content">
  <div class="field">
    <%= f.label :GEO_DATUM, "Datum" %>
    <%= f.text_field :GEO_DATUM %>
  </div>
  <div class="field">
    <%= f.label :GEO_COORDENADAS_UTM_N_MIN, "Coordenadas UTM Norte" %>
    <%= f.number_field :GEO_COORDENADAS_UTM_N_MIN, :placeholder => "UTM Norte min", :step => "any" %>
    <%= f.number_field :GEO_COORDENADAS_UTM_N_MAX, :placeholder => "UTM Norte máx", :step => "any" %>
  </div>
  <div class="field">
    <%= f.label :GEO_COORDENADAS_UTM_E_MIN, "Coordenadas UTM Este" %>
    <%= f.number_field :GEO_COORDENADAS_UTM_E_MIN, :placeholder => "UTM Este máx", :step => "any" %>
    <%= f.number_field :GEO_COORDENADAS_UTM_E_MAX, :placeholder => "UTM Este min", :step => "any" %>
  </div>
  <div class="field">
    <%= f.label :altitud_min, "Altitud (m)" %>
    <%= f.number_field :altitud_min, :placeholder => "altura máxima", :step => "any" %>
    <%= f.number_field :altitud_max, :placeholder => "altura mínima", :step => "any" %>
  </div>
</div>

<div class="info_title">Jurisdicción</div>
<div class="info_content">
  <div class="field">
    <%= f.label :GEO_PROVINCIAS, "Provincia" %>
    <%= f.text_field :GEO_PROVINCIAS, :placeholder => "Provincia donde sucedió el evento" %>
  </div>
  <div class="field">
    <%= f.label :GEO_CANTONES, "Cantón" %>
    <%= f.text_field :GEO_CANTONES, :placeholder => "Cantón donde sucedió el evento" %>
  </div>
  <div class="field">
    <%= f.label :GEO_PARROQUIAS, "Parroquia" %>
    <%= f.text_field :GEO_PARROQUIAS, :placeholder => "Parroquia donde sucedió el evento" %>
  </div>
</div>
