<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Amenazas</h3>
<table>
  <tr>
    <th>Amenaza fecha levantada</th>
    <th>Amenaza fecha evento</th>
    <th>Amenaza contraventor tipo</th>
    <th>Amenaza tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @amenazas.each do |amenaza| %>
  <tr>
    <td><%= amenaza.AMENAZA_FECHA_LEVANTADA %></td>
    <td><%= amenaza.AMENAZA_FECHA_EVENTO %></td>
    <td><%= amenaza.AMENAZA_CONTRAVENTOR_TIPO %></td>
    <td><%= amenaza.AMENAZA_TIPO %></td>
    <td><%= link_to 'Editar', edit_admin_area_protegida_amenaza_path(@area_protegida, amenaza)  %></td>
    <td><%= link_to 'Eliminar', admin_area_protegida_amenaza_path(@area_protegida, amenaza), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Añadir amenaza', new_admin_area_protegida_amenaza_path %>
