<p id="notice"><%= notice %></p>


<p>
  <b>Area id:</b>
  <%= @amenaza.AREA_ID %>
</p>

<p>
  <b>Amenaza fecha levantada:</b>
  <%= @amenaza.AMENAZA_FECHA_LEVANTADA %>
</p>

<p>
  <b>Amenaza fecha evento:</b>
  <%= @amenaza.AMENAZA_FECHA_EVENTO %>
</p>

<p>
  <b>Amenaza contraventor tipo:</b>
  <%= @amenaza.AMENAZA_CONTRAVENTOR_TIPO %>
</p>

<p>
  <b>Amenaza tipo:</b>
  <%= @amenaza.AMENAZA_TIPO %>
</p>


<%= link_to 'Editar', edit_admin_area_protegida_amenaza_path(@area_protegida, @amenaza)  %> 
<%= link_to 'Atrás', admin_area_protegida_informacion_administrativas_path  %>
