
  <div class="field">
    <%= f.label :OTR_INF_AREA_COBERTURA, "Área de cobertura de obras" %>
    <%= f.number_field :OTR_INF_AREA_COBERTURA, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 

  </div>

<!-- <div class="field">
    <%= f.label :OTR_INF_TIPO, "Tipos de Infraestructura (presione SHIFT o CTRL para seleccionar varias)" %>
    <%= f.select :OTR_INF_TIPO, ["Represas", "Plantas generadoras de energía", "Telecomunicaciones", "Edificaciones no planificadas"], {}, {:multiple => true} %>
      </div> -->


      <div class="info_title">Tipos de Infraestructura</div>
  <div class="info_content">
    <div class="field">
      <div><small>(Presione SHIFT o CTRL para marcar varias)</small></div>
      <%
        tipo = [
          "Represas",
          "Plantas generadoras de energía",
          "Telecomunicaciones",
          "Edificaciones no planificadas"
        ]
      %>
      <%= f.select :tipo, tipo, {}, {:multiple => true} %>
      <span class="help-inline">Se debe escoger al menos un tipo</span>
    </div>
  </div>


   <div><%= f.link_to_remove "Obras de infraestructura", :class => "delete_destroy" %></div> 


