<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">
	  <%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
  		<div></div>
  		<% amenaza.otras_infraestructuras.each do |otra_infraestructura| %>
    		<div class="info_content">
      		<%= render 'admin/otra_infraestructuras/otra_infraestructura', otra_infraestructura: otra_infraestructura%>
    		</div>
  		<% end %>
  </div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir obras de infraestructura', new_admin_area_protegida_otra_infraestructura_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
