<div class="info_title">
  Obras de infraestructura
</div>
<div class="info_content">

  <% unless otra_infraestructura.OTR_INF_AREA_COBERTURA.blank? %>
    <div>
      <strong>Área de cobertura de obras:</strong>
      <%= otra_infraestructura.OTR_INF_AREA_COBERTURA %> ha
    </div>
  <% end %>

  <% unless otra_infraestructura.OTR_INF_TIPO.length == 0 %>
  <div class="info_title">Tipos de infraestructura</div>
  <div class="info_content">
    <% otra_infraestructura.OTR_INF_TIPO.each do |tipo| %>
      <div><%= tipo %></div>
    <% end %>
  </div>
<% end %>


</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Editar', edit_admin_area_protegida_otra_infraestructura_path(@area_protegida, otra_infraestructura.amenaza), :class => "editar_edit", :remote => true %>
    <%= link_to 'Eliminar', admin_area_protegida_otra_infraestructura_path(@area_protegida, otra_infraestructura), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
  </div>
<% end %>
