<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Otra infraestructura</h3>

<%= render 'index', amenazas: @amenazas, show_links: true %>

<br>
<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir Amenaza: Otra infraestructura', new_admin_area_protegida_otra_infraestructura_path(@area_protegida), :class => "crear_nuevo" %>


