
  <div class="field">
    <%= f.label :MIN_LEG_CONSECIONADO, "Concesionado a" %>
    <%= f.text_field :MIN_LEG_CONSECIONADO %>
    <span class="help-inline">No puede quedar en blanco</span> 
  </div>

  <div class="field">
    <%= f.label :MIN_LEG_CODIGO, "Código de la concesión" %>
    <%= f.text_field :MIN_LEG_CODIGO%>
    <span class="help-inline">No puede quedar en blanco</span> 
  </div>

  <div class="field">
    <%= f.label :MIN_LEG_EXT_CONSECION, "Extensión de la concesión" %>
    <%= f.number_field :MIN_LEG_EXT_CONSECION, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>   
  </div>

    <div class="field">
    <%= f.label :MIN_LEG_EXT_EXPLOTACION, "Extensión de la explotación" %>
    <%= f.number_field :MIN_LEG_EXT_EXPLOTACION, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>  
  </div>
  
  <div class="field">
    <%= f.label :MIN_LEG_TIPO, "Tipo de actividad" %>
    <%= f.select :MIN_LEG_TIPO, ["Metálica", "No Metálica"] %>
  </div>

<!--     <div class="field">
    <%= f.label :MIN_LEG_ESTADO, "Estado de concesión (presione SHIFT o CTRL para seleccionar varias)" %>
    <%= f.select :MIN_LEG_ESTADO, ["Prospección", "Exploración", "Explotación"], {}, {:multiple => true} %> -->

<div class="info_title">Estado de concesión</div>
  <div class="info_content">
    <div class="field">
      <div><small>(Presione SHIFT o CTRL para marcar varias)</small></div>
      <%
        estado = [
          "Prospección",
          "Exploración",
          "Explotación"
        ]
      %>
      <%= f.select :estado, estado, {}, {:multiple => true} %>
      <span class="help-inline">Se debe escoger al menos un estado</span>
    </div>
  </div>

<div><%= f.link_to_remove "Minería Legal", :class => "delete_destroy" %></div>
    


