<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">
  	 <%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
  	 <div></div>
  	 <% amenaza.minerias_legales.each do |mineria_legal| %>
    	<div class="info_content">
      		<%= render 'admin/mineria_legals/mineria_legal', mineria_legal: mineria_legal%>
    	</div>
  	 <% end %>
  </div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir Minería Legal', new_admin_area_protegida_mineria_legal_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
