<div class="info_title">
  Minería legal
</div>
<div class="info_content">
  
  <% unless mineria_legal.MIN_LEG_CONSECIONADO.blank? %>
    <div>
      <strong>Concesionado a:</strong>
      <%= mineria_legal.MIN_LEG_CONSECIONADO %>
    </div>
  <% end %>

  <% unless mineria_legal.MIN_LEG_CODIGO.blank? %>
    <div>
      <strong>Código de la concesión:</strong>
      <%= mineria_legal.MIN_LEG_CODIGO %>
    </div>
  <% end %>

  <% unless mineria_legal.MIN_LEG_EXT_CONSECION.blank? %>
    <div>
      <strong>Extensión de la concesión:</strong>
      <%= mineria_legal.MIN_LEG_EXT_CONSECION %> ha
    </div>
  <% end %>

  <% unless mineria_legal.MIN_LEG_EXT_EXPLOTACION.blank? %>
    <div>
      <strong>Extensión de la explotación:</strong>
      <%= mineria_legal.MIN_LEG_EXT_EXPLOTACION %> ha
    </div>
  <% end %>

  <% unless mineria_legal.MIN_LEG_TIPO.blank? %>
    <div>
      <strong>Tipo de actividad:</strong>
      <%= mineria_legal.MIN_LEG_TIPO %>
    </div>
  <% end %>


  <% unless mineria_legal.MIN_LEG_ESTADO.length == 0 %>
  <div class="info_title">Estado de la concesión</div>
  <div class="info_content">
    <% mineria_legal.MIN_LEG_ESTADO.each do |estado| %>
      <div><%= estado %></div>
    <% end %>
  </div>
<% end %>
</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Editar', edit_admin_area_protegida_mineria_legal_path(@area_protegida, mineria_legal.amenaza), :class => "editar_edit", :remote => true %>
    <%= link_to 'Eliminar', admin_area_protegida_mineria_legal_path(@area_protegida, mineria_legal), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
  </div>
<% end %>
