<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Minería legal en el límite del Área protegida</h3>

<%= render 'index', amenazas: @amenazas, show_links: true %>

<br>
<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir Amenaza: Minería legal', new_admin_area_protegida_mineria_legal_path(@area_protegida), :class => "crear_nuevo" %>


