<div class="has_container">
<% biodiversidad_especies.each do |biodiversidad_especie| %>
  <% unless biodiversidad_especie.BIO_ESP_NUM_FAMILIAS.blank? and biodiversidad_especie.BIO_ESP_NUM_ESPECIES.blank? and biodiversidad_especie.BIO_ESP_REPRESENTATIVA.blank? %>
    <div class="info_title">
      <%= biodiversidad_especie.BIO_ESP_NOMBRE %>
    </div>
    <div class="info_content">
      <% unless biodiversidad_especie.BIO_ESP_NUM_FAMILIAS.blank? %>
        <b>Número de familias:</b> <%= biodiversidad_especie.BIO_ESP_NUM_FAMILIAS %><br>
      <% end %>
      <% unless biodiversidad_especie.BIO_ESP_NUM_ESPECIES.blank? %>
        <b>Número de especies:</b> <%= biodiversidad_especie.BIO_ESP_NUM_ESPECIES %><br>
      <% end %>
      <% unless biodiversidad_especie.BIO_ESP_REPRESENTATIVA.blank? %>
        <div class="info_title">Especies representativas:</div>
        <div class="info_content">
          <% biodiversidad_especie.BIO_ESP_REPRESENTATIVA.split(";").each do |especie| %>
            <div><%= especie %></div>
          <% end -%>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
