<div class="has_container biodiversidad_especie_nested_form">

  <div class="field">
    <%= f.label :BIO_ESP_TIPO, "Tipo" %>
    <%= f.select :BIO_ESP_TIPO, ["Fauna","Flora"], {}, :class => "tipo_de_especie_select" %>
  </div>

  <div class="field">
    <%= f.label :BIO_ESP_NOMBRE, "Opciones" %>
    <%=
      nombre_options = [
        "Anfibios",
        "Crustáceos y Bivalvos",
        "Insectos",
        "Mamíferos",
        "Peces",
        "Reptiles",
        "Vasculares",
        "No Vasculares"
      ]
      f.select :BIO_ESP_NOMBRE, nombre_options, {}, :class => "nombre_de_especie_select"
    %>
  </div>
  <div class="field">
    <%= f.label :BIO_ESP_NUM_FAMILIAS, "Número de familias" %>
    <%= f.number_field :BIO_ESP_NUM_FAMILIAS, :min => 0 %>
    <span class="help-inline">Debe ser mayor o igual a cero y de un máximo de 5 cifras.</span>
  </div>
  <div class="field">
    <%= f.label :BIO_ESP_NUM_ESPECIES, "Número de especies" %>
    <%= f.number_field :BIO_ESP_NUM_ESPECIES, :min => 0 %>
    <span class="help-inline">Debe ser mayor o igual a cero y de un máximo de 5 cifras.</span>
  </div>
  <div class="field">
    <%= f.label :BIO_ESP_REPRESENTATIVA, "Especies representativas" %>
    <%= f.text_field :BIO_ESP_REPRESENTATIVA, :placeholder => "Separa nombres científicos por punto y coma (;)" %>
    <%= form_helper_not_blank %><span class="help-inline">No pueden haber más de 5 nombres científicos.</span>
  </div>
  <div>
    <%= f.link_to_remove "Especie", :class => "delete_destroy" %>
  </div>

</div>

<div id="current_biodiversidad_especie_nested_form"></div>

<%= javascript_tag do %>
  (function () {
    var $this = $("#current_biodiversidad_especie_nested_form");
    console.debug($this);
    new window.Helpers.BiodiversidadEspecieFormHelper($this.parent(), <%= raw nombre_options.to_json %>);
    $this.removeAttr("id");
  })();
<% end -%>