<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Biodiversidad</h3>
<h3>Especies</h3>

<table>
  <tr>
    <th>Tipo</th>
    <th>Nombre</th>
    <th>Número de familias</th>
    <th>Número de especies</th>
    <th>Especies representativas</th>
    <th></th>
  </tr>

<% @biodiversidad_especies.each do |biodiversidad_especy| %>
  <tr>
    <td><%= biodiversidad_especy.BIO_ESP_TIPO %></td>
    <td><%= biodiversidad_especy.BIO_ESP_NOMBRE %></td>
    <td><%= biodiversidad_especy.BIO_ESP_NUM_FAMILIAS %></td>
    <td><%= biodiversidad_especy.BIO_ESP_NUM_ESPECIES %></td>
    <td><%= biodiversidad_especy.BIO_ESP_REPRESENTATIVA %></td>
    <td>
      <%= link_to 'Editar', edit_admin_area_protegida_biodiversidad_biodiversidad_especy_path(@area_protegida, @biodiversidad, biodiversidad_especy), :class => "editar_edit" %>
      <%= link_to 'Eliminar', admin_area_protegida_biodiversidad_biodiversidad_especy_path(@area_protegida, @biodiversidad, biodiversidad_especy), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Atrás", admin_area_protegida_biodiversidads_path(@area_protegida), :class => "atras_back" %> 
<%= link_to 'Añadir especie', new_admin_area_protegida_biodiversidad_biodiversidad_especy_path(@area_protegida, @biodiversidad), :class => "crear_nuevo" %>
