<p>
  <b>Bio id:</b>
  <%= @biodiversidad_especy.BIO_ID %>
</p>

<p>
  <b>Bio esp tipo:</b>
  <%= @biodiversidad_especy.BIO_ESP_TIPO %>
</p>

<p>
  <b>Bio esp num familias:</b>
  <%= @biodiversidad_especy.BIO_ESP_NUM_FAMILIAS %>
</p>

<p>
  <b>Bio esp num especies:</b>
  <%= @biodiversidad_especy.BIO_ESP_NUM_ESPECIES %>
</p>

<p>
  <b>Bio esp representativa:</b>
  <%= @biodiversidad_especy.BIO_ESP_REPRESENTATIVA %>
</p>

<p>
  <b>Bio esp nombre:</b>
  <%= @biodiversidad_especy.BIO_ESP_NOMBRE %>
</p>

