<!-- <div class="info_title">Nombre científico</div>
<div class="info_content">
  <%= amenaza_especie.AME_ESP_NOMBRE_CIENTIFICO %>
</div>

<div class="info_title">Categoria CITES</div>
<div class="info_content">
  <%= amenaza_especie.AME_ESP_CATEGORIA %>
</div>

<div class="info_title">Número de individuos</div>
<div class="info_content">
  <%= amenaza_especie.AME_ESP_NUMERO %>
</div>

<div class="info_title">Volumen</div>
<div class="info_content">
  <%= amenaza_especie.AME_ESP_VOLUMEN %>
</div>
 -->

<div>
  <strong>Nombre científico:</strong>
  <%= amenaza_especie.AME_ESP_NOMBRE_CIENTIFICO %>
</div>
<div>
  <strong>Categoria CITES:</strong>
  <%= amenaza_especie.AME_ESP_CATEGORIA %>
</div>
<div>
  <strong>Número de individuos:</strong>
  <%= amenaza_especie.AME_ESP_NUMERO %>
</div>
<div>
  <strong>Volumen:</strong>
  <%= amenaza_especie.AME_ESP_VOLUMEN %>
</div>
<div class="has_margin">
</div>