
  <div class="field">
    <%= f.hidden_field :EXT_ILE_ID %>
  </div>
  <div class="field">
    <%= f.hidden_field :DEF_ID %>
  </div>
  <div class="field">
    <%= f.label :AME_ESP_NOMBRE_CIENTIFICO, "Nombre científico" %>
    <%= f.text_field :AME_ESP_NOMBRE_CIENTIFICO%>
      <span class="help-inline">No puede quedar en blanco</span> 

  </div>
  <div class="field">
    <%= f.label :AME_ESP_CATEGORIA, "Categoría CITES" %>
    <%= f.text_field :AME_ESP_CATEGORIA%>
      <span class="help-inline">No puede quedar en blanco</span> 
  </div>
  <div class="field">
    <%= f.label :AME_ESP_NUMERO, "Número de individuos" %>
    <%= f.number_field :AME_ESP_NUMERO%>
      <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>  
  </div>
  <div class="field">
    <%= f.label :AME_ESP_VOLUMEN, "Volumen" %>
    <%= f.number_field :AME_ESP_VOLUMEN, :step => "any"%>
      <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 
  </div>
  <%= f.link_to_remove "Especie", :class => "delete_destroy" %>
<div class="has_margin"></div>
