<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TUR_ID %><br />
    <%= f.number_field :TUR_ID %>
  </div>
  <div class="field">
    <%= f.label :CON_ID %><br />
    <%= f.number_field :CON_ID %>
  </div>
  <div class="field">
    <%= f.label :AREA_ID %><br />
    <%= f.number_field :AREA_ID %>
  </div>
  <div class="field">
    <%= f.label :ADMIN_ID %><br />
    <%= f.number_field :ADMIN_ID %>
  </div>
  <div class="field">
    <%= f.label :PERSONA_NOMBRE %><br />
    <%= f.text_field :PERSONA_NOMBRE %>
  </div>
  <div class="field">
    <%= f.label :PERSONA_APELLIDOS %><br />
    <%= f.text_field :PERSONA_APELLIDOS %>
  </div>
  <div class="field">
    <%= f.label :PERSONA_MAIL %><br />
    <%= f.text_field :PERSONA_MAIL %>
  </div>
  <div class="field">
    <%= f.label :PERSONA_TELEFONO %><br />
    <%= f.text_field :PERSONA_TELEFONO %>
  </div>
  <div class="field">
    <%= f.label :PERSONA_DIRECCION %><br />
    <%= f.text_field :PERSONA_DIRECCION %>
  </div>
  <div class="field">
    <%= f.label :PERSONA_ROL %><br />
    <%= f.text_field :PERSONA_ROL %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
