<h1>Listing personas</h1>

<table>
  <tr>
    <th>Tur id</th>
    <th>Con id</th>
    <th>Area id</th>
    <th>Admin id</th>
    <th>Persona nombre</th>
    <th>Persona apellidos</th>
    <th>Persona mail</th>
    <th>Persona telefono</th>
    <th>Persona direccion</th>
    <th>Persona rol</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personas.each do |persona| %>
  <tr>
    <td><%= persona.TUR_ID %></td>
    <td><%= persona.CON_ID %></td>
    <td><%= persona.AREA_ID %></td>
    <td><%= persona.ADMIN_ID %></td>
    <td><%= persona.PERSONA_NOMBRE %></td>
    <td><%= persona.PERSONA_APELLIDOS %></td>
    <td><%= persona.PERSONA_MAIL %></td>
    <td><%= persona.PERSONA_TELEFONO %></td>
    <td><%= persona.PERSONA_DIRECCION %></td>
    <td><%= persona.PERSONA_ROL %></td>
    <td><%= link_to 'Show', persona %></td>
    <td><%= link_to 'Edit', edit_persona_path(persona) %></td>
    <td><%= link_to 'Destroy', persona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Persona', new_persona_path %>
