<p id="notice"><%= notice %></p>

<p>
  <b>Tur id:</b>
  <%= @persona.TUR_ID %>
</p>

<p>
  <b>Con id:</b>
  <%= @persona.CON_ID %>
</p>

<p>
  <b>Area id:</b>
  <%= @persona.AREA_ID %>
</p>

<p>
  <b>Admin id:</b>
  <%= @persona.ADMIN_ID %>
</p>

<p>
  <b>Persona nombre:</b>
  <%= @persona.PERSONA_NOMBRE %>
</p>

<p>
  <b>Persona apellidos:</b>
  <%= @persona.PERSONA_APELLIDOS %>
</p>

<p>
  <b>Persona mail:</b>
  <%= @persona.PERSONA_MAIL %>
</p>

<p>
  <b>Persona telefono:</b>
  <%= @persona.PERSONA_TELEFONO %>
</p>

<p>
  <b>Persona direccion:</b>
  <%= @persona.PERSONA_DIRECCION %>
</p>

<p>
  <b>Persona rol:</b>
  <%= @persona.PERSONA_ROL %>
</p>


<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
