<div class="info_title">
  Actividad hidrocarburífera
</div>
<div class="info_content">
  
  <% unless actividad_hidrocarburifera.ACT_HID_CONCESIONADO.blank? %>
    <div>
      <strong>Concesionado a:</strong>
      <%= actividad_hidrocarburifera.ACT_HID_CONCESIONADO %>
    </div>
  <% end %>

  <% unless actividad_hidrocarburifera.ACT_HID_CODIGO.blank? %>
    <div>
      <strong>Código de la concesión:</strong>
      <%= actividad_hidrocarburifera.ACT_HID_CODIGO %>
    </div>
  <% end %>

  <% unless actividad_hidrocarburifera.ACT_HID_EXT_CONCESION.blank? %>
    <div>
      <strong>Extensión total de la concesión:</strong>
      <%= actividad_hidrocarburifera.ACT_HID_EXT_CONCESION %> ha
    </div>
  <% end %>

  <% unless actividad_hidrocarburifera.ACT_HID_EXT_DENTRO_AREA.blank? %>
    <div>
      <strong>Extensión de la concesión dentro del área protegida:</strong>
      <%= actividad_hidrocarburifera.ACT_HID_EXT_DENTRO_AREA %> ha
    </div>
  <% end %>

  <% unless actividad_hidrocarburifera.ACT_HID_TOTAL_EXPLOTACION.blank? %>
    <div>
      <strong>Extensión total de la explotación:</strong>
      <%= actividad_hidrocarburifera.ACT_HID_TOTAL_EXPLOTACION %> ha
    </div>
  <% end %>

  <% unless actividad_hidrocarburifera.ACT_HID_EXPL_DENTRO_AREA.blank? %>
    <div>
      <strong>Extensión de la explotación dentro del área protegida:</strong>
      <%= actividad_hidrocarburifera.ACT_HID_EXPL_DENTRO_AREA %> ha
    </div>
  <% end %>


    <% unless actividad_hidrocarburifera.ACT_HID_ESTADO_CONCESION.length == 0 %>
  <div class="info_title">Estado de la concesión:</div>
  <div class="info_content">
    <% actividad_hidrocarburifera.ACT_HID_ESTADO_CONCESION.each do |estado| %>
      <div><%= estado %></div>
    <% end %>
  </div>
<% end %>


  <% unless actividad_hidrocarburifera.ACT_HID_SISTEMA_TRANSPORTE.length == 0 %>
  <div class="info_title">Sistema de transporte del producto</div>
  <div class="info_content">
    <% actividad_hidrocarburifera.ACT_HID_SISTEMA_TRANSPORTE.each do |sistema| %>
      <div><%= sistema %></div>
    <% end %>
    <% if actividad_hidrocarburifera.has_sistema_otros? and not actividad_hidrocarburifera.sistema_otros.blank? %>
      <div style="text-indent:1em;"><%= actividad_hidrocarburifera.sistema_otros %></div>
    <% end -%>
  </div>
<% end %>





</div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Editar', edit_admin_area_protegida_actividad_hidrocarburifera_path(@area_protegida, actividad_hidrocarburifera.amenaza), :class => "editar_edit", :remote => true %>
    <%= link_to 'Eliminar', admin_area_protegida_actividad_hidrocarburifera_path(@area_protegida, actividad_hidrocarburifera), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
  </div>
<% end %>
