
  <div class="field">
    <%= f.label :ACT_HID_CONCESIONADO, "Concesionado a" %>
    <%= f.text_field :ACT_HID_CONCESIONADO %>
    <span class="help-inline">No puede quedar en blanco</span> 
  </div>

  <div class="field">
    <%= f.label :ACT_HID_CODIGO, "Código de la concesión" %>
    <%= f.text_field :ACT_HID_CODIGO %>
    <span class="help-inline">No puede quedar en blanco</span> 
  </div>

  <div class="field">
    <%= f.label :ACT_HID_EXT_CONCESION, "Extensión total de la concesión" %>
    <%= f.number_field :ACT_HID_EXT_CONCESION, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 

  </div>

  <div class="field">
    <%= f.label :ACT_HID_EXT_DENTRO_AREA, "Extensión de la concesión dentro del área protegida" %>
    <%= f.number_field :ACT_HID_EXT_DENTRO_AREA, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span> 

  </div>

  <div class="field">
    <%= f.label :ACT_HID_TOTAL_EXPLOTACION, "Extensión total de la explotación" %>
    <%= f.number_field :ACT_HID_TOTAL_EXPLOTACION, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">No puede quedar en blanco y debe ser un número</span> 
  </div>

  <div class="field">
    <%= f.label :ACT_HID_EXPL_DENTRO_AREA, "Extensión de la explotación dentro del área protegida" %>
    <%= f.number_field :ACT_HID_EXPL_DENTRO_AREA, :placeholder => "(en hectáreas)", :step => "any" %>
    <span class="help-inline">
        Por favor verifica que hayas ingresado un número y que sea mayor a 0.
      </span>  
  </div>

<!--   <div class="field">
    <%= f.label :ACT_HID_ESTADO_CONCESION, "Estado de la concesión (presione SHIFT o CTRL para seleccionar varias)" %>
    <%= f.select :ACT_HID_ESTADO_CONCESION, ["Prospección", "Exploración", "Explotación", "Cierre"], {}, {:multiple => true} %>
  </div>
 -->
<div class="info_title">Estado de concesión</div>
  <div class="info_content">
    <div class="field">
      <div><small>(Presione SHIFT o CTRL para marcar varias)</small></div>
      <%
        estado = [
          "Prospección",
          "Exploración",
          "Explotación"
        ]
      %>
      <%= f.select :estado, estado, {}, {:multiple => true} %>
      <span class="help-inline">Se debe escoger al menos un estado</span>
    </div>
  </div>





    <div class="info_title">Sistema de transporte del producto</div>
  <div class="info_content">
    <div class="field">
      <div><small>(Presione SHIFT o CTRL para marcar varias)</small></div>
      <!-- <%= f.label :COM_ACTIVIDADES %> -->
      <%
        sistemas = [
          "Oleoducto",
          "Transporte terrestre",
          "Otro"
        ]
      %>
      <%= f.select :sistema, sistemas, {}, {:multiple => true, :class => "sistema_select"} %>
      <span class="help-inline">Se debe escoger al menos un sistema</span>
    </div>
    <div class="field sistema_otros_hidden_field">
      <%= f.label :sistema_otros, "Otro" %>
      <%= f.text_field :sistema_otros, :placeholder => "Detallar otro sistema de transporte" %>
    </div>
  </div>

<%= javascript_tag do %>
  $(function (){
    window.Helpers.HidrocarburiferasFormHelper.init();
  })
<% end %>

  <div>
    <%= f.link_to_remove "Actividad hidrocarburífera", :class => "delete_destroy" %>
  </div>
