<% amenazas.each do |amenaza| %>
  <div class="has_container has_margin">  
  	<%= render 'admin/amenazas/amenaza', amenaza: amenaza%>
  	<div></div>
  	<% amenaza.actividades_hidrocarburiferas.each do |actividad_hidrocarburifera| %>
    	<div class="info_content">
      		<%= render 'admin/actividad_hidrocarburiferas/actividad_hidrocarburifera', actividad_hidrocarburifera: actividad_hidrocarburifera%>
    	</div>
  	<% end %>
  </div>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir actividad hidrocarburífera', new_admin_area_protegida_actividad_hidrocarburifera_path(@area_protegida), :class => "crear_nuevo", :remote => true %> 
  </div>
<% end %>
