<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Actividad Hidrocarburífera</h3>

<%= render 'index', amenazas: @amenazas, show_links: true %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
    <%= link_to 'Añadir Amenaza: Actividad Hidrocarburífera', new_admin_area_protegida_actividad_hidrocarburifera_path(@area_protegida), :class => "crear_nuevo" %>
  </div>
<% end %>
