<%
  conflicto = conflicto_socioambiental
%>

<div class="is_conflicto_socioambiental">


    <div>
      <b>Levantada a la fecha:</b>
      <%= l conflicto.CON_FECHA_LEVANTAMIENTO, format: :long %>
    </div>
    <div>
        <b>Responsable de registro:</b>
        <%= conflicto.responsable_registro %>
    </div>


  <div class="info_title">Sitio del Conflicto</div>
  <div class="info_content">
    <div class="info_title">Jurisdicción</div>
    <div class="info_content">
      <p>
      <b>Provincia:</b>
      <%= conflicto.area_protegida.provincia or raw("<small>(No definido)</small>") %>
    </p>
    <p>
      <b>Cantón:</b>
      <%= conflicto.area_protegida.canton or raw("<small>(No definido)</small>") %>
    </p>
    <p>
      <b>Parroquia:</b>
      <%= conflicto.area_protegida.parroquia or raw("<small>(No definido)</small>") %>
    </p>
    </div>

  <div class="info_title">Causas del Conflicto</div>
  <div class="info_content"><%= conflicto.causas %></div>

  <div class="info_title">Consecuencias del Conflicto</div>
  <div class="info_content">
    <% if conflicto.CON_TIPO == "Otros" %>
      <%= conflicto.otra_consecuencia %>
    <% else %>
      <%= conflicto.CON_TIPO %>
    <% end %>
  </div>

  <div class="info_title">Duración del Conflicto</div>
  <div class="info_content">
    <p>
      <b>Desde:</b>
      <%= conflicto.CON_FECHA_DESDE %>
    </p>
    <p>
      <b>Hasta:</b>
      <%= conflicto.CON_FECHA_HASTA %>
    </p>
  </div>

  <div class="info_title">Estado de la Manifestación del Conflicto</div>
  <div class="info_content">
    <%= conflicto.CON_ESTADO %>
  </div>

  <%unless conflicto.conf_soc_pers_invol_morador.blank? and conflicto.conf_soc_pers_invol_a_local.blank? and conflicto.conf_soc_pers_invol_a_supralocal.blank?%>
    <div class="info_title">Personas involucradas en el Conflicto (actores del conflicto, actores primarios)</div>
      <div class="info_content">
        <%unless conflicto.conf_soc_pers_invol_morador.blank? %>
            <div class="info_title">Nombre del morador</div>
                <div class="info_content"><%=conflicto.conf_soc_pers_invol_morador%></div>
                <div class="info_content"><b>Tipo de persona: </b><%=conflicto.conf_soc_pers_invol_morador_tipo%></div>
        <%end%>
        <%unless conflicto.conf_soc_pers_invol_a_local.blank? %>
            <div class="info_title">Nombre de la autoridad local</div>
                <div class="info_content"><%=conflicto.conf_soc_pers_invol_a_local%></div>
                <div class="info_content"><b>Tipo de persona: </b><%=conflicto.conf_soc_pers_invol_a_local_tipo%></div>
        <%end%>
        <%unless conflicto.conf_soc_pers_invol_a_supralocal.blank? %>
            <div class="info_title">Nombre de la autoridad supralocal</div>
                <div class="info_content"><%=conflicto.conf_soc_pers_invol_a_supralocal%></div>
                <div class="info_content"><b>Tipo de persona: </b><%=conflicto.conf_soc_pers_invol_a_supralocal_tipo%></div>
        <%end%>
      </div>
  <%end%>

  <%unless conflicto.conf_soc_pers_afec_morador.blank? and conflicto.conf_soc_pers_afec_a_local.blank? and conflicto.conf_soc_pers_afec_a_supralocal.blank?%>
    <div class="info_title">Personas afectadas por el Conflicto (actores secundarios)</div>
      <div class="info_content">
        <%unless conflicto.conf_soc_pers_afec_morador.blank? %>
            <div class="info_title">Nombre del morador</div>
                <div class="info_content"><%=conflicto.conf_soc_pers_afec_morador%></div>
                <div class="info_content"><b>Tipo de persona: </b><%=conflicto.conf_soc_pers_afec_morador_tipo%></div>
        <%end%>
        <%unless conflicto.conf_soc_pers_afec_a_local.blank? %>
            <div class="info_title">Nombre de la autoridad local</div>
                <div class="info_content"><%=conflicto.conf_soc_pers_afec_a_local%></div>
                <div class="info_content"><b>Tipo de persona: </b><%=conflicto.conf_soc_pers_afec_a_local_tipo%></div>
        <%end%>
        <%unless conflicto.conf_soc_pers_afec_a_supralocal.blank? %>
            <div class="info_title">Nombre de la autoridad supralocal</div>
                <div class="info_content"><%=conflicto.conf_soc_pers_afec_a_supralocal%></div>
                <div class="info_content"><b>Tipo de persona: </b><%=conflicto.conf_soc_pers_afec_a_supralocal_tipo%></div>
        <%end%>
      </div>
  <%end%>

  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to "Editar", edit_admin_area_protegida_conflicto_socioambiental_path(@area_protegida, conflicto), :class => "editar_edit", :remote => true %>
      <%= link_to "Eliminar", admin_area_protegida_conflicto_socioambiental_path(@area_protegida, conflicto), method: :delete, data: { confirm: "¿Estás seguro? Esta acción es irreversible" }, class: "delete_destroy", :remote => true %>
    </div>
  <% end %>

  </div>
</div>
