<div class="has_container">
<%= form_for([:admin, @area_protegida, @conflicto_socioambiental], :remote => true) do |f| %>

  <div class="info_title">Información General</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :AREA_ID, "Área protegida" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
      <%= f.hidden_field :AREA_ID %>
    </div>
    <div class="field">
      <%= f.label :CON_FECHA_LEVANTAMIENTO, "Levantada a la fecha" %>
      <%= f.text_field :CON_FECHA_LEVANTAMIENTO, :class => "datepicker", :required => true %>
       <span class="help-inline">Comprueba que la fecha de levantamiento se haya especificado y que no sea mayor a la fecha actual.</span>
    </div>
    <div class="field">
      <%= f.label :responsable_registro, "Responsable de registro" %>
      <%= f.text_field :responsable_registro, :required => true %>
      <%= form_helper_not_blank %>
    </div>
  </div>

  <div class="info_title">Sitio del Conflicto</div>
  <div class="info_content">
    <div class="info_title">Jurisdicción</div>
    <div class="info_content">
      <div class="field">
        <%= f.label :provincia, "Provincia" %>
        <input type="text" disabled="disabled" value="<%= @area_protegida.provincia %>" placeholder="Llenar de Información Geográfica del Área Protegida">
      </div>
    <div class="field">
      <%= f.label :canton, "Cantón" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.canton %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
    <div class="field">
      <%= f.label :canton, "Parroquia" %>
      <input type="text" disabled="disabled" value="<%= @area_protegida.parroquia %>" placeholder="Llenar de Información Geográfica del Área Protegida">
    </div>
    </div>
    <div class="field">
      <%= f.label :referencia, "Referencia / Localidad" %>
      <%= f.text_field :referencia, :required => true %>
      <%= form_helper_not_blank %>
    </div>
  </div>

  <div class="info_title">Causas del Conflicto</div>
  <div class="info_content">
    <%= f.text_field :causas %>
  </div>

  <div class="info_title">Consecuencias del Conflicto</div>
  <div class="info_content">
    <div class="field">
      <%
        consecuencias = [
          "División de la población",
          "Procesos legales",
          "Efectos en la salud en la población",
          "Efectos económicos",
          "Efectos políticos",
          "Efectos sociales",
          "Otros"
        ]
      %>
      <%= f.select :CON_TIPO, consecuencias %>
    </div>
    <div class="field" style="display: none;" id="otra_consecuencia_holder_div">
      <%= f.label :otra_consecuencia, "Otras consecuencias" %>
      <%= f.text_field :otra_consecuencia %>
      <%= form_helper_not_blank %>
    </div>
  </div>

  <div class="info_title">Duración del Conflicto</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :CON_FECHA_DESDE, "Desde" %>
      <%= f.text_field :CON_FECHA_DESDE, :class => "datepicker", :required => true %>
      <span class="help-inline">Comprueba que la fecha se haya especificado y que no sea mayor a la fecha actual.</span>
    </div>
    <div class="field">
      <%= f.label :CON_FECHA_HASTA, "Hasta" %>
      <%= f.text_field :CON_FECHA_HASTA, :class => "datepicker", :required => true %>
      <span class="help-inline">Comprueba que la fecha se haya especificado y que no sea mayor a la fecha actual.</span>
    </div>
  </div>

  <div class="info_title">Estado de la manifestación del Conflicto</div>
  <div class="info_content">
    <div class="field">
      <%
        estados = [
          "Temprano",
          "Negociación",
          "Latente",
          "Escalamiento",
          "Crisis",
          "Estancamiento",
          "Desescalamiento"
        ]
      %>
      <%= f.select :CON_ESTADO, estados %>
    </div>
  </div>

  <div class="info_title">Personas involucradas en el Conflicto (actores del conflicto, actores primarios)</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :conf_soc_pers_invol_morador, "Nombre del morador" %>
      <%= f.text_field :conf_soc_pers_invol_morador %>
       <%= f.select :conf_soc_pers_invol_morador_tipo,["Natural", "Jurídica"]%>
    </div>
    <div class="field">
      <%= f.label :conf_soc_pers_invol_a_local, "Nombre de la autoridad local" %>
      <%= f.text_field :conf_soc_pers_invol_a_local %>
       <%= f.select :conf_soc_pers_invol_a_local_tipo,["Natural", "Jurídica"]%>
    </div>
    <div class="field">
      <%= f.label :conf_soc_pers_invol_a_supralocal, "Nombre de la autoridad supralocal" %>
      <%= f.text_field :conf_soc_pers_invol_a_supralocal %>
       <%= f.select :conf_soc_pers_invol_a_supralocal_tipo,["Natural", "Jurídica"]%>
    </div>
  </div>

  <div class="info_title">Personas afectadas por el Conflicto (actores secundarios)</div>
  <div class="info_content">
    <div class="field">
      <%= f.label :conf_soc_pers_afec_morador, "Nombre del morador" %>
      <%= f.text_field :conf_soc_pers_afec_morador %>
       <%= f.select :conf_soc_pers_afec_morador_tipo,["Natural", "Jurídica"]%>
    </div>
    <div class="field">
      <%= f.label :conf_soc_pers_afec_a_local, "Nombre de la autoridad local" %>
      <%= f.text_field :conf_soc_pers_afec_a_local %>
       <%= f.select :conf_soc_pers_afec_a_local_tipo,["Natural", "Jurídica"]%>
    </div>
    <div class="field">
      <%= f.label :conf_soc_pers_afec_a_supralocal, "Nombre de la autoridad supralocal" %>
      <%= f.text_field :conf_soc_pers_afec_a_supralocal %>
       <%= f.select :conf_soc_pers_afec_a_supralocal_tipo,["Natural", "Jurídica"]%>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Conflicto Socioambiental", :disable_with => "Enviando.." %>
  </div>
<% end %>

<%= link_to 'Cancelar', admin_area_protegida_conflicto_socioambientals_path(@area_protegida), class: "cancel_button", :remote => true %>
</div>

<%= javascript_tag do %>
  window.Helpers.ConflictoSocioambientalFormHelper.init();
<% end %>
