<% conflictos_socioambientales.each do |conflicto_socioambiental| %>
  <%= render 'admin/conflicto_socioambientals/conflicto_socioambiental', conflicto_socioambiental: conflicto_socioambiental %>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Añadir Conflicto Socioambiental', new_admin_area_protegida_conflicto_socioambiental_path(@area_protegida), class: "crear_nuevo", :remote => true %>
  </div>
<% end %>
