<div class="tabbable tabs-left">
  
<% unless current_user %>
  
  Debes <%= link_to "iniciar sesión", login_path %> antes de poder ver las amenazas.
  
<% else %>

  <%= make_tabs Amenaza.tipos_de_amenaza %>

  <div class="tab-content">

    <!-- Deforestación -->
    <div class="tab-pane active" id="deforestación">
      <%= render 'admin/deforestacions/index', amenazas: @area_protegida.amenazas_deforestaciones %>
    </div>

    <!-- Extracción ilegal -->
    <div class="tab-pane" id="extracción_ilegal">
    	<%= render 'admin/extraccion_ilegals/index', amenazas: @area_protegida.amenazas_extracciones_ilegales %>
    </div>

    <!-- Incendios -->
    <div class="tab-pane" id="incendios">
    	<%= render 'admin/incendios/index', amenazas: @area_protegida.amenazas_incendios %>
    </div>

    <!-- Actividad Agropecuaria -->
    <div class="tab-pane" id="actividad_agropecuaria">
      <%= render 'admin/actividad_agropecuaria/index', amenazas: @area_protegida.amenazas_actividades_agropecuarias %>
    </div>

    <!-- Minería legal -->
    <div class="tab-pane" id="minería_legal_en_el_límite_del_Área_protegida">
      <%= render 'admin/mineria_legals/index', amenazas: @area_protegida.amenazas_minerias_legales %>
    </div>

    <!-- Minería Ilegal -->
    <div class="tab-pane" id="minería_ilegal">
      <%= render 'admin/mineria_ilegals/index', amenazas: @area_protegida.amenazas_minerias_ilegales %>
    </div>
  
    <!-- infraestructura vial -->
    <div class="tab-pane" id="infraestructura_vial">
      <%= render 'admin/infraestructura_vials/index', amenazas: @area_protegida.amenazas_infraestructuras_viales %>
    </div>
    
      <!-- otra infraestructura -->
    <div class="tab-pane" id="obras_de_infraestructura">
      <%= render 'admin/otra_infraestructuras/index', amenazas: @area_protegida.amenazas_otras_infraestructuras %>
    </div>
    
      <!-- especies introducidas -->
    <div class="tab-pane" id="especies_introducidas">
      <%= render 'admin/especie_introducidas/index', amenazas: @area_protegida.amenazas_especies_introducidas %>
    </div>

        <!-- actividades hidrocarburíferas -->
    <div class="tab-pane" id="actividades_hidrocarburíferas">
      <%= render 'admin/actividad_hidrocarburiferas/index', amenazas: @area_protegida.amenazas_actividades_hidrocarburiferas %>
    </div>

          <!-- invasiones -->
    <div class="tab-pane" id="invasiones">
      <%= render 'admin/invasions/index', amenazas: @area_protegida.amenazas_invasiones %>
    </div>

  </div>
<% end %>

</div>