<% unless current_user %>

  Debes <%= link_to "iniciar sesión", login_path %> antes de poder ver los conflictos socioambientales.

<% else %>
  <%= render 'admin/conflicto_socioambientals/index', conflictos_socioambientales: @area_protegida.conflictos_socioambientales %>
<% end %>
  