<div class="has_container">
  <%= form_for([:admin, @area_protegida], :remote => (request.format == "text/javascript")) do |f| %>

    <%= f.hidden_field :id %>

    <div class="field">
      <%= f.label :AREA_NOMBRE, "Nombre" %>
      <%= f.text_field :AREA_NOMBRE, :required => true %>
      <span class="help-inline">Por favor verifica que el nombre no esté en blanco y que no exista otra área protegida con ese nombre.</span>
    </div>
    <div class="field">
      <%= f.label :AREA_TIPO, "Tipo" %>
      <%= f.select :AREA_TIPO, @tipos_area_protegida %>
    </div>
    <div class="field">
      <%= f.label :AREA_OBJETIVOS, "Objetivos" %>
      <%= f.text_area :AREA_OBJETIVOS %>
    </div>
    <div class="field">
      <%= f.label :AREA_FECHA_LEVANTAMIENTO, "Levantada a la fecha" %>
      <%= f.text_field :AREA_FECHA_LEVANTAMIENTO, {:start_year => 1995, :class => "datepicker"} %>
      <span class="help-inline">Comprueba que la fecha de levantamiento se haya especificado y que no sea mayor a la fecha actual.</span>
    </div>
    <div class="field">
      <%= f.label :responsable_registro, "Responsable de registro" %>
      <%= f.text_field :responsable_registro, :required => true %>
      <%= form_helper_not_blank %>
    </div>
    <div class="field">
      <%= f.label :imagen_ap, "Imagen destacada" %>
      <%= f.file_field :imagen_ap %>
      <span class="help-inline">
        <br>Asegúrate de que la imagen esté en formato jpg, jpeg, gif o png
      </span>
      <% if f.object.imagen_ap? %>
        <div class="imagen_uploader_box_on_form" id="the_uploader">
          <%= image_tag f.object.imagen_ap_url %>
          <%= f.hidden_field :imagen_ap_cache %>
        </div>
        <div class="align_right">
          <%= f.check_box :remove_imagen_ap %> Eliminar imagen
        </div>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Área Protegida", :disable_with => "Enviando.." %>
    </div>
  <% end %>

  <%= link_to('Atrás', admin_area_protegidas_path, :class => "atras_back") if request.format == "text/html" %>
  <%= link_to("Cancelar", admin_area_protegida_path(@area_protegida), :class => "cancel_button", :remote => true) if request.format == "text/javascript" %>
</div>
