<%
  from_pdf_view = false unless defined?(from_pdf_view)
%>
<div class="has_container">
  <% unless @area_protegida.imagen_ap.blank? %>
    <div class="area_protegida_imagen">
      <div class="align_center">
        <% if from_pdf_view %>
          <%= image_tag @area_protegida.imagen_ap.path, :class => "small_image" %>
        <% else %>
          <%= image_tag @area_protegida.imagen_ap_url, :class => "small_image" %>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
  <p>
    <b>Nombre:</b>
    <%= @area_protegida.AREA_NOMBRE %>
  </p>

  <p>
    <b>Tipo:</b>
    <%= @area_protegida.AREA_TIPO %>
  </p>

  <p>
    <b>Objetivos:</b>
    <div class="area_protegida_objetivos text_justified"><%= @area_protegida.AREA_OBJETIVOS %></div>
  </p>

  <p>
    <b>Fecha levantamiento:</b>
    <%= l(@area_protegida.AREA_FECHA_LEVANTAMIENTO, format: :long) if @area_protegida.AREA_FECHA_LEVANTAMIENTO %>
  </p>
  
  <p>
    <b>Responsable de registro:</b>
    <%= @area_protegida.responsable_registro %>
  </p>
  
  <% if current_user and current_user.is_admin? %>
    <%= link_to 'Editar identificación', edit_admin_area_protegida_path(@area_protegida), :class => "editar_edit", :remote => true %>
  <% end %>
</div>
