<div class="tabbable tabs-left">

<%= hash = [
  "Identificación",
  "Información Legal",
  "Información Geográfica",
  "Categorización",
  "Información Administrativa",
  "Información Turística",
  "Información Climática",
  "Biodiversidad",
  "Información Hidrográfica"
] 
  make_tabs hash
%>

<div class="tab-content">

  <!-- Identificación -->
  <div class="tab-pane active" id="identificación">
    <%= render 'admin/area_protegidas/identificacion' %>
  </div>

  <!-- información legal -->
  <div class="tab-pane" id="información_legal">
    <%= render 'admin/informacion_legals/index', informacion_legals: @area_protegida.informaciones_legales, show_links: true %>
  </div>

  <!-- información geográfica -->
  <div class="tab-pane" id="información_geográfica">
    <%= render 'admin/informacion_geograficas/index', informaciones_geograficas: @area_protegida.informaciones_geograficas %>
  </div>

  <!-- Categorización -->
  <div class="tab-pane" id="categorización">
    <%= render 'admin/categorizacions/index', categorizaciones: @area_protegida.categorizaciones %>
  </div>

  <!-- información administrativa -->
  <div class="tab-pane" id="información_administrativa">
    <%= render 'admin/informacion_administrativas/index', informaciones_administrativas: @area_protegida.informaciones_administrativas %>
  </div>
  
  <!-- información turística -->
  <div class="tab-pane" id="información_turística">
    <%= render 'admin/informacion_turisticas/index', informaciones_turisticas: @area_protegida.informaciones_turisticas %>
  </div>

  <!-- información climática -->
  <div class="tab-pane" id="información_climática">
      <%= render 'admin/informacion_climaticas/index', informacion_climatica: @area_protegida.informacion_climatica %>
  </div>

  <!-- Biodiversidad -->
  <div class="tab-pane" id="biodiversidad">
    <%= render 'admin/biodiversidads/index', biodiversidad: @area_protegida.biodiversidad %>
  </div>

  <!-- información Hidrográfica -->
    <div class="tab-pane" id="información_hidrográfica">
      <%= render 'admin/informacion_hidrograficas/index', informaciones_hidrograficas: @area_protegida.informaciones_hidrograficas %>
    </div>

</div>

</div>