<div class="align_center">
  <h1><%= @area_protegida.AREA_NOMBRE %></h1>
</div>

<div class="block has_margin">
  <div class="">
    <h2>Información General</h2>
  </div>
  
  <div class="has_container block">
    <h3>Identificación</h3>
    <%= render 'admin/area_protegidas/identificacion', from_pdf_view: true %>
  </div>

  <% if @area_protegida.informaciones_legales.any? %>
    <div class="has_container block">
      <h3>Información Legal</h3>
      <%= render 'admin/informacion_legals/index', informacion_legals: @area_protegida.informaciones_legales, show_links: false %>
    </div>
  <% end %>

  <% if @area_protegida.informaciones_geograficas.any? %>
    <div class="has_container block">
      <h3>Información Geográfica</h3>
      <%= render 'admin/informacion_geograficas/index', informaciones_geograficas: @area_protegida.informaciones_geograficas %>
    </div>
  <% end %>

  <% if @area_protegida.categorizaciones.any? %>
    <div class="has_container block">
      <h3>Categorización</h3>
      <%= render 'admin/categorizacions/index', categorizaciones: @area_protegida.categorizaciones %>
    </div>
  <% end %>

  <% if @area_protegida.informaciones_administrativas.any? %>
    <div class="has_container block">
      <h3>Información Administrativa</h3>
      <%= render 'admin/informacion_administrativas/index', informaciones_administrativas: @area_protegida.informaciones_administrativas %>
    </div>
  <% end %>

  <% if @area_protegida.informaciones_turisticas.any? %>
    <div class="has_container block">
      <h3>Información Turística</h3>
      <%= render 'admin/informacion_turisticas/index', informaciones_turisticas: @area_protegida.informaciones_turisticas %>
    </div>
  <% end %>

  <% if @area_protegida.informacion_climatica %>
    <div class="has_container block">
      <h3>Información Climática</h3>
      <%= render 'admin/informacion_climaticas/index', informacion_climatica: @area_protegida.informacion_climatica %>
    </div>
  <% end %>

  <% if @area_protegida.biodiversidad %>
    <div class="has_container block">
      <h3>Biodiversidad</h3>
      <%= render 'admin/biodiversidads/index', biodiversidad: @area_protegida.biodiversidad %>
    </div>
  <% end %>

  <% if @area_protegida.informaciones_hidrograficas.any? %>
    <div class="has_container block">
      <h3>Información Hidrográfica</h3>
      <%= render 'admin/informacion_hidrograficas/index', informaciones_hidrograficas: @area_protegida.informaciones_hidrograficas %>
    </div>
  <% end %>

</div>

<% if current_user %>
  <div class="block has_margin">
    <div>
      <h2>Amenazas</h2>
    </div>

    <% if @area_protegida.amenazas_deforestaciones.any? %>
      <div class="has_container block">
        <h3>Deforestación</h3>
        <%= render 'admin/deforestacions/index', amenazas: @area_protegida.amenazas_deforestaciones %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_extracciones_ilegales.any? %>
      <div class="has_container block">
        <h3>Extracción Ilegal</h3>
        <%= render 'admin/extraccion_ilegals/index', amenazas: @area_protegida.amenazas_extracciones_ilegales %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_incendios.any? %>
      <div class="has_container block">
        <h3>Incendios</h3>
        <%= render 'admin/incendios/index', amenazas: @area_protegida.amenazas_incendios %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_actividades_agropecuarias.any? %>
      <div class="has_container block">
        <h3>Actividad Agropecuaria</h3>
        <%= render 'admin/actividad_agropecuaria/index', amenazas: @area_protegida.amenazas_actividades_agropecuarias %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_minerias_legales.any? %>
      <div class="has_container block">
        <h3>Minería Legal</h3>
        <%= render 'admin/mineria_legals/index', amenazas: @area_protegida.amenazas_minerias_legales %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_minerias_ilegales.any? %>
      <div class="has_container block">
        <h3>Minería Ilegal en el Límite del Área Protegida</h3>
        <%= render 'admin/mineria_ilegals/index', amenazas: @area_protegida.amenazas_minerias_ilegales %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_infraestructuras_viales.any? %>
      <div class="has_container block">
        <h3>Infraestructura Vial</h3>
        <%= render 'admin/infraestructura_vials/index', amenazas: @area_protegida.amenazas_infraestructuras_viales %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_otras_infraestructuras.any? %>
      <div class="has_container block">
        <h3>Obras de Infraestructura</h3>
        <%= render 'admin/otra_infraestructuras/index', amenazas: @area_protegida.amenazas_otras_infraestructuras %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_especies_introducidas.any? %>
      <div class="has_container block">
        <h3>Especies Introducidas</h3>
        <%= render 'admin/especie_introducidas/index', amenazas: @area_protegida.amenazas_especies_introducidas %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_actividades_hidrocarburiferas.any? %>
      <div class="has_container block">
        <h3>Actividades Hidrocarburíferas</h3>
        <%= render 'admin/actividad_hidrocarburiferas/index', amenazas: @area_protegida.amenazas_actividades_hidrocarburiferas %>
      </div>
    <% end %>

    <% if @area_protegida.amenazas_invasiones.any? %>
      <div class="has_container block">
        <h3>Invasiones</h3>
        <%= render 'admin/invasions/index', amenazas: @area_protegida.amenazas_invasiones %>
      </div>
    <% end %>

  </div>
<% end %>


<% if current_user %>
  <div class="block has_margin">
    <div>
      <h2>Conflictos Socioambientales</h2>
    </div>

    <div class="has_container block">
      <% if @area_protegida.conflictos_socioambientales.any? %>
        <%= render 'admin/conflicto_socioambientals/index', conflictos_socioambientales: @area_protegida.conflictos_socioambientales %>
      <% else %>
        No existen conflictos socioambientales.
      <% end %>
    </div>

  </div>
<% end %>

<div class="block has_margin">
  <div>
    <h2>Comunidades</h2>
  </div>

  <div class="has_container block">
    <% if @area_protegida.comunidades.any? %>
      <%= render 'admin/comunidads/index', comunidades: @area_protegida.comunidades %>
    <% else %>
      No existen comunidades.
    <% end %>
  </div>

</div>

<div class="block has_margin">
  <div>
    <h2>Sitios Turísticos</h2>
  </div>

  <div class="has_container block">
    <% if @area_protegida.sitios_turisticos.any? %>
      <%= render 'admin/sitio_turisticos/index', from_pdf_view: true %>
    <% else %>
      No existen sitios turísticos.
    <% end %>
  </div>

</div>
