<h1>Áreas protegidas</h1>

<div class="align_center has_padding">
  <% @area_protegidas.each do |area_protegida| %>
    <div class="area_protegida has_container">
      <div class="area_protegida_name">
        <%= link_to area_protegida.AREA_NOMBRE, admin_area_protegida_path(area_protegida) %>
      </div>
      <%if area_protegida.has_imagen?%>
        <div class="area_protegida_imagen">
          <%= image_tag area_protegida.one_imagen_url, :class => "small_image" %>
        </div>
      <%end%>
      <div class="area_protegida_delete">
        <%= link_to 'Eliminar', admin_area_protegida_path(area_protegida), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "btn-mini delete_destroy" %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'Añadir área protegida', new_admin_area_protegida_path, :class => "crear_nuevo" %>
</div>
