<h2 id="area_protegida_big_nombre"><%= @area_protegida.AREA_NOMBRE %></h2>

<div class="has_vertical_margin">
  <%= link_to 'Atrás', admin_area_protegidas_path, :class => "atras_back" %>
  <%= link_to raw("<i class='icon-white icon-download'></i> Descargar en PDF"), downloadable_admin_area_protegida_path(@area_protegida), :class => "btn btn-mini btn-info" %>
</div>

<% hash = {
  "Información General" => 'informacion_general',
  "Amenazas" => 'amenazas',
  "Conflictos Socioambientales" => 'conflictos_socioambientales',
  "Comunidades" => "comunidades",
  "Sitios Turísticos" => "sitios_turisticos"
} %>
<%= make_tabs hash, true, true  %>
