<div>
  <strong>Tipo:</strong>
  <%= actividad_y_manejo.AGR_ACT_TIPO %>
</div>
<% unless actividad_y_manejo.AGR_ACT_MANEJO.blank? %>
  <div>
    <strong>Manejo:</strong>
    <%= actividad_y_manejo.AGR_ACT_MANEJO %>
  </div>
<% end %>

<div class="has_margin">
</div>
