
  <div class="field">
    <%= f.label :AGR_ACT_TIPO, "Tipo" %>
    <%= f.text_field :AGR_ACT_TIPO%>
      <span class="help-inline">No puede quedar en blanco</span> 
  </div>
  <div class="field">
    <%= f.label :AGR_ACT_MANEJO, "Manejo" %>
    <%= f.text_field :AGR_ACT_MANEJO%>
      <span class="help-inline">No puede quedar en blanco</span> 
  </div>
  <div>
    <%= f.link_to_remove "Actividad y Manejo", :class => "delete_destroy" %>
  </div>
 