body
  text-align: center
  position: relative
  #main
    width: 100%
    display: inline-block
    text-align: left
    margin: 1em auto
    padding: 1em
    border: 0
    border-radius: 0.3em
    box-shadow: 0 5px 20px #aaa
    background-color: white

table:not(.no_left)
  td, th
    text-align: center
    padding: 0.2em 0.4em

table:not(.no_borders)
  tr
    border-bottom: 1px solid #ddd
  tr:last-child
    border-bottom: none
  td, th
    border-right: 1px solid #ddd
  td:last-child, th:last-child
    border-right: none

.align_left
  text-align: left

.align_center
  text-align: center

.align_right
  text-align: right

.little_margin
  margin: 0.3em

.indent
  margin-left: 1.5em

.has_margin
  margin: 1em

.has_padding
  padding: 1em

.has_vertical_margin
  margin: 1em 0

.text_justified
  text-align: justify

.has_container
  border-radius: 0.3em
  border: 1px solid #ddd
  display: inline-block
  padding: 1em
  box-shadow: 0 1px 3px #ccc
  vertical-align: middle
  margin: 0 0.5em 1em 0
  // max-width: 410px

.small_image
  max-height: 125px
  max-width: 250px
  border-radius: 0.3em
  box-shadow: 0 1px 2px #aaa

label
  font-weight: bold !important
label:after
  content: ":"

#is_loading_container
  position: absolute
  display: block
  width: 100%
  top: 0
  #is_loading
    display: none
    margin: 0 auto
    padding: 0.5em 2em 0.5em 2em
    border-radius: 0 0 0.3em 0.3em
    font-size: 10px
    box-shadow: 0 2px 5px #ccc
    font-family: Verdana

.info_title
  font-weight: bold
  margin-bottom: 0.5em
.info_content
  margin-left: 0.5em
  padding-left: 1em
  border-left: 1px solid #eee
  margin-bottom: 0.5em

.imagen_uploader_box_on_form
  height: 100px
  width: 250px
  border: 1px solid #ccc
  border-radius: 0.3em
  padding: 5px
  text-align: center
  img
    max-height: 90px
    max-width: 240px

#flashes_on_maps
  position: absolute
  width: 100%
  text-align: center
  z-index: 100
  & > div
    box-shadow: 0 2px 5px #aaa
    position: relative
    display: inline-block

#info_of_the_user
  position: absolute
  top: 0
  right: 0
  border-radius: 0 0 0.3em 0.3em
  z-index: 110
  background-color: white
  box-shadow: 0 2px 5px #aaa
  padding: 0.3em 1em
  font-size: 0.8em

@media (min-width:700px)
  body
    width: 700px
    margin: 0 auto

@media (min-width:900px)
  body
    width: 900px
    margin: 0 auto
    