.area_protegida_objetivos
  white-space: pre-line
  // max-width: 95%
  text-align: justify

.area_protegida
  display: inline-block
  width: 300px
  & > div
    display: inline-block
  .area_protegida_name
    font-weight: bold
    font-size: 2em
    line-height: 1.5em
  .area_protegida_delete
    text-align: right
    display: block
  .area_protegida_imagen
    margin: 0.5em
    display: block
    img
      border-radius: 0.3em
      box-shadow: 0 1px 3px #aaa