table.categorizacion_detalles_table
  tr, td
    text-align: left
    vertical-align: middle

.kind_of_categorizacion_div
  border: 1px solid #eee
  padding: 0.5em
  border-radius: 0.4em
  margin: 0 0 1em 0