.is_conflicto_socioambiental
  border-radius: 0.3em
  border: 1px solid #ddd
  display: inline-block
  padding: 1em
  box-shadow: 0 1px 3px #ccc
  vertical-align: middle
  margin: 1em
  max-width: 410px