#maps
  text-align: center
  margin: auto
  #map
    margin: auto
    max-height: 100%
    position: relative
    width: 100%
    .area_protegida
      cursor: pointer
    #map_info
      z-index: 5
      position: absolute
      bottom: 1.5em
      left: 0
      min-height: 120px
      width: 200px
      overflow: auto
      background-color: white
      color: black
      box-shadow: 0 2px 5px #aaa
      border-radius: 0.3em
      font-size: 0.8em
      padding: 0.5em
      border: 1px solid #436917
      #map_info_title
        text-align: center
        font-size: 1.3em
        font-weight: bold
        border-bottom: 1px solid #eee
        padding-bottom: 2px
        margin-bottom: 2px
        display: none
      #map_info_info
        text-align: left
        display: none
        line-height: 15px
        p
          margin: 0 0 5px 0

#map_info_instructions
  position: absolute
  bottom: 1.5em
  left: 0
  text-shadow: 0 1px 0 #fff
  font-size: 0.8em
  padding: 0.5em
  font-size: 1.1em
  padding: 2em 0
  z-index: 3
