  <%= form_for([:admin, @area_protegida, @informacion_hidrografica], html: { id: "form_for_informacion_hidrografica"}, :remote => true) do |f| %>

  <div class="field">
    <%= f.label :AREA_ID, "Área protegida" %>
    <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
    <%= f.hidden_field :AREA_ID %>
  </div>

  <div class="field">
    <%= f.label :HIDRO_CUENCAS_PRESENTES, "Cuencas hidrográficas presentes" %>
    <%= f.text_field :HIDRO_CUENCAS_PRESENTES, :required => true %>
    <%= form_helper_not_blank %>
  </div>

  <div class="field">
    <%= f.label :HIDRO_RIOS_PRINCIPALES, "Ríos principales" %>
    <%= f.text_field :HIDRO_RIOS_PRINCIPALES, :required => true %>
    <%= form_helper_not_blank %>
  </div>

  <div class="field">
    <%= f.label :HIDRO_HUMEDALES, "Humedales" %>
    <%= render 'humedales_form', f: f %>
    <%= f.hidden_field :hidro_humedales_json %>
  </div>
  
  <div class="actions">
    <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Información Hidrográfica", :disable_with => "Enviando.." %>
  </div>
<% end %>

<%= link_to "Cancelar", admin_area_protegida_informacion_hidrograficas_path(@area_protegida), :class => "cancel_button", :remote => true %>

<%= javascript_tag do %>
  $( function () {
    window.InformacionHidrograficaForm.init();
  });
<% end %>

