<%marinos = []%>
<%estuarios = []%>
<%lacustres = []%>
<%ribareños = []%>
<%palustres = []%>
<% humedales.each do |humedal| %>
      <% case humedal %>
        <% when "Costeros", "Costas Rocosas", "Arrecifes de Coral" %>
          <%marinos.push(humedal)%>
        <% when "Deltas", "Marismas de Marea", "Manglares" %>
          <%estuarios.push(humedal)%>
        <% when "Lagos", "Lagunas" %>
          <%lacustres.push(humedal)%>
        <% when "Ríos", "Arroyos" %>
          <%ribareños.push(humedal)%>
          <% when "Marismas", "Pantanos", "Ciénegas", "Turberas" %>
          <%palustres.push(humedal)%>        
      <% end %>
<% end %>
<%unless marinos.empty?%>
  <div class="info_title">
      Marinos:
  </div>
  <div class="info_content">
    <% marinos.each do |marino| %>
    <%= marino %> <br>
  <% end %>
  </div>
  <%end%>

<%unless estuarios.empty?%>
  <div class="info_title">
      Estuarios:
  </div>
  <div class="info_content">
    <% estuarios.each do |estuario| %>
    <%= estuario %> <br>
  <% end %>
  </div>
<%end%>

<%unless lacustres.empty?%>
  <div class="info_title">
      Lacustres:
  </div>
  <div class="info_content">
    <% lacustres.each do |lacustre| %>
    <%= lacustre %> <br>
  <% end %>
  </div>
  <%end%>

<%unless ribareños.empty?%>
  <div class="info_title">
      Ribareños:
  </div>
  <div class="info_content">
    <% ribareños.each do |ribareño| %>
    <%= ribareño %> <br>
  <% end %>
  </div>
  <%end%>

<%unless palustres.empty?%>
  <div class="info_title">
      Palustres:
  </div>
  <div class="info_content">
    <% palustres.each do |palustre| %>
    <%= palustre %> <br>
  <% end %>
  </div>
  <%end%>

