<% informaciones_hidrograficas.each do |informacion_hidrografica| %>
  <%= render 'admin/informacion_hidrograficas/informacion_hidrografica', informacion_hidrografica: informacion_hidrografica %>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Añadir información hidrográfica', new_admin_area_protegida_informacion_hidrografica_path(@area_protegida), :class => "crear_nuevo", :remote => true %>
  </div>
<% end %>
