<div class="has_container">
    <div class="info_title">
      Cuencas Presentes:
    </div>
    <div class="info_content">
      <% informacion_hidrografica.HIDRO_CUENCAS_PRESENTES.split(";").each do |cuenca| %>
        <%=cuenca%></br>
      <%end%>
    </div>
    <div class="info_title">
      Ríos principales:
    </div>
    <div class="info_content">
      <% informacion_hidrografica.HIDRO_RIOS_PRINCIPALES.split(";").each do |rios| %>
        <%=rios%></br>
      <%end%>
    </div>
    
    <% unless informacion_hidrografica.HIDRO_HUMEDALES.count == 0 %>
      <div class="info_title">
        Humedales:
      </div>
      <div class="info_content">
        <%= render 'admin/informacion_hidrograficas/humedales', humedales: informacion_hidrografica.HIDRO_HUMEDALES %>
      </div>
    <% end %>

  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_informacion_hidrografica_path(@area_protegida, informacion_hidrografica), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_informacion_hidrografica_path(@area_protegida, informacion_hidrografica), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
  
</div>
