<%= javascript_tag do %>
  window.location = '/admin/areas_protegidas';
<% end -%>

<h2><%= @area_protegida.AREA_NOMBRE %></h2>
<h3>Información Hidrográfica</h3>

<%= render 'informaciones_hidrograficas', informacion_hidrograficas: @informacion_hidrograficas, area_protegida: @area_protegida %>

<br />

<%= link_to "Atrás", admin_area_protegida_path(@area_protegida), :class => "atras_back" %>
<%= link_to 'Añadir información hidrográfica', new_admin_area_protegida_informacion_hidrografica_path, :class => "crear_nuevo"  %>
