<p id="notice"><%= notice %></p>

<p>
  <b>Area id:</b>
  <%= @informacion_hidrografica.AREA_ID %>
</p>

<p>
  <b>Hidro cuencas presentes:</b>
  <%= @informacion_hidrografica.HIDRO_CUENCAS_PRESENTES %>
</p>

<p>
  <b>Hidro rios principales:</b>
  <%= @informacion_hidrografica.HIDRO_RIOS_PRINCIPALES %>
</p>

<p>
  <b>Hidro humedales:</b>
  <%= @informacion_hidrografica.HIDRO_HUMEDALES %>
</p>


<%= link_to 'Edit', edit_informacion_hidrografica_path(@informacion_hidrografica) %> |
<%= link_to 'Back', informacion_hidrograficas_path %>
