<div class="has_container">
<%= form_for([:admin, @area_protegida, @informacion_climatica], :remote => (request.format == 'text/javascript') ) do |f| %>
  
<div class="field">
    <%= f.label :AREA_ID, "Área" %>
    <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
    <%= f.hidden_field :AREA_ID %>
  </div>
  <div class="info_title">Rango de precipitación (mm)</div>
    <div class="info_content">
      <%= f.label :CLIMA_PRECIP_DESDE, "desde" %>
      <%= f.number_field :CLIMA_PRECIP_DESDE, :step => "any", :min => 0 %>
    </div>
    <div class="info_content">
      <%= f.label :CLIMA_PRECIP_HASTA, "hasta" %>
      <%= f.number_field :CLIMA_PRECIP_HASTA, :step => "any", :min => 0 %>
    </div>
  <div class="info_title">Rango de temperatura (ºC)</div>
    <div class="info_content">
      <%= f.label :CLIMA_TEMP_DESDE, "desde" %>
      <%= f.number_field :CLIMA_TEMP_DESDE, :step => "any" %>
    </div>
    <div class="info_content">
      <%= f.label :CLIMA_TEMP_HASTA, "hasta" %>
      <%= f.number_field :CLIMA_TEMP_HASTA, :step => "any" %>
    </div>
  <div class="info_title">Rango de humedad (%)</div>
    <div class="info_content">
      <%= f.label :CLIMA_HUME_DESDE, "desde" %>
      <%= f.number_field :CLIMA_HUME_DESDE, :step => "any", :in => 0...101 %>
    </div>
    <div class="info_content">
      <%= f.label :CLIMA_HUME_HASTA, "hasta" %>
      <%= f.number_field :CLIMA_HUME_HASTA, :step => "any", :in => 0...101 %>
    </div>
  <div class="actions">
    <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Información Climática", :disable_with => "Enviando.." %>
  </div>
<% end %>

<%= link_to('Cancelar', admin_area_protegida_informacion_climaticas_path(@area_protegida), :class => "cancel_button", :remote => true) if request.format == "text/javascript" %>
</div>