<% if informacion_climatica %>
  <%= render 'admin/informacion_climaticas/informacion_climatica', informacion_climatica: informacion_climatica %>
<% else %>
  <% if current_user and current_user.is_admin? %>
    <%= link_to 'Añadir información climática', new_admin_area_protegida_informacion_climatica_path(@area_protegida), :class => "crear_nuevo", :remote => true  %>
  <% end %>
<% end %>