<div class="info_container">
  <div class="info_title">
    <p>Información Climática:</p>
  </div>
  <div class="info_content">
    <div class="info_title">Rango de precipitación:</div>
      <div class="info_content"><b>desde:</b> <%=informacion_climatica.CLIMA_PRECIP_DESDE%> mm </div>
      <div class="info_content"><b>hasta:</b> <%=informacion_climatica.CLIMA_PRECIP_HASTA%> mm </div>
    <div class="info_title">Rango de temperatura:</div>
      <div class="info_content"><b>desde:</b> <%=informacion_climatica.CLIMA_TEMP_DESDE%> ºC </div>
      <div class="info_content"><b>hasta:</b> <%=informacion_climatica.CLIMA_TEMP_HASTA%> ºC </div>
    <div class="info_title">Rango de humedad:</div>
      <div class="info_content"><b>desde:</b> <%=informacion_climatica.CLIMA_HUME_DESDE%> % </div>
      <div class="info_content"><b>hasta:</b> <%=informacion_climatica.CLIMA_HUME_HASTA%> % </div>
  </div>

<% if current_user and current_user.is_admin? %>
  <div>
    <%= link_to 'Editar', edit_admin_area_protegida_informacion_climatica_path(@area_protegida, informacion_climatica), :class => "editar_edit", :remote => true %> 
    <%= link_to "Eliminar", admin_area_protegida_informacion_climatica_path(@area_protegida, informacion_climatica), :class => "delete_destroy", :remote => true, :method => :delete, :confirm => "¿Estás seguro? Esta acción es irreversible" %>
  </div>
<% end %>

</div>