<div class="has_container">
  <%= form_for([:admin, @area_protegida, @informacion_legal], :remote => true) do |f| %>
  
  <% if f.object.errors.messages[:base] and f.object.errors.messages[:base].include?("Ya existe esa información legal.") %>
    <div class="alert alert-error">
      Ya existe esa Información Legal.
    </div>
  <% end %>

  <div class="field">
    <%= f.label :AREA_ID, "Área protegida" %>
    <input type="text" disabled="disabled" value="<%= @area_protegida.AREA_NOMBRE %>">
    <%= f.hidden_field :AREA_ID %>
  </div>
  <div class="field">
    <%= f.label :LEGAL_TIPO, "Tipo" %>
    <%= f.select :LEGAL_TIPO, ["Acuerdo Ministerial","Registro Oficial"] %>
  </div>
  <div class="field">
    <%= f.label :LEGAL_FECHA, "Fecha" %>
    <%= f.text_field :LEGAL_FECHA, :class => "datepicker", :required => true %>
    <span class="help-inline">Comprueba que la fecha se haya especificado y que no sea mayor a la fecha actual.</span>
  </div>
  <div class="field">
    <%= f.label :LEGAL_NUMERO, "Número" %>
    <%= f.text_field :LEGAL_NUMERO, :min => 1, :required => true %>
    <span class="help-inline">No puede quedar en blanco.</span>
  </div>
  <div class="actions">
    <%= f.submit "#{f.object.new_record? ? "Crear" : "Actualizar"} Información Legal", :disable_with => "Enviando.." %>
  </div>
<% end %>

  <div><%= link_to "Cancelar", admin_area_protegida_informacion_legals_path(@area_protegida), :remote => true, :class => "cancel_button" %></div>
</div>
