<% informacion_legals.each do |informacion_legal| %>
  <%= render 'admin/informacion_legals/informacion_legal', informacion_legal: informacion_legal %>
<% end %>

<% if current_user and current_user.is_admin? %>
  <div class="">
    <%= link_to 'Añadir información legal', new_admin_area_protegida_informacion_legal_path(@area_protegida), :class => "crear_nuevo", :remote => true %>
  </div>
<% end %>