<table>
  <tr>
    <th>Tipo</th>
    <th>Fecha</th>
    <th>Número</th>
    <th></th>
  </tr>

<% informacion_legals.each do |informacion_legal| %>
  <tr>
    <td><%= informacion_legal.LEGAL_TIPO %></td>
    <td><%= informacion_legal.LEGAL_FECHA %></td>
    <td><%= informacion_legal.LEGAL_NUMERO %></td>
    <td><%= link_to 'editar', edit_admin_area_protegida_informacion_legal_path(area_protegida, informacion_legal), :class => "editar_edit" %>
      <%= link_to 'eliminar', admin_area_protegida_informacion_legal_path(area_protegida, informacion_legal), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy" %></td>
  </tr>
<% end %>
</table>