<div class="info_container has_container">
  <div class="info_title">
    <b><%= informacion_legal.LEGAL_TIPO %>:</b>
  </div>
  <div class="info_content">
    <p>
      <b>Fecha:</b>
      <%= l informacion_legal.LEGAL_FECHA, format: :long %>
    </p>

    <% if informacion_legal.LEGAL_NUMERO %>
      <p>
        <b>Número:</b>
        <%= informacion_legal.LEGAL_NUMERO %>
      </p>
    <% end %>
  </div>

  <% if current_user and current_user.is_admin? %>
    <div>
      <%= link_to 'Editar', edit_admin_area_protegida_informacion_legal_path(@area_protegida, informacion_legal), :class => "editar_edit", :remote => true %>
      <%= link_to 'Eliminar', admin_area_protegida_informacion_legal_path(@area_protegida, informacion_legal), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => "delete_destroy", :remote => true %>
    </div>
  <% end %>
</div>
