<h2><%= @informacion_legal.area_protegida.AREA_NOMBRE %></h2>

<%= render 'informacion_legal', informacion_legal: @informacion_legal %>

<%= link_to 'editar', edit_admin_area_protegida_informacion_legal_path(@area_protegida, @informacion_legal) %> |
<%= link_to 'atrás', admin_area_protegida_informacion_legals_path %>
