  <div id="flashes_on_maps">
    <% flash.each do |key, msg| %>
      <%= content_tag :div, :class => "alert #{key}" do %>
        <%= link_to "x", "#", :class => "close", :data => {:dismiss => "alert"} %>
        <%= msg %>
      <% end -%>
    <% end %>
  </div>