<div id="info_of_the_user">
  <% if current_user %>
    
    <div>
      Hola <%= current_user.nicename %>
    </div>
    
    <% if current_user.is_admin? %>
      <div>
        <%= link_to_unless_current "Administración", admin_area_protegidas_path %>
      </div>
    <% end %>

    <div>
      <%= link_to_unless_current "Cerrar sesión", logout_path %>
    </div>

  <% else %>
    
    <%= link_to_unless_current "Iniciar sesión", login_path %>

  <% end %>
</div>